openapi: 3.1.0
info:
  title: bluesky-social-api
  description: >-
    The Bluesky Social API provides programmatic access to the Bluesky social
    network built on the AT Protocol. 


    This API enables developers to:

    - Manage user profiles and preferences

    - Create, read, and interact with posts and feeds

    - Handle social graph operations (follows, blocks, mutes)

    - Process notifications and conversations

    - Moderate content and manage labels

    - Synchronize repository data


    Authentication is handled via Bearer tokens. Public endpoints can be
    accessed directly at https://public.api.bsky.app, while authenticated
    requests should be made to the user's Personal Data Server (PDS).


    For more information, visit the [Bluesky API
    Documentation](https://docs.bsky.app).
  version: 1.0.0
  contact:
    name: Bluesky Support
    url: https://bsky.app
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://bsky.social/xrpc
    description: Bluesky Social PDS
  - url: https://public.api.bsky.app/xrpc
    description: Public Bluesky AppView API (unauthenticated endpoints)
  - url: http://localhost:8080/rest/bluesky-social-api/1.0.0
    description: Sandbox
tags:
  - name: Actor Profiles
    description: Operations for managing user profiles, preferences, and actor information.
  - name: Embeds
    description: Operations for handling embedded content in posts.
  - name: Feeds
    description: Operations for managing feeds, posts, likes, and reposts.
  - name: Social Graph
    description: Operations for managing follows, followers, blocks, mutes, and lists.
  - name: Content Labels
    description: Operations for managing content labelers and label subscriptions.
  - name: Notifications
    description: Operations for managing user notifications.
  - name: Rich Text
    description: Operations for handling rich text formatting and facets.
  - name: Experimental Features
    description: Experimental and unspecified operations.
  - name: Video
    description: Operations for video upload and processing.
  - name: Chat Actors
    description: Operations for managing chat actor settings and declarations.
  - name: Conversations
    description: Operations for managing direct message conversations.
  - name: Chat Moderation
    description: Operations for moderating chat content.
  - name: Administration
    description: Administrative operations for managing accounts and invites.
  - name: Identity
    description: Operations for identity management and DID resolution.
  - name: Labels
    description: Operations for content labeling and moderation.
  - name: Moderation
    description: Operations for content moderation reporting.
  - name: Repository
    description: Operations for managing AT Protocol repositories.
  - name: Server
    description: Operations for server management and authentication.
  - name: Sync
    description: Operations for repository synchronization.
  - name: Temporary
    description: Temporary operations that may be deprecated.
  - name: Ozone Communication
    description: Ozone moderation tool communication operations.
  - name: Ozone Moderation
    description: Ozone moderation tool operations.
  - name: Ozone Server
    description: Ozone server configuration operations.
  - name: Ozone Sets
    description: Ozone set management operations.
  - name: Ozone Settings
    description: Ozone settings management operations.
  - name: Ozone Signatures
    description: Ozone signature and threat analysis operations.
  - name: Ozone Team
    description: Ozone team member management operations.
paths:
  /xrpc/app.bsky.actor.getPreferences:
    get:
      operationId: actorGetPreferences
      summary: Get private preferences attached to the current account.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get private preferences attached to the current account. Expected use is
        synchronization between multiple devices, and import/export during
        account migration. Requires auth.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: 'ActorGetPreferencesResponse200Example'
      security:
        - Bearer: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - preferences
                properties:
                  preferences:
                    $ref: '#/components/schemas/AppBskyActorDefsPreferences'
              examples:
                ActorGetPreferencesResponse200Example:
                  $ref: '#/components/examples/ActorGetPreferencesResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.getProfile:
    get:
      operationId: actorGetProfile
      summary: Get detailed profile view of an actor.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get detailed profile view of an actor. Does not require auth, but
        contains relevant metadata with auth.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          description: Handle or DID of account to fetch profile of.
          required: true
          schema:
            type: string
            description: Handle or DID of account to fetch profile of.
            format: at-identifier
          example: user.bsky.social
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBskyActorDefsProfileViewDetailed'
              examples:
                ActorGetProfileResponse200Example:
                  $ref: '#/components/examples/ActorGetProfileResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.getProfiles:
    get:
      operationId: actorGetProfiles
      summary: Get detailed profile views of multiple actors.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get detailed profile views of multiple actors.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actors
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: at-identifier
            maxItems: 25
          example:
            - user.bsky.social
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - profiles
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileViewDetailed'
              examples:
                ActorGetProfilesResponse200Example:
                  $ref: '#/components/examples/ActorGetProfilesResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.getSuggestions:
    get:
      operationId: actorGetSuggestions
      summary: Get a list of suggested actors.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of suggested actors. Expected use is discovery of accounts to
        follow during new account onboarding.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - actors
                properties:
                  cursor:
                    type: string
                  actors:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileView'
              examples:
                ActorGetSuggestionsResponse200Example:
                  $ref: '#/components/examples/ActorGetSuggestionsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.putPreferences:
    post:
      operationId: actorPutPreferences
      summary: Set the private preferences attached to the account.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Set the private preferences attached to the account.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - preferences
              properties:
                preferences:
                  $ref: '#/components/schemas/AppBskyActorDefsPreferences'
            examples:
              ActorPutPreferencesRequestExample:
                $ref: '#/components/examples/ActorPutPreferencesRequestExample'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.searchActors:
    get:
      operationId: actorSearchActors
      summary: Find actors (profiles) matching search criteria.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Find actors (profiles) matching search criteria. Does not require auth.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: q
          in: query
          description: >-
            Search query string. Syntax, phrase, boolean, and faceting is
            unspecified, but Lucene query syntax is recommended.
          required: false
          schema:
            type: string
            description: >-
              Search query string. Syntax, phrase, boolean, and faceting is
              unspecified, but Lucene query syntax is recommended.
          example: example-q
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          example: 25
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - actors
                properties:
                  cursor:
                    type: string
                  actors:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileView'
              examples:
                ActorSearchActorsResponse200Example:
                  $ref: '#/components/examples/ActorSearchActorsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.actor.searchActorsTypeahead:
    get:
      operationId: actorSearchActorsTypeahead
      summary: Find actor suggestions for a prefix search term.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Find actor suggestions for a prefix search term. Expected use is for
        auto-completion during text field entry. Does not require auth.
      tags:
        - Actor Profiles
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: q
          in: query
          description: Search query prefix; not a full query string.
          required: false
          schema:
            type: string
            description: Search query prefix; not a full query string.
          example: example-q
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - actors
                properties:
                  actors:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileViewBasic'
              examples:
                ActorSearchActorsTypeaheadResponse200Example:
                  $ref: >-
                    #/components/examples/ActorSearchActorsTypeaheadResponse200Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.describeFeedGenerator:
    get:
      operationId: feedDescribeFeedGenerator
      summary: >-
        Get information about a feed generator, including policies and offered
        feed URIs.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get information about a feed generator, including policies and offered
        feed URIs. Does not require auth; implemented by Feed Generator services
        (not App View).
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - did
                  - feeds
                properties:
                  did:
                    type: string
                    format: did
                  feeds:
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/AppBskyFeedDescribeFeedGeneratorFeed
                  links:
                    $ref: '#/components/schemas/AppBskyFeedDescribeFeedGeneratorLinks'
              examples:
                FeedDescribeFeedGeneratorResponse200Example:
                  $ref: >-
                    #/components/examples/FeedDescribeFeedGeneratorResponse200Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getActorFeeds:
    get:
      operationId: feedGetActorFeeds
      summary: >-
        Get a list of feeds (feed generator records) created by the actor (in
        the actor's repo).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of feeds (feed generator records) created by the actor (in
        the actor's repo).
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feeds
                properties:
                  cursor:
                    type: string
                  feeds:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsGeneratorView'
              examples:
                FeedGetActorFeedsResponse200Example:
                  $ref: '#/components/examples/FeedGetActorFeedsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getActorLikes:
    get:
      operationId: feedGetActorLikes
      summary: Get a list of posts liked by an actor.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of posts liked by an actor. Requires auth, actor must be the
        requesting account.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsFeedViewPost'
              examples:
                FeedGetActorLikesResponse200Example:
                  $ref: '#/components/examples/FeedGetActorLikesResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - BlockedActor
                      - BlockedByActor
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getAuthorFeed:
    get:
      operationId: feedGetAuthorFeed
      summary: Get a view of an actor's 'author feed' (post and reposts by the author).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a view of an actor's 'author feed' (post and reposts by the author).
        Does not require auth.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
        - name: filter
          in: query
          description: Combinations of post/repost types to include in response.
          required: false
          schema:
            type: string
            description: Combinations of post/repost types to include in response.
            default: posts_with_replies
            enum:
              - posts_with_replies
              - posts_no_replies
              - posts_with_media
              - posts_and_author_threads
          example: posts_with_replies
        - name: includePins
          in: query
          required: false
          schema:
            type: boolean
          example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsFeedViewPost'
              examples:
                FeedGetAuthorFeedResponse200Example:
                  $ref: '#/components/examples/FeedGetAuthorFeedResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - BlockedActor
                      - BlockedByActor
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getFeed:
    get:
      operationId: feedGetFeed
      summary: Get a hydrated feed from an actor's selected feed generator.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a hydrated feed from an actor's selected feed generator. Implemented
        by App View.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: feed
          in: query
          required: true
          schema:
            type: string
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsFeedViewPost'
              examples:
                FeedGetFeedResponse200Example:
                  $ref: '#/components/examples/FeedGetFeedResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - UnknownFeed
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getFeedGenerator:
    get:
      operationId: feedGetFeedGenerator
      summary: Get information about a feed generator.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get information about a feed generator. Implemented by AppView.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: feed
          in: query
          description: AT-URI of the feed generator record.
          required: true
          schema:
            type: string
            description: AT-URI of the feed generator record.
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - view
                  - isOnline
                  - isValid
                properties:
                  view:
                    $ref: '#/components/schemas/AppBskyFeedDefsGeneratorView'
                  isOnline:
                    type: boolean
                    description: >-
                      Indicates whether the feed generator service has been
                      online recently, or else seems to be inactive.
                  isValid:
                    type: boolean
                    description: >-
                      Indicates whether the feed generator service is compatible
                      with the record declaration.
              examples:
                FeedGetFeedGeneratorResponse200Example:
                  $ref: '#/components/examples/FeedGetFeedGeneratorResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getFeedGenerators:
    get:
      operationId: feedGetFeedGenerators
      summary: Get information about a list of feed generators.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get information about a list of feed generators.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: feeds
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              format: at-uri
          example:
            - at://did:plc:example123/app.bsky.feed.post/abc123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feeds
                properties:
                  feeds:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsGeneratorView'
              examples:
                FeedGetFeedGeneratorsResponse200Example:
                  $ref: >-
                    #/components/examples/FeedGetFeedGeneratorsResponse200Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getFeedSkeleton:
    get:
      operationId: feedGetFeedSkeleton
      summary: Get a skeleton of a feed provided by a feed generator.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a skeleton of a feed provided by a feed generator. Auth is optional,
        depending on provider requirements, and provides the DID of the
        requester. Implemented by Feed Generator Service.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: feed
          in: query
          description: >-
            Reference to feed generator record describing the specific feed
            being requested.
          required: true
          schema:
            type: string
            description: >-
              Reference to feed generator record describing the specific feed
              being requested.
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsSkeletonFeedPost'
              examples:
                FeedGetFeedSkeletonResponse200Example:
                  $ref: '#/components/examples/FeedGetFeedSkeletonResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - UnknownFeed
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getLikes:
    get:
      operationId: feedGetLikes
      summary: Get like records which reference a subject (by AT-URI and CID).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get like records which reference a subject (by AT-URI and CID).
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: uri
          in: query
          description: AT-URI of the subject (eg, a post record).
          required: true
          schema:
            type: string
            description: AT-URI of the subject (eg, a post record).
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: cid
          in: query
          description: >-
            CID of the subject record (aka, specific version of record), to
            filter likes.
          required: false
          schema:
            type: string
            description: >-
              CID of the subject record (aka, specific version of record), to
              filter likes.
            format: cid
          example: bafyreiabc123example
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - uri
                  - likes
                properties:
                  uri:
                    type: string
                    format: at-uri
                  cid:
                    type: string
                    format: cid
                  cursor:
                    type: string
                  likes:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedGetLikesLike'
              examples:
                FeedGetLikesResponse200Example:
                  $ref: '#/components/examples/FeedGetLikesResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getListFeed:
    get:
      operationId: feedGetListFeed
      summary: >-
        Get a feed of recent posts from a list (posts and reposts from any
        actors on the list).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a feed of recent posts from a list (posts and reposts from any
        actors on the list). Does not require auth.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: list
          in: query
          description: Reference (AT-URI) to the list record.
          required: true
          schema:
            type: string
            description: Reference (AT-URI) to the list record.
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsFeedViewPost'
              examples:
                FeedGetListFeedResponse200Example:
                  $ref: '#/components/examples/FeedGetListFeedResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - UnknownList
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getPostThread:
    get:
      operationId: feedGetPostThread
      summary: Get posts in a thread.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get posts in a thread. Does not require auth, but additional metadata
        and filtering will be applied for authed requests.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: uri
          in: query
          description: Reference (AT-URI) to post record.
          required: true
          schema:
            type: string
            description: Reference (AT-URI) to post record.
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: depth
          in: query
          description: How many levels of reply depth should be included in response.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1000
            default: 6
          example: 6
        - name: parentHeight
          in: query
          description: How many levels of parent (and grandparent, etc) post to include.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 1000
            default: 80
          example: 80
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - thread
                properties:
                  thread:
                    oneOf:
                      - $ref: '#/components/schemas/AppBskyFeedDefsThreadViewPost'
                      - $ref: '#/components/schemas/AppBskyFeedDefsNotFoundPost'
                      - $ref: '#/components/schemas/AppBskyFeedDefsBlockedPost'
                  threadgate:
                    $ref: '#/components/schemas/AppBskyFeedDefsThreadgateView'
              examples:
                FeedGetPostThreadResponse200Example:
                  $ref: '#/components/examples/FeedGetPostThreadResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - NotFound
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getPosts:
    get:
      operationId: feedGetPosts
      summary: Gets post views for a specified list of posts (by AT-URI).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Gets post views for a specified list of posts (by AT-URI). This is
        sometimes referred to as 'hydrating' a 'feed skeleton'.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: uris
          in: query
          description: List of post AT-URIs to return hydrated views for.
          required: true
          schema:
            type: array
            items:
              type: string
              format: at-uri
            maxItems: 25
          example:
            - at://did:plc:example123/app.bsky.feed.post/abc123
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - posts
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsPostView'
              examples:
                FeedGetPostsResponse200Example:
                  $ref: '#/components/examples/FeedGetPostsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getQuotes:
    get:
      operationId: feedGetQuotes
      summary: Get a list of quotes for a given post.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of quotes for a given post.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: uri
          in: query
          description: Reference (AT-URI) of post record
          required: true
          schema:
            type: string
            description: Reference (AT-URI) of post record
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: cid
          in: query
          description: >-
            If supplied, filters to quotes of specific version (by CID) of the
            post record.
          required: false
          schema:
            type: string
            description: >-
              If supplied, filters to quotes of specific version (by CID) of the
              post record.
            format: cid
          example: bafyreiabc123example
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - uri
                  - posts
                properties:
                  uri:
                    type: string
                    format: at-uri
                  cid:
                    type: string
                    format: cid
                  cursor:
                    type: string
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsPostView'
              examples:
                FeedGetQuotesResponse200Example:
                  $ref: '#/components/examples/FeedGetQuotesResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getRepostedBy:
    get:
      operationId: feedGetRepostedBy
      summary: Get a list of reposts for a given post.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of reposts for a given post.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: uri
          in: query
          description: Reference (AT-URI) of post record
          required: true
          schema:
            type: string
            description: Reference (AT-URI) of post record
            format: at-uri
          example: at://did:plc:example123/app.bsky.feed.post/abc123
        - name: cid
          in: query
          description: >-
            If supplied, filters to reposts of specific version (by CID) of the
            post record.
          required: false
          schema:
            type: string
            description: >-
              If supplied, filters to reposts of specific version (by CID) of
              the post record.
            format: cid
          example: bafyreiabc123example
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - uri
                  - repostedBy
                properties:
                  uri:
                    type: string
                    format: at-uri
                  cid:
                    type: string
                    format: cid
                  cursor:
                    type: string
                  repostedBy:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileView'
              examples:
                FeedGetRepostedByResponse200Example:
                  $ref: '#/components/examples/FeedGetRepostedByResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getSuggestedFeeds:
    get:
      operationId: feedGetSuggestedFeeds
      summary: >-
        Get a list of suggested feeds (feed generators) for the requesting
        account.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of suggested feeds (feed generators) for the requesting
        account.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feeds
                properties:
                  cursor:
                    type: string
                  feeds:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsGeneratorView'
              examples:
                FeedGetSuggestedFeedsResponse200Example:
                  $ref: >-
                    #/components/examples/FeedGetSuggestedFeedsResponse200Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.getTimeline:
    get:
      operationId: feedGetTimeline
      summary: Get a view of the requesting account's home timeline.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a view of the requesting account's home timeline. This is expected
        to be some form of reverse-chronological feed.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: algorithm
          in: query
          description: >-
            Variant 'algorithm' for timeline. Implementation-specific. NOTE:
            most feed flexibility has been moved to feed generator mechanism.
          required: false
          schema:
            type: string
            description: >-
              Variant 'algorithm' for timeline. Implementation-specific. NOTE:
              most feed flexibility has been moved to feed generator mechanism.
          example: example-algorithm
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - feed
                properties:
                  cursor:
                    type: string
                  feed:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsFeedViewPost'
              examples:
                FeedGetTimelineResponse200Example:
                  $ref: '#/components/examples/FeedGetTimelineResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.searchPosts:
    get:
      operationId: feedSearchPosts
      summary: Find posts matching search criteria, returning views of those posts.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Find posts matching search criteria, returning views of those posts.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: q
          in: query
          description: >-
            Search query string; syntax, phrase, boolean, and faceting is
            unspecified, but Lucene query syntax is recommended.
          required: true
          schema:
            type: string
            description: >-
              Search query string; syntax, phrase, boolean, and faceting is
              unspecified, but Lucene query syntax is recommended.
          example: example-q
        - name: sort
          in: query
          description: Specifies the ranking order of results.
          required: false
          schema:
            type: string
            description: Specifies the ranking order of results.
            default: latest
            enum:
              - top
              - latest
          example: top
        - name: since
          in: query
          description: >-
            Filter results for posts after the indicated datetime (inclusive).
            Expected to use 'sortAt' timestamp, which may not match 'createdAt'.
            Can be a datetime, or just an ISO date (YYYY-MM-DD).
          required: false
          schema:
            type: string
            description: >-
              Filter results for posts after the indicated datetime (inclusive).
              Expected to use 'sortAt' timestamp, which may not match
              'createdAt'. Can be a datetime, or just an ISO date (YYYY-MM-DD).
          example: example-since
        - name: until
          in: query
          description: >-
            Filter results for posts before the indicated datetime (not
            inclusive). Expected to use 'sortAt' timestamp, which may not match
            'createdAt'. Can be a datetime, or just an ISO date (YYY-MM-DD).
          required: false
          schema:
            type: string
            description: >-
              Filter results for posts before the indicated datetime (not
              inclusive). Expected to use 'sortAt' timestamp, which may not
              match 'createdAt'. Can be a datetime, or just an ISO date
              (YYY-MM-DD).
          example: example-until
        - name: mentions
          in: query
          description: >-
            Filter to posts which mention the given account. Handles are
            resolved to DID before query-time. Only matches rich-text facet
            mentions.
          required: false
          schema:
            type: string
            description: >-
              Filter to posts which mention the given account. Handles are
              resolved to DID before query-time. Only matches rich-text facet
              mentions.
            format: at-identifier
          example: user.bsky.social
        - name: author
          in: query
          description: >-
            Filter to posts by the given account. Handles are resolved to DID
            before query-time.
          required: false
          schema:
            type: string
            description: >-
              Filter to posts by the given account. Handles are resolved to DID
              before query-time.
            format: at-identifier
          example: user.bsky.social
        - name: lang
          in: query
          description: >-
            Filter to posts in the given language. Expected to be based on post
            language field, though server may override language detection.
          required: false
          schema:
            type: string
            description: >-
              Filter to posts in the given language. Expected to be based on
              post language field, though server may override language
              detection.
            format: language
          example: en
        - name: domain
          in: query
          description: >-
            Filter to posts with URLs (facet links or embeds) linking to the
            given domain (hostname). Server may apply hostname normalization.
          required: false
          schema:
            type: string
            description: >-
              Filter to posts with URLs (facet links or embeds) linking to the
              given domain (hostname). Server may apply hostname normalization.
          example: example-domain
        - name: url
          in: query
          description: >-
            Filter to posts with links (facet links or embeds) pointing to this
            URL. Server may apply URL normalization or fuzzy matching.
          required: false
          schema:
            type: string
            description: >-
              Filter to posts with links (facet links or embeds) pointing to
              this URL. Server may apply URL normalization or fuzzy matching.
            format: uri
          example: https://example.com/resource
        - name: tag
          in: query
          description: >-
            Filter to posts with the given tag (hashtag), based on rich-text
            facet or tag field. Do not include the hash (#) prefix. Multiple
            tags can be specified, with 'AND' matching.
          required: false
          schema:
            type: array
            items:
              type: string
              maxLength: 640
          example:
            - example-tag
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          example: 25
        - name: cursor
          in: query
          description: >-
            Optional pagination mechanism; may not necessarily allow scrolling
            through entire result set.
          required: false
          schema:
            type: string
            description: >-
              Optional pagination mechanism; may not necessarily allow scrolling
              through entire result set.
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - posts
                properties:
                  cursor:
                    type: string
                  hitsTotal:
                    type: integer
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyFeedDefsPostView'
              examples:
                FeedSearchPostsResponse200Example:
                  $ref: '#/components/examples/FeedSearchPostsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                      - BadQueryString
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.feed.sendInteractions:
    post:
      operationId: feedSendInteractions
      summary: >-
        Send information about interactions with feed items back to the feed
        generator that served them.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Send information about interactions with feed items back to the feed
        generator that served them.
      tags:
        - Feeds
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - interactions
              properties:
                interactions:
                  type: array
                  items:
                    $ref: '#/components/schemas/AppBskyFeedDefsInteraction'
            examples:
              FeedSendInteractionsRequestExample:
                $ref: '#/components/examples/FeedSendInteractionsRequestExample'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  _unknown_:
                    type: object
                    properties: {}
              examples:
                FeedSendInteractionsResponse200Example:
                  $ref: '#/components/examples/FeedSendInteractionsResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.graph.getActorStarterPacks:
    get:
      operationId: graphGetActorStarterPacks
      summary: Get a list of starter packs created by the actor.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Get a list of starter packs created by the actor.
      tags:
        - Social Graph
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - starterPacks
                properties:
                  cursor:
                    type: string
                  starterPacks:
                    type: array
                    items:
                      $ref: >-
                        #/components/schemas/AppBskyGraphDefsStarterPackViewBasic
              examples:
                GraphGetActorStarterPacksResponse200Example:
                  $ref: >-
                    #/components/examples/GraphGetActorStarterPacksResponse200Example
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.graph.getBlocks:
    get:
      operationId: graphGetBlocks
      summary: Enumerates which accounts the requesting account is currently blocking.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Enumerates which accounts the requesting account is currently blocking.
        Requires auth.
      tags:
        - Social Graph
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - blocks
                properties:
                  cursor:
                    type: string
                  blocks:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileView'
              examples:
                GraphGetBlocksResponse200Example:
                  $ref: '#/components/examples/GraphGetBlocksResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.graph.getFollowers:
    get:
      operationId: graphGetFollowers
      summary: Enumerates accounts which follow a specified account (actor).
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Enumerates accounts which follow a specified account (actor).
      tags:
        - Social Graph
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          example: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          example: eyJsYXN0SWQiOiIxMjM0NTYifQ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - subject
                  - followers
                properties:
                  subject:
                    $ref: '#/components/schemas/AppBskyActorDefsProfileView'
                  cursor:
                    type: string
                  followers:
                    type: array
                    items:
                      $ref: '#/components/schemas/AppBskyActorDefsProfileView'
              examples:
                GraphGetFollowersResponse200Example:
                  $ref: '#/components/examples/GraphGetFollowersResponse200Example'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    type: string
                    enum:
                      - InvalidRequest
                      - ExpiredToken
                      - InvalidToken
                  message:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                  - error
                  - message
                properties:
                  error:
                    const: AuthMissing
                  message:
                    type: string
  /xrpc/app.bsky.graph.getFollows:
    get:
      operationId: graphGetFollows
      summary: Enumerates accounts which a specified account (actor) follows.
      description: >-
        *This endpoint is part of the Bluesky application Lexicon APIs
        (`app.bsky.*`). Public endpoints which don't require authentication can
        be made directly against the public Bluesky AppView API:
        https://public.api.bsky.app. Authenticated requests are usually made to
        the user's PDS, with automatic service proxying. Authenticated requests
        can be used for both public and non-public endpoints.*


        *To learn more about calling atproto API endpoints like this one, see
        the [API Hosts and Auth](/docs/advanced-guides/api-directory) guide.*


        Enumerates accounts which a specified account (actor) follows.
      tags:
        - Social Graph
      x-microcks-operation:
        delay: 100
        dispatcher: FALLBACK
        dispatcherRules: ''
      security:
        - Bearer: []
      parameters:
        - name: actor
          in: query
          required: true
          schema:
            type: string
            format: at-identifier
          example: user.bsky.social
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
[...]
