openapi: 3.1.0
info:
  title: openai-embeddings-api
  description: >
    The OpenAI Embeddings API provides vector representations of text inputs
    that can be easily consumed 

    by machine learning models and algorithms. Embeddings are useful for
    semantic search, clustering, 

    recommendations, anomaly detection, and classification tasks.
  version: 2.0.0
  termsOfService: https://openai.com/policies/terms-of-use
  contact:
    name: OpenAI Support
    url: https://help.openai.com/
  license:
    name: MIT
    url: https://github.com/openai/openai-openapi/blob/master/LICENSE
servers:
  - url: https://api.openai.com/v1
    description: OpenAI API Production Server
  - url: http://localhost:8080/rest/openai-embeddings-api/2.0.0
    description: Sandbox
tags:
  - name: Embeddings
    description: >-
      Generate vector representations of text for use in machine learning
      applications.
paths:
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
        - Embeddings
      summary: Create embeddings
      description: >-
        Creates an embedding vector representing the input text. The resulting
        vectors can be used for semantic search, clustering, recommendations,
        and other machine learning tasks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingRequest'
            examples:
              CreateEmbeddingRequestExample:
                $ref: '#/components/examples/CreateEmbeddingRequestExample'
      responses:
        '200':
          description: A list of embedding objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEmbeddingResponse'
              examples:
                CreateEmbeddingResponseExample:
                  $ref: '#/components/examples/CreateEmbeddingResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CreateEmbeddingResponseExample"
components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    CreateEmbeddingRequest:
      type: object
      description: Request body for creating embeddings.
      additionalProperties: false
      properties:
        input:
          oneOf:
            - type: string
              description: The string to embed.
            - type: array
              description: The array of strings to embed.
              items:
                type: string
            - type: array
              description: The array of integers (tokens) to embed.
              items:
                type: integer
            - type: array
              description: The array of arrays containing integers (tokens) to embed.
              items:
                type: array
                items:
                  type: integer
          description: >-
            Input text to embed, encoded as a string or array of tokens. To
            embed multiple inputs in a single request, pass an array of strings
            or array of token arrays.
        model:
          type: string
          description: >-
            ID of the model to use. You can use text-embedding-ada-002 or
            text-embedding-3-small/large.
        encoding_format:
          type: string
          default: float
          description: The format to return the embeddings in.
          enum:
            - float
            - base64
        dimensions:
          type: integer
          minimum: 1
          description: >-
            The number of dimensions the resulting output embeddings should
            have. Only supported in text-embedding-3 and later models.
        user:
          type: string
          description: >-
            A unique identifier representing your end-user, which can help
            OpenAI to monitor and detect abuse.
      required:
        - model
        - input
    CreateEmbeddingResponse:
      type: object
      description: Response containing the generated embeddings.
      properties:
        data:
          type: array
          description: The list of embeddings generated by the model.
          items:
            $ref: '#/components/schemas/Embedding'
        model:
          type: string
          description: The name of the model used to generate the embedding.
        object:
          type: string
          description: The object type, which is always list.
          enum:
            - list
        usage:
          $ref: '#/components/schemas/EmbeddingUsage'
      required:
        - object
        - model
        - data
        - usage
    Embedding:
      type: object
      description: Represents an embedding vector returned by embedding endpoint.
      properties:
        embedding:
          type: array
          description: >-
            The embedding vector, which is a list of floats. The length depends
            on the model used.
          items:
            type: number
        index:
          type: integer
          description: The index of the embedding in the list of embeddings.
        object:
          type: string
          description: The object type, which is always embedding.
          enum:
            - embedding
      required:
        - embedding
        - index
        - object
    EmbeddingUsage:
      type: object
      description: Usage statistics for the embedding request.
      properties:
        prompt_tokens:
          type: integer
          description: The number of tokens used by the prompt.
        total_tokens:
          type: integer
          description: The total number of tokens used by the request.
      required:
        - prompt_tokens
        - total_tokens
  examples:
    CreateEmbeddingRequestExample:
      summary: Example embedding request
      value:
        input: The food was delicious and the waiter...
        model: text-embedding-ada-002
        encoding_format: float
    CreateEmbeddingResponseExample:
      summary: Example embedding response
      value:
        object: list
        data:
          - object: embedding
            embedding:
              - 0.0023064255
              - -0.009327292
              - 0.015797347
              - -0.007598236
              - -0.0028842222
            index: 0
        model: text-embedding-ada-002
        usage:
          prompt_tokens: 8
          total_tokens: 8
security:
  - ApiKeyAuth: []
