openapi: 3.1.0
info:
  title: google-sheets-api
  description: >-
    The Google Sheets API is a RESTful interface that lets you read and modify a
    spreadsheet's data. You can use this API to create spreadsheets, read and
    write cell values, update formatting, manage sheets, and work with developer
    metadata.
  version: 1.0.0
  contact:
    name: Google
    url: https://developers.google.com/sheets/api
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://sheets.googleapis.com
    description: Google Sheets API Production Server
  - url: http://localhost:8080/rest/google-sheets-api/1.0.0
    description: Local Development Sandbox
security:
  - OAuth2Auth: []
tags:
  - name: Cell Values
    description: Operations for reading and writing cell values in spreadsheets
  - name: Batch Operations
    description: Operations for performing bulk updates and retrievals
  - name: Spreadsheet Management
    description: Operations for creating and managing spreadsheets
  - name: Sheet Management
    description: Operations for managing individual sheets within spreadsheets
  - name: Developer Metadata
    description: Operations for working with developer metadata
  - name: Data Filters
    description: Operations using data filters to select ranges
paths:
  /v4/spreadsheets/{spreadsheetId}/values/{range}:
    get:
      tags:
        - Cell Values
      operationId: getValues
      summary: Get Cell Values
      description: >-
        Returns a range of values from a spreadsheet. The caller must specify
        the spreadsheet ID and a range using A1 notation.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - $ref: '#/components/parameters/RangePath'
        - name: majorDimension
          in: query
          description: The major dimension that results should use (ROWS or COLUMNS)
          schema:
            type: string
            enum:
              - ROWS
              - COLUMNS
            example: ROWS
        - name: valueRenderOption
          in: query
          description: How values should be represented in the output
          schema:
            type: string
            enum:
              - FORMATTED_VALUE
              - UNFORMATTED_VALUE
              - FORMULA
            example: FORMATTED_VALUE
        - name: dateTimeRenderOption
          in: query
          description: How dates, times, and durations should be represented in the output
          schema:
            type: string
            enum:
              - SERIAL_NUMBER
              - FORMATTED_STRING
            example: FORMATTED_STRING
      responses:
        '200':
          description: Successfully retrieved cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueRange'
              examples:
                GetValuesSuccessExample:
                  $ref: '#/components/examples/GetValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "GetValuesSuccessExample"
          return result
    put:
      tags:
        - Cell Values
      operationId: updateValues
      summary: Update Cell Values
      description: >-
        Sets values in a range of a spreadsheet. The caller must specify the
        spreadsheet ID, range, and a valueInputOption.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - $ref: '#/components/parameters/RangePath'
        - name: valueInputOption
          in: query
          description: How the input data should be interpreted
          required: true
          schema:
            type: string
            enum:
              - RAW
              - USER_ENTERED
            example: USER_ENTERED
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueRange'
            examples:
              UpdateValuesRequestExample:
                $ref: '#/components/examples/UpdateValuesRequestExample'
      responses:
        '200':
          description: Successfully updated cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateValuesResponse'
              examples:
                UpdateValuesSuccessExample:
                  $ref: '#/components/examples/UpdateValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "UpdateValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values/{range}:append:
    post:
      tags:
        - Cell Values
      operationId: appendValues
      summary: Append Cell Values
      description: >-
        Appends values to a spreadsheet. The input range is used to search for
        existing data and find a table within that range. Values will be
        appended to the next row of the table, starting with the first column.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - $ref: '#/components/parameters/RangePath'
        - name: valueInputOption
          in: query
          description: How the input data should be interpreted
          required: true
          schema:
            type: string
            enum:
              - RAW
              - USER_ENTERED
            example: USER_ENTERED
        - name: insertDataOption
          in: query
          description: How the input data should be inserted
          schema:
            type: string
            enum:
              - OVERWRITE
              - INSERT_ROWS
            example: INSERT_ROWS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueRange'
            examples:
              AppendValuesRequestExample:
                $ref: '#/components/examples/AppendValuesRequestExample'
      responses:
        '200':
          description: Successfully appended cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppendValuesResponse'
              examples:
                AppendValuesSuccessExample:
                  $ref: '#/components/examples/AppendValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "AppendValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values/{range}:clear:
    post:
      tags:
        - Cell Values
      operationId: clearValues
      summary: Clear Cell Values
      description: >-
        Clears values from a spreadsheet. The caller must specify the
        spreadsheet ID and range. Only values are cleared; all other properties
        of the cell (such as formatting, data validation, etc.) are kept.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - $ref: '#/components/parameters/RangePath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClearValuesRequest'
            examples:
              ClearValuesRequestExample:
                $ref: '#/components/examples/ClearValuesRequestExample'
      responses:
        '200':
          description: Successfully cleared cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearValuesResponse'
              examples:
                ClearValuesSuccessExample:
                  $ref: '#/components/examples/ClearValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "ClearValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchGet:
    get:
      tags:
        - Batch Operations
        - Cell Values
      operationId: batchGetValues
      summary: Batch Get Cell Values
      description: >-
        Returns one or more ranges of values from a spreadsheet. The caller must
        specify the spreadsheet ID and one or more ranges.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - name: ranges
          in: query
          description: The A1 notation of the ranges to retrieve
          schema:
            type: array
            items:
              type: string
            example:
              - Sheet1!A1:D5
              - Sheet2!A1:B10
        - name: majorDimension
          in: query
          description: The major dimension that results should use
          schema:
            type: string
            enum:
              - ROWS
              - COLUMNS
            example: ROWS
        - name: valueRenderOption
          in: query
          description: How values should be represented in the output
          schema:
            type: string
            enum:
              - FORMATTED_VALUE
              - UNFORMATTED_VALUE
              - FORMULA
            example: FORMATTED_VALUE
      responses:
        '200':
          description: Successfully retrieved batch cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetValuesResponse'
              examples:
                BatchGetValuesSuccessExample:
                  $ref: '#/components/examples/BatchGetValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchGetValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchUpdate:
    post:
      tags:
        - Batch Operations
        - Cell Values
      operationId: batchUpdateValues
      summary: Batch Update Cell Values
      description: >-
        Sets values in one or more ranges of a spreadsheet. The caller must
        specify the spreadsheet ID, a valueInputOption, and one or more
        ValueRanges.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateValuesRequest'
            examples:
              BatchUpdateValuesRequestExample:
                $ref: '#/components/examples/BatchUpdateValuesRequestExample'
      responses:
        '200':
          description: Successfully updated batch cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateValuesResponse'
              examples:
                BatchUpdateValuesSuccessExample:
                  $ref: '#/components/examples/BatchUpdateValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchUpdateValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchClear:
    post:
      tags:
        - Batch Operations
        - Cell Values
      operationId: batchClearValues
      summary: Batch Clear Cell Values
      description: >-
        Clears one or more ranges of values from a spreadsheet. The caller must
        specify the spreadsheet ID and one or more ranges. Only values are
        cleared; all other properties of the cell are kept.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchClearValuesRequest'
            examples:
              BatchClearValuesRequestExample:
                $ref: '#/components/examples/BatchClearValuesRequestExample'
      responses:
        '200':
          description: Successfully cleared batch cell values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchClearValuesResponse'
              examples:
                BatchClearValuesSuccessExample:
                  $ref: '#/components/examples/BatchClearValuesSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchClearValuesSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter:
    post:
      tags:
        - Batch Operations
        - Data Filters
      operationId: batchClearValuesByDataFilter
      summary: Batch Clear Values By Data Filter
      description: >-
        Clears one or more ranges of values from a spreadsheet. The caller must
        specify the spreadsheet ID and one or more DataFilters. Ranges matching
        any of the specified data filters will be cleared.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchClearValuesByDataFilterRequest'
            examples:
              BatchClearValuesByDataFilterRequestExample:
                $ref: >-
                  #/components/examples/BatchClearValuesByDataFilterRequestExample
      responses:
        '200':
          description: Successfully cleared values by data filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchClearValuesByDataFilterResponse'
              examples:
                BatchClearValuesByDataFilterSuccessExample:
                  $ref: >-
                    #/components/examples/BatchClearValuesByDataFilterSuccessExample
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchClearValuesByDataFilterSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter:
    post:
      tags:
        - Batch Operations
        - Data Filters
      operationId: batchGetValuesByDataFilter
      summary: Batch Get Values By Data Filter
      description: >-
        Returns one or more ranges of values that match the specified data
        filters. The caller must specify the spreadsheet ID and one or more
        DataFilters.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchGetValuesByDataFilterRequest'
            examples:
              BatchGetValuesByDataFilterRequestExample:
                $ref: '#/components/examples/BatchGetValuesByDataFilterRequestExample'
      responses:
        '200':
          description: Successfully retrieved values by data filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetValuesByDataFilterResponse'
              examples:
                BatchGetValuesByDataFilterSuccessExample:
                  $ref: >-
                    #/components/examples/BatchGetValuesByDataFilterSuccessExample
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchGetValuesByDataFilterSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter:
    post:
      tags:
        - Batch Operations
        - Data Filters
      operationId: batchUpdateValuesByDataFilter
      summary: Batch Update Values By Data Filter
      description: >-
        Sets values in one or more ranges of a spreadsheet. The caller must
        specify the spreadsheet ID, a valueInputOption, and one or more
        DataFilterValueRanges.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateValuesByDataFilterRequest'
            examples:
              BatchUpdateValuesByDataFilterRequestExample:
                $ref: >-
                  #/components/examples/BatchUpdateValuesByDataFilterRequestExample
      responses:
        '200':
          description: Successfully updated values by data filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateValuesByDataFilterResponse'
              examples:
                BatchUpdateValuesByDataFilterSuccessExample:
                  $ref: >-
                    #/components/examples/BatchUpdateValuesByDataFilterSuccessExample
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchUpdateValuesByDataFilterSuccessExample"
          return result
  /v4/spreadsheets:
    post:
      tags:
        - Spreadsheet Management
      operationId: createSpreadsheet
      summary: Create Spreadsheet
      description: Creates a spreadsheet, returning the newly created spreadsheet.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Spreadsheet'
            examples:
              CreateSpreadsheetRequestExample:
                $ref: '#/components/examples/CreateSpreadsheetRequestExample'
      responses:
        '200':
          description: Successfully created spreadsheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                CreateSpreadsheetSuccessExample:
                  $ref: '#/components/examples/CreateSpreadsheetSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "CreateSpreadsheetSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}:
    get:
      tags:
        - Spreadsheet Management
      operationId: getSpreadsheet
      summary: Get Spreadsheet
      description: >-
        Returns the spreadsheet at the given ID. The caller must specify the
        spreadsheet ID. By default, data within grids is not returned.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - name: ranges
          in: query
          description: The ranges to retrieve from the spreadsheet
          schema:
            type: array
            items:
              type: string
            example:
              - Sheet1!A1:D5
        - name: includeGridData
          in: query
          description: True if grid data should be returned
          schema:
            type: boolean
            example: false
      responses:
        '200':
          description: Successfully retrieved spreadsheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                GetSpreadsheetSuccessExample:
                  $ref: '#/components/examples/GetSpreadsheetSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "GetSpreadsheetSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}:batchUpdate:
    post:
      tags:
        - Spreadsheet Management
        - Batch Operations
      operationId: batchUpdateSpreadsheet
      summary: Batch Update Spreadsheet
      description: >-
        Applies one or more updates to the spreadsheet. Each request is
        validated before being applied. If any request is not valid then the
        entire request will fail and nothing will be applied.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateSpreadsheetRequest'
            examples:
              BatchUpdateSpreadsheetRequestExample:
                $ref: '#/components/examples/BatchUpdateSpreadsheetRequestExample'
      responses:
        '200':
          description: Successfully applied batch updates to spreadsheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateSpreadsheetResponse'
              examples:
                BatchUpdateSpreadsheetSuccessExample:
                  $ref: '#/components/examples/BatchUpdateSpreadsheetSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "BatchUpdateSpreadsheetSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}:getByDataFilter:
    post:
      tags:
        - Spreadsheet Management
        - Data Filters
      operationId: getSpreadsheetByDataFilter
      summary: Get Spreadsheet By Data Filter
      description: >-
        Returns the spreadsheet at the given ID. This method differs from
        GetSpreadsheet in that it allows selecting which subsets of spreadsheet
        data to return by specifying a dataFilters parameter.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSpreadsheetByDataFilterRequest'
            examples:
              GetSpreadsheetByDataFilterRequestExample:
                $ref: '#/components/examples/GetSpreadsheetByDataFilterRequestExample'
      responses:
        '200':
          description: Successfully retrieved spreadsheet by data filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                GetSpreadsheetByDataFilterSuccessExample:
                  $ref: >-
                    #/components/examples/GetSpreadsheetByDataFilterSuccessExample
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "GetSpreadsheetByDataFilterSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo:
    post:
      tags:
        - Sheet Management
      operationId: copySheetToSpreadsheet
      summary: Copy Sheet To Another Spreadsheet
      description: >-
        Copies a single sheet from a spreadsheet to another spreadsheet. Returns
        the properties of the newly created sheet.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - name: sheetId
          in: path
          description: The ID of the sheet to copy
          required: true
          schema:
            type: integer
            example: 0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopySheetToAnotherSpreadsheetRequest'
            examples:
              CopySheetRequestExample:
                $ref: '#/components/examples/CopySheetRequestExample'
      responses:
        '200':
          description: Successfully copied sheet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SheetProperties'
              examples:
                CopySheetSuccessExample:
                  $ref: '#/components/examples/CopySheetSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "CopySheetSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}:
    get:
      tags:
        - Developer Metadata
      operationId: getDeveloperMetadata
      summary: Get Developer Metadata
      description: >-
        Returns the developer metadata with the specified ID. The caller must
        specify the spreadsheet ID and the developer metadata's unique
        metadataId.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
        - name: metadataId
          in: path
          description: The ID of the developer metadata to retrieve
          required: true
          schema:
            type: integer
            example: 12345
      responses:
        '200':
          description: Successfully retrieved developer metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperMetadata'
              examples:
                GetDeveloperMetadataSuccessExample:
                  $ref: '#/components/examples/GetDeveloperMetadataSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "GetDeveloperMetadataSuccessExample"
          return result
  /v4/spreadsheets/{spreadsheetId}/developerMetadata:search:
    post:
      tags:
        - Developer Metadata
        - Data Filters
      operationId: searchDeveloperMetadata
      summary: Search Developer Metadata
      description: >-
        Returns all developer metadata matching the specified DataFilter. If the
        provided DataFilter represents a DeveloperMetadataLookup object, this
        will return all DeveloperMetadata entries selected by it.
      security:
        - OAuth2Auth: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/AcceptHeader'
        - $ref: '#/components/parameters/SpreadsheetIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchDeveloperMetadataRequest'
            examples:
              SearchDeveloperMetadataRequestExample:
                $ref: '#/components/examples/SearchDeveloperMetadataRequestExample'
      responses:
        '200':
          description: Successfully searched developer metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchDeveloperMetadataResponse'
              examples:
                SearchDeveloperMetadataSuccessExample:
                  $ref: '#/components/examples/SearchDeveloperMetadataSuccessExample'
      x-microcks-operation:
        delay: 100
        dispatcher: SCRIPT
        dispatcherRules: |
          def result = "SearchDeveloperMetadataSuccessExample"
          return result
components:
  parameters:
    AcceptHeader:
      name: Accept
      in: header
      description: The media type of the response
      schema:
        type: string
        example: application/json
    ContentTypeHeader:
      name: Content-Type
      in: header
      description: The media type of the request body
      schema:
        type: string
        example: application/json
    SpreadsheetIdPath:
      name: spreadsheetId
      in: path
      description: The ID of the spreadsheet to operate on
      required: true
      schema:
        type: string
        example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
    RangePath:
      name: range
      in: path
      description: The A1 notation of the range to operate on
      required: true
      schema:
        type: string
        example: Sheet1!A1:D5
  schemas:
    ValueRange:
      description: Data within a range of the spreadsheet
      type: object
      properties:
        range:
          type: string
          description: The range the values cover, in A1 notation
          example: Sheet1!A1:D5
        majorDimension:
          type: string
          description: The major dimension of the values
          enum:
            - ROWS
            - COLUMNS
          example: ROWS
        values:
          type: array
          description: The data that was read or to be written
          items:
            type: array
            items:
              oneOf:
                - type: string
                - type: number
                - type: boolean
          example:
            - - Name
              - Age
              - City
            - - John
              - 30
              - New York
            - - Jane
              - 25
              - Los Angeles
    UpdateValuesResponse:
      description: Response when updating values in a spreadsheet
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        updatedRange:
          type: string
          description: The range that was updated
          example: Sheet1!A1:C3
        updatedRows:
          type: integer
          description: The number of rows updated
          example: 3
        updatedColumns:
          type: integer
          description: The number of columns updated
          example: 3
        updatedCells:
          type: integer
          description: The number of cells updated
          example: 9
        updatedData:
          $ref: '#/components/schemas/ValueRange'
    AppendValuesResponse:
      description: Response when appending values to a spreadsheet
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        tableRange:
          type: string
          description: The range of the table that was appended to
          example: Sheet1!A1:C10
        updates:
          $ref: '#/components/schemas/UpdateValuesResponse'
    ClearValuesRequest:
      description: Request to clear values from a range
      type: object
      properties: {}
    ClearValuesResponse:
      description: Response when clearing values from a spreadsheet
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRange:
          type: string
          description: The range that was cleared
          example: Sheet1!A1:D5
    BatchGetValuesResponse:
      description: Response when getting multiple ranges of values
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet ID
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        valueRanges:
          type: array
          description: The requested ranges of values
          items:
            $ref: '#/components/schemas/ValueRange'
    BatchUpdateValuesRequest:
      description: Request to update multiple ranges of values
      type: object
      properties:
        valueInputOption:
          type: string
          description: How the input data should be interpreted
          enum:
            - RAW
            - USER_ENTERED
          example: USER_ENTERED
        data:
          type: array
          description: The new values to apply to the spreadsheet
          items:
            $ref: '#/components/schemas/ValueRange'
        includeValuesInResponse:
          type: boolean
          description: >-
            Determines if the update response should include the values of the
            cells that were updated
          example: true
        responseValueRenderOption:
          type: string
          description: How values should be rendered in the response
          enum:
            - FORMATTED_VALUE
            - UNFORMATTED_VALUE
            - FORMULA
          example: FORMATTED_VALUE
        responseDateTimeRenderOption:
          type: string
          description: How dates, times, and durations should be rendered in the response
          enum:
            - SERIAL_NUMBER
            - FORMATTED_STRING
          example: FORMATTED_STRING
    BatchUpdateValuesResponse:
      description: Response when batch updating values
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        totalUpdatedRows:
          type: integer
          description: The total number of rows updated
          example: 10
        totalUpdatedColumns:
          type: integer
          description: The total number of columns updated
          example: 5
        totalUpdatedCells:
          type: integer
          description: The total number of cells updated
          example: 50
        totalUpdatedSheets:
          type: integer
          description: The total number of sheets updated
          example: 2
        responses:
          type: array
          description: The response for each range updated
          items:
            $ref: '#/components/schemas/UpdateValuesResponse'
    BatchClearValuesRequest:
      description: Request to clear multiple ranges of values
      type: object
      properties:
        ranges:
          type: array
          description: The ranges to clear, in A1 notation
          items:
            type: string
          example:
            - Sheet1!A1:D5
            - Sheet2!A1:B10
    BatchClearValuesResponse:
      description: Response when batch clearing values
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRanges:
          type: array
          description: The ranges that were cleared
          items:
            type: string
          example:
            - Sheet1!A1:D5
            - Sheet2!A1:B10
    DataFilter:
      description: Filter that describes what data should be selected or returned
      type: object
      properties:
        developerMetadataLookup:
          $ref: '#/components/schemas/DeveloperMetadataLookup'
        a1Range:
          type: string
          description: Selects data that matches the specified A1 range
          example: Sheet1!A1:D5
        gridRange:
          $ref: '#/components/schemas/GridRange'
    DeveloperMetadataLookup:
      description: Selects DeveloperMetadata that matches specified criteria
      type: object
      properties:
        locationType:
          type: string
          description: >-
            Limits the selected developer metadata to those entries which are
            associated with locations of the specified type
          enum:
            - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
            - ROW
            - COLUMN
            - SHEET
            - SPREADSHEET
          example: SHEET
        metadataLocation:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        locationMatchingStrategy:
          type: string
          description: Determines how developer metadata entries are matched
          enum:
            - DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED
            - EXACT_LOCATION
            - INTERSECTING_LOCATION
          example: INTERSECTING_LOCATION
        metadataId:
          type: integer
          description: >-
            Limits the selected developer metadata to that which has a matching
            DeveloperMetadata.metadata_id
          example: 12345
        metadataKey:
          type: string
          description: >-
            Limits the selected developer metadata to that which has a matching
            DeveloperMetadata.metadata_key
          example: myKey
        metadataValue:
          type: string
          description: >-
            Limits the selected developer metadata to that which has a matching
            DeveloperMetadata.metadata_value
          example: myValue
        visibility:
          type: string
          description: >-
            Limits the selected developer metadata to that which has a matching
            DeveloperMetadata.visibility
          enum:
            - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
            - DOCUMENT
            - PROJECT
          example: DOCUMENT
    GridRange:
      description: A range on a sheet
      type: object
      properties:
        sheetId:
          type: integer
          description: The sheet this range is on
          example: 0
        startRowIndex:
          type: integer
          description: The start row (inclusive) of the range
          example: 0
        endRowIndex:
          type: integer
          description: The end row (exclusive) of the range
          example: 10
        startColumnIndex:
          type: integer
          description: The start column (inclusive) of the range
          example: 0
        endColumnIndex:
          type: integer
          description: The end column (exclusive) of the range
          example: 5
    BatchClearValuesByDataFilterRequest:
      description: Request to clear values by data filter
      type: object
      properties:
        dataFilters:
          type: array
          description: The DataFilters used to determine which ranges to clear
          items:
            $ref: '#/components/schemas/DataFilter'
    BatchClearValuesByDataFilterResponse:
      description: Response when clearing values by data filter
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRanges:
          type: array
          description: The ranges that were cleared
          items:
            type: string
          example:
            - Sheet1!A1:D5
            - Sheet2!A1:B10
    BatchGetValuesByDataFilterRequest:
      description: Request to get values by data filter
      type: object
      properties:
        dataFilters:
          type: array
          description: The DataFilters used to determine which ranges to retrieve
          items:
            $ref: '#/components/schemas/DataFilter'
        majorDimension:
          type: string
          description: The major dimension that results should use
          enum:
            - ROWS
            - COLUMNS
          example: ROWS
        valueRenderOption:
          type: string
          description: How values should be represented in the output
          enum:
            - FORMATTED_VALUE
            - UNFORMATTED_VALUE
            - FORMULA
          example: FORMATTED_VALUE
        dateTimeRenderOption:
          type: string
          description: How dates, times, and durations should be rendered
          enum:
            - SERIAL_NUMBER
            - FORMATTED_STRING
          example: FORMATTED_STRING
    MatchedValueRange:
      description: A value range that was matched by one or more data filters
      type: object
      properties:
        valueRange:
          $ref: '#/components/schemas/ValueRange'
        dataFilters:
          type: array
          description: The DataFilters from the request that matched the range
          items:
            $ref: '#/components/schemas/DataFilter'
    BatchGetValuesByDataFilterResponse:
      description: Response when getting values by data filter
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet ID
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        valueRanges:
          type: array
          description: The requested values with the list of data filters that matched them
          items:
            $ref: '#/components/schemas/MatchedValueRange'
    DataFilterValueRange:
      description: A data filter and the values to update
      type: object
      properties:
        dataFilter:
          $ref: '#/components/schemas/DataFilter'
        majorDimension:
          type: string
          description: The major dimension of the values
          enum:
            - ROWS
            - COLUMNS
          example: ROWS
        values:
          type: array
          description: The data to be written
          items:
            type: array
            items:
              oneOf:
                - type: string
                - type: number
                - type: boolean
          example:
            - - Value1
              - Value2
    BatchUpdateValuesByDataFilterRequest:
      description: Request to update values by data filter
      type: object
      properties:
        valueInputOption:
          type: string
          description: How the input data should be interpreted
          enum:
            - RAW
            - USER_ENTERED
          example: USER_ENTERED
        data:
          type: array
          description: The new values to apply to the spreadsheet
          items:
            $ref: '#/components/schemas/DataFilterValueRange'
        includeValuesInResponse:
          type: boolean
          description: >-
            Determines if the response should include the values of the cells
            that were updated
          example: true
        responseValueRenderOption:
          type: string
          description: How values should be rendered in the response
          enum:
            - FORMATTED_VALUE
            - UNFORMATTED_VALUE
            - FORMULA
          example: FORMATTED_VALUE
        responseDateTimeRenderOption:
          type: string
          description: How dates, times, and durations should be rendered
          enum:
            - SERIAL_NUMBER
            - FORMATTED_STRING
          example: FORMATTED_STRING
    UpdateValuesByDataFilterResponse:
      description: Response for a single update by data filter
      type: object
      properties:
        updatedRange:
          type: string
          description: The range that was updated
          example: Sheet1!A1:B2
        updatedRows:
          type: integer
          description: The number of rows updated
          example: 2
        updatedColumns:
          type: integer
          description: The number of columns updated
          example: 2
        updatedCells:
          type: integer
          description: The number of cells updated
          example: 4
        updatedData:
          $ref: '#/components/schemas/ValueRange'
        dataFilter:
          $ref: '#/components/schemas/DataFilter'
    BatchUpdateValuesByDataFilterResponse:
      description: Response when updating values by data filter
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        totalUpdatedRows:
          type: integer
          description: The total number of rows updated
          example: 10
        totalUpdatedColumns:
          type: integer
          description: The total number of columns updated
          example: 5
        totalUpdatedCells:
          type: integer
          description: The total number of cells updated
          example: 50
        totalUpdatedSheets:
          type: integer
          description: The total number of sheets updated
          example: 2
        responses:
          type: array
          description: The response for each range updated
          items:
            $ref: '#/components/schemas/UpdateValuesByDataFilterResponse'
    SpreadsheetProperties:
      description: Properties of a spreadsheet
      type: object
      properties:
        title:
          type: string
          description: The title of the spreadsheet
          example: My Spreadsheet
        locale:
          type: string
          description: The locale of the spreadsheet
          example: en_US
        autoRecalc:
          type: string
          description: The amount of time to wait before recalculating
          enum:
            - RECALCULATION_INTERVAL_UNSPECIFIED
            - ON_CHANGE
            - MINUTE
            - HOUR
          example: ON_CHANGE
        timeZone:
          type: string
          description: The time zone of the spreadsheet
          example: America/New_York
        defaultFormat:
          $ref: '#/components/schemas/CellFormat'
        iterativeCalculationSettings:
          $ref: '#/components/schemas/IterativeCalculationSettings'
        spreadsheetTheme:
          $ref: '#/components/schemas/SpreadsheetTheme'
    CellFormat:
      description: The format of a cell
      type: object
      properties:
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        backgroundColor:
          $ref: '#/components/schemas/Color'
        borders:
          $ref: '#/components/schemas/Borders'
        padding:
          $ref: '#/components/schemas/Padding'
        horizontalAlignment:
          type: string
          enum:
            - HORIZONTAL_ALIGN_UNSPECIFIED
            - LEFT
            - CENTER
            - RIGHT
          example: LEFT
        verticalAlignment:
          type: string
          enum:
            - VERTICAL_ALIGN_UNSPECIFIED
            - TOP
            - MIDDLE
            - BOTTOM
          example: TOP
        wrapStrategy:
          type: string
          enum:
            - WRAP_STRATEGY_UNSPECIFIED
            - OVERFLOW_CELL
            - LEGACY_WRAP
            - CLIP
            - WRAP
          example: WRAP
        textDirection:
          type: string
          enum:
            - TEXT_DIRECTION_UNSPECIFIED
            - LEFT_TO_RIGHT
            - RIGHT_TO_LEFT
          example: LEFT_TO_RIGHT
        textFormat:
          $ref: '#/components/schemas/TextFormat'
        hyperlinkDisplayType:
          type: string
          enum:
            - HYPERLINK_DISPLAY_TYPE_UNSPECIFIED
            - LINKED
            - PLAIN_TEXT
          example: LINKED
        textRotation:
          $ref: '#/components/schemas/TextRotation'
    NumberFormat:
      description: The number format of a cell
      type: object
      properties:
        type:
          type: string
          enum:
            - NUMBER_FORMAT_TYPE_UNSPECIFIED
            - TEXT
            - NUMBER
            - PERCENT
            - CURRENCY
            - DATE
            - TIME
            - DATE_TIME
            - SCIENTIFIC
          example: NUMBER
        pattern:
          type: string
          description: Pattern string used for formatting
          example: '#,##0.00'
    Color:
      description: Represents a color
      type: object
      properties:
        red:
          type: number
          description: The amount of red in the color (0 to 1)
          example: 1
        green:
          type: number
          description: The amount of green in the color (0 to 1)
          example: 1
        blue:
          type: number
          description: The amount of blue in the color (0 to 1)
          example: 1
        alpha:
          type: number
          description: The fraction of this color that should be applied (0 to 1)
          example: 1
    Borders:
      description: The borders of the cell
      type: object
      properties:
        top:
          $ref: '#/components/schemas/Border'
        bottom:
          $ref: '#/components/schemas/Border'
        left:
          $ref: '#/components/schemas/Border'
        right:
          $ref: '#/components/schemas/Border'
    Border:
      description: A border along a cell
      type: object
      properties:
        style:
          type: string
          enum:
            - STYLE_UNSPECIFIED
            - DOTTED
            - DASHED
            - SOLID
            - SOLID_MEDIUM
            - SOLID_THICK
            - NONE
            - DOUBLE
          example: SOLID
        width:
          type: integer
          description: The width of the border
          example: 1
        color:
          $ref: '#/components/schemas/Color'
    Padding:
      description: The amount of padding around the cell
      type: object
      properties:
        top:
          type: integer
          description: The top padding
          example: 2
        right:
          type: integer
          description: The right padding
          example: 2
        bottom:
          type: integer
          description: The bottom padding
          example: 2
        left:
          type: integer
          description: The left padding
          example: 2
    TextFormat:
      description: The format of text in the cell
      type: object
      properties:
        foregroundColor:
          $ref: '#/components/schemas/Color'
        fontFamily:
          type: string
          description: The font family
          example: Arial
        fontSize:
          type: integer
          description: The size of the font
          example: 10
        bold:
          type: boolean
          description: True if the text is bold
          example: false
        italic:
          type: boolean
          description: True if the text is italicized
          example: false
        strikethrough:
          type: boolean
          description: True if the text has a strikethrough
          example: false
        underline:
          type: boolean
          description: True if the text is underlined
          example: false
    TextRotation:
      description: The rotation applied to text in a cell
      type: object
      properties:
        angle:
          type: integer
          description: >-
            The angle between the standard orientation and the desired
            orientation
          example: 0
        vertical:
          type: boolean
          description: If true, text reads top to bottom
          example: false
    IterativeCalculationSettings:
      description: Settings to control how circular dependencies are resolved
      type: object
      properties:
        maxIterations:
          type: integer
          description: The maximum number of iterations
          example: 50
        convergenceThreshold:
          type: number
          description: >-
            The threshold value such that iteration stops when all values change
            by less than this
          example: 0.01
    SpreadsheetTheme:
      description: The spreadsheet theme
      type: object
      properties:
        primaryFontFamily:
          type: string
          description: The primary font family
          example: Arial
        themeColors:
          type: array
          description: The spreadsheet theme color pairs
          items:
            $ref: '#/components/schemas/ThemeColorPair'
    ThemeColorPair:
      description: A theme color pair
      type: object
      properties:
        colorType:
          type: string
          enum:
            - THEME_COLOR_TYPE_UNSPECIFIED
            - TEXT
            - BACKGROUND
            - ACCENT1
            - ACCENT2
            - ACCENT3
            - ACCENT4
            - ACCENT5
            - ACCENT6
            - LINK
          example: TEXT
        color:
          $ref: '#/components/schemas/ColorStyle'
    ColorStyle:
      description: A color value that can be a single RGB color or a theme color
      type: object
      properties:
        rgbColor:
          $ref: '#/components/schemas/Color'
        themeColor:
          type: string
          enum:
            - THEME_COLOR_TYPE_UNSPECIFIED
            - TEXT
            - BACKGROUND
            - ACCENT1
            - ACCENT2
            - ACCENT3
            - ACCENT4
            - ACCENT5
            - ACCENT6
            - LINK
          example: TEXT
    SheetProperties:
      description: Properties of a sheet
      type: object
      properties:
        sheetId:
          type: integer
          description: The ID of the sheet
          example: 0
        title:
          type: string
          description: The name of the sheet
          example: Sheet1
        index:
          type: integer
          description: The index of the sheet within the spreadsheet
          example: 0
        sheetType:
          type: string
          description: The type of sheet
          enum:
            - SHEET_TYPE_UNSPECIFIED
            - GRID
            - OBJECT
            - DATA_SOURCE
          example: GRID
        gridProperties:
          $ref: '#/components/schemas/GridProperties'
        hidden:
          type: boolean
          description: True if the sheet is hidden
          example: false
        tabColor:
          $ref: '#/components/schemas/Color'
        tabColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        rightToLeft:
          type: boolean
          description: True if the sheet is an RTL sheet
          example: false
    GridProperties:
      description: Properties of a grid
      type: object
      properties:
        rowCount:
          type: integer
          description: The number of rows in the grid
          example: 1000
        columnCount:
          type: integer
          description: The number of columns in the grid
          example: 26
        frozenRowCount:
          type: integer
          description: The number of rows that are frozen
          example: 0
        frozenColumnCount:
          type: integer
          description: The number of columns that are frozen
          example: 0
        hideGridlines:
          type: boolean
          description: True if the grid is not showing gridlines
          example: false
        rowGroupControlAfter:
          type: boolean
          description: True if row grouping control toggle is shown after the group
          example: false
        columnGroupControlAfter:
          type: boolean
          description: True if column grouping control toggle is shown after the group
          example: false
    Sheet:
      description: A sheet in a spreadsheet
      type: object
      properties:
        properties:
          $ref: '#/components/schemas/SheetProperties'
        data:
          type: array
          description: The data in the grid
          items:
            $ref: '#/components/schemas/GridData'
        merges:
          type: array
          description: The ranges that are merged together
          items:
            $ref: '#/components/schemas/GridRange'
        conditionalFormats:
          type: array
          description: The conditional format rules in this sheet
          items:
            type: object
        filterViews:
          type: array
          description: The filter views in this sheet
          items:
            type: object
        protectedRanges:
          type: array
          description: The protected ranges in this sheet
          items:
            type: object
        basicFilter:
          type: object
          description: The filter on this sheet
        charts:
          type: array
          description: The specifications of every chart on this sheet
          items:
            type: object
        bandedRanges:
          type: array
          description: The banded ranges
          items:
            type: object
        developerMetadata:
          type: array
          description: The developer metadata on this sheet
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
        rowGroups:
          type: array
          description: All row groups on this sheet
          items:
            type: object
        columnGroups:
          type: array
          description: All column groups on this sheet
          items:
            type: object
        slicers:
          type: array
          description: The slicers on this sheet
          items:
            type: object
    GridData:
      description: Data in the grid
      type: object
      properties:
        startRow:
          type: integer
          description: The first row this data refers to (zero-based)
          example: 0
        startColumn:
          type: integer
          description: The first column this data refers to (zero-based)
          example: 0
        rowData:
          type: array
          description: The data in the grid, one entry per row
          items:
            $ref: '#/components/schemas/RowData'
        rowMetadata:
          type: array
          description: Metadata about the requested rows
          items:
            $ref: '#/components/schemas/DimensionProperties'
        columnMetadata:
          type: array
          description: Metadata about the requested columns
          items:
            $ref: '#/components/schemas/DimensionProperties'
    RowData:
      description: Data about each cell in a row
      type: object
      properties:
        values:
          type: array
          description: The values in the row
          items:
            $ref: '#/components/schemas/CellData'
    CellData:
      description: Data about a specific cell
      type: object
      properties:
        userEnteredValue:
          $ref: '#/components/schemas/ExtendedValue'
        effectiveValue:
          $ref: '#/components/schemas/ExtendedValue'
        formattedValue:
          type: string
          description: The formatted value of the cell
          example: $100.00
        userEnteredFormat:
          $ref: '#/components/schemas/CellFormat'
        effectiveFormat:
          $ref: '#/components/schemas/CellFormat'
        hyperlink:
          type: string
          description: A hyperlink this cell points to
          example: https://example.com
        note:
          type: string
          description: Any note on the cell
          example: This is a note
    ExtendedValue:
      description: The kinds of value that a cell can have
      type: object
      properties:
        numberValue:
          type: number
          description: A numeric value
          example: 100.5
        stringValue:
          type: string
          description: A string value
          example: Hello World
        boolValue:
          type: boolean
          description: A boolean value
          example: true
        formulaValue:
          type: string
          description: A formula
          example: '=SUM(A1:A10)'
        errorValue:
          $ref: '#/components/schemas/ErrorValue'
    ErrorValue:
      description: An error in a cell
      type: object
      properties:
        type:
          type: string
          enum:
            - ERROR_TYPE_UNSPECIFIED
            - ERROR
            - NULL_VALUE
            - DIVIDE_BY_ZERO
            - VALUE
            - REF
            - NAME
            - NUM
            - N_A
            - LOADING
          example: DIVIDE_BY_ZERO
        message:
          type: string
          description: A message with more information about the error
          example: Division by zero
    DimensionProperties:
      description: Properties about a dimension
      type: object
      properties:
        hiddenByFilter:
          type: boolean
          description: True if this dimension is being filtered
          example: false
        hiddenByUser:
          type: boolean
          description: True if this dimension is explicitly hidden
          example: false
        pixelSize:
          type: integer
          description: The height or width of the dimension in pixels
          example: 100
        developerMetadata:
          type: array
          description: The developer metadata associated with a single row or column
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
    Spreadsheet:
      description: A spreadsheet document
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The ID of the spreadsheet
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        properties:
          $ref: '#/components/schemas/SpreadsheetProperties'
        sheets:
          type: array
          description: The sheets that are part of a spreadsheet
          items:
            $ref: '#/components/schemas/Sheet'
        namedRanges:
          type: array
          description: The named ranges defined in a spreadsheet
          items:
            $ref: '#/components/schemas/NamedRange'
        spreadsheetUrl:
          type: string
          description: The url of the spreadsheet
          example: >-
            https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
        developerMetadata:
          type: array
          description: The developer metadata associated with a spreadsheet
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
        dataSources:
          type: array
          description: The list of data sources for the spreadsheet
          items:
            type: object
        dataSourceSchedules:
          type: array
          description: The list of data source refresh schedules
          items:
            type: object
    NamedRange:
      description: A named range
      type: object
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range
          example: named_range_123
        name:
          type: string
          description: The name of the named range
          example: MyRange
        range:
          $ref: '#/components/schemas/GridRange'
    BatchUpdateSpreadsheetRequest:
      description: Request to batch update a spreadsheet
      type: object
      properties:
        requests:
          type: array
          description: The list of updates to apply to the spreadsheet
          items:
            $ref: '#/components/schemas/Request'
        includeSpreadsheetInResponse:
          type: boolean
          description: >-
            Determines if the update response should include the spreadsheet
            resource
          example: false
        responseRanges:
          type: array
          description: Limits the ranges included in the response spreadsheet
          items:
            type: string
          example:
            - Sheet1!A1:D5
        responseIncludeGridData:
          type: boolean
          description: True if grid data should be returned
          example: false
    Request:
      description: A single kind of update to apply to a spreadsheet
      type: object
      properties:
        updateSpreadsheetProperties:
          type: object
          description: Updates the spreadsheet properties
        updateSheetProperties:
          type: object
          description: Updates the sheet properties
        updateDimensionProperties:
          type: object
          description: Updates the properties of dimensions
        updateNamedRange:
          type: object
          description: Updates a named range
        repeatCell:
          type: object
          description: Repeats a single cell across a range
        addNamedRange:
          type: object
          description: Adds a named range
        deleteNamedRange:
          type: object
          description: Deletes a named range
        addSheet:
          type: object
          description: Adds a new sheet
        deleteSheet:
          type: object
          description: Deletes a sheet
        autoFill:
          type: object
          description: Fills in more data based on existing data
        cutPaste:
          type: object
          description: Cuts data from one area and pastes it to another
        copyPaste:
          type: object
          description: Copies data from one area and pastes it to another
        mergeCells:
          type: object
          description: Merges cells together
        unmergeCells:
          type: object
          description: Unmerges merged cells
        updateBorders:
          type: object
          description: Updates the borders in a range
        updateCells:
          type: object
          description: Updates all cells in a range
        addFilterView:
          type: object
          description: Adds a filter view
        appendCells:
          type: object
          description: Appends cells after the last row with data
        clearBasicFilter:
          type: object
          description: Clears the basic filter
        deleteDimension:
          type: object
          description: Deletes rows or columns
        deleteEmbeddedObject:
          type: object
          description: Deletes an embedded object
        deleteFilterView:
          type: object
          description: Deletes a filter view
        duplicateFilterView:
          type: object
          description: Duplicates a filter view
        duplicateSheet:
          type: object
          description: Duplicates a sheet
        findReplace:
          type: object
          description: Finds and replaces occurrences of text
        insertDimension:
          type: object
          description: Inserts new rows or columns
        insertRange:
          type: object
          description: Inserts new cells
        moveDimension:
          type: object
          description: Moves rows or columns
        updateEmbeddedObjectPosition:
          type: object
          description: Updates an embedded object's position
        pasteData:
          type: object
          description: Pastes data
        textToColumns:
          type: object
          description: Converts text to columns
        updateFilterView:
          type: object
          description: Updates a filter view
        deleteRange:
          type: object
          description: Deletes a range of cells
        appendDimension:
          type: object
          description: Appends dimensions
        addConditionalFormatRule:
          type: object
          description: Adds a conditional format rule
        updateConditionalFormatRule:
          type: object
          description: Updates a conditional format rule
        deleteConditionalFormatRule:
          type: object
          description: Deletes a conditional format rule
        sortRange:
          type: object
          description: Sorts data in a range
        setDataValidation:
          type: object
          description: Sets data validation for cells
        setBasicFilter:
          type: object
          description: Sets the basic filter
        addProtectedRange:
          type: object
          description: Adds a protected range
        updateProtectedRange:
          type: object
          description: Updates a protected range
        deleteProtectedRange:
          type: object
          description: Deletes a protected range
        autoResizeDimensions:
          type: object
          description: Automatically resizes dimensions
        addChart:
          type: object
          description: Adds a chart
        updateChartSpec:
          type: object
          description: Updates a chart's specifications
        updateBanding:
          type: object
          description: Updates a banded range
        addBanding:
          type: object
          description: Adds a banded range
        deleteBanding:
          type: object
          description: Deletes a banded range
        createDeveloperMetadata:
          type: object
          description: Creates new developer metadata
        updateDeveloperMetadata:
          type: object
          description: Updates developer metadata
        deleteDeveloperMetadata:
          type: object
          description: Deletes developer metadata
        randomizeRange:
          type: object
          description: Randomizes the order of rows in a range
        addDimensionGroup:
          type: object
          description: Adds a dimension group
        deleteDimensionGroup:
          type: object
          description: Deletes a dimension group
        updateDimensionGroup:
          type: object
          description: Updates a dimension group
        trimWhitespace:
          type: object
          description: Trims whitespace from cells
        deleteDuplicates:
          type: object
          description: Deletes rows with duplicate values
        updateSlicerSpec:
          type: object
          description: Updates a slicer's specification
        addSlicer:
          type: object
          description: Adds a slicer
        updateEmbeddedObjectBorder:
          type: object
          description: Updates an embedded object's border
        addDataSource:
          type: object
          description: Adds a data source
        updateDataSource:
          type: object
          description: Updates a data source
        deleteDataSource:
          type: object
          description: Deletes a data source
        refreshDataSource:
          type: object
          description: Refreshes a data source
    BatchUpdateSpreadsheetResponse:
      description: Response from batch updating a spreadsheet
      type: object
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        replies:
          type: array
          description: The reply of the updates
          items:
            type: object
        updatedSpreadsheet:
          $ref: '#/components/schemas/Spreadsheet'
    GetSpreadsheetByDataFilterRequest:
      description: Request to get spreadsheet by data filter
      type: object
      properties:
        dataFilters:
          type: array
          description: The DataFilters used to select the ranges to return
          items:
            $ref: '#/components/schemas/DataFilter'
        includeGridData:
          type: boolean
          description: True if grid data should be returned
          example: false
    CopySheetToAnotherSpreadsheetRequest:
      description: Request to copy a sheet to another spreadsheet
      type: object
      properties:
        destinationSpreadsheetId:
          type: string
          description: The ID of the spreadsheet to copy the sheet to
          example: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
    DeveloperMetadata:
      description: Developer metadata associated with a location or object
      type: object
      properties:
        metadataId:
          type: integer
          description: The unique ID of this developer metadata
          example: 12345
        metadataKey:
          type: string
          description: The metadata key
          example: myKey
        metadataValue:
          type: string
          description: The metadata value
          example: myValue
        location:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        visibility:
          type: string
          description: The visibility of this developer metadata
          enum:
            - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
            - DOCUMENT
            - PROJECT
          example: DOCUMENT
    DeveloperMetadataLocation:
      description: A location where developer metadata may be associated
      type: object
      properties:
        locationType:
          type: string
          description: The type of location
          enum:
            - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
            - ROW
            - COLUMN
            - SHEET
            - SPREADSHEET
          example: SHEET
        spreadsheet:
          type: boolean
          description: True when metadata is associated with an entire spreadsheet
          example: false
        sheetId:
          type: integer
          description: The ID of the sheet when metadata is associated with an entire sheet
          example: 0
        dimensionRange:
          $ref: '#/components/schemas/DimensionRange'
    DimensionRange:
      description: A range along a single dimension on a sheet
      type: object
      properties:
        sheetId:
          type: integer
          description: The sheet this span is on
          example: 0
        dimension:
          type: string
          description: The dimension of the span
          enum:
            - DIMENSION_UNSPECIFIED
            - ROWS
            - COLUMNS
          example: ROWS
        startIndex:
          type: integer
          description: The start (inclusive) of the span
          example: 0
        endIndex:
          type: integer
          description: The end (exclusive) of the span
          example: 10
    SearchDeveloperMetadataRequest:
      description: Request to search for developer metadata
      type: object
      properties:
        dataFilters:
          type: array
          description: The DataFilters describing the search criteria
          items:
            $ref: '#/components/schemas/DataFilter'
    MatchedDeveloperMetadata:
      description: Developer metadata that matched a data filter
      type: object
      properties:
        developerMetadata:
          $ref: '#/components/schemas/DeveloperMetadata'
        dataFilters:
          type: array
          description: All filters matching the returned developer metadata
          items:
            $ref: '#/components/schemas/DataFilter'
    SearchDeveloperMetadataResponse:
      description: Response from searching developer metadata
      type: object
      properties:
        matchedDeveloperMetadata:
          type: array
          description: The metadata matching the criteria of the search request
          items:
            $ref: '#/components/schemas/MatchedDeveloperMetadata'
  examples:
    GetValuesSuccessExample:
      summary: Successful response for getting cell values
      value:
        range: Sheet1!A1:C3
        majorDimension: ROWS
        values:
          - - Name
            - Age
            - City
          - - John
            - 30
            - New York
          - - Jane
            - 25
            - Los Angeles
    UpdateValuesRequestExample:
      summary: Request to update cell values
      value:
        range: Sheet1!A1:C3
        majorDimension: ROWS
        values:
          - - Name
            - Age
            - City
          - - John
            - 30
            - New York
          - - Jane
            - 25
            - Los Angeles
    UpdateValuesSuccessExample:
      summary: Successful response for updating cell values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        updatedRange: Sheet1!A1:C3
        updatedRows: 3
        updatedColumns: 3
        updatedCells: 9
        updatedData:
          range: Sheet1!A1:C3
          majorDimension: ROWS
          values:
            - - Name
              - Age
              - City
            - - John
              - 30
              - New York
            - - Jane
              - 25
              - Los Angeles
    AppendValuesRequestExample:
      summary: Request to append cell values
      value:
        range: Sheet1!A1:C1
        majorDimension: ROWS
        values:
          - - Mike
            - 35
            - Chicago
    AppendValuesSuccessExample:
      summary: Successful response for appending cell values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        tableRange: Sheet1!A1:C10
        updates:
          spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
          updatedRange: Sheet1!A11:C11
          updatedRows: 1
          updatedColumns: 3
          updatedCells: 3
    ClearValuesRequestExample:
      summary: Request to clear cell values
      value: {}
    ClearValuesSuccessExample:
      summary: Successful response for clearing cell values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRange: Sheet1!A1:D5
    BatchGetValuesSuccessExample:
      summary: Successful response for batch getting values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        valueRanges:
          - range: Sheet1!A1:C3
            majorDimension: ROWS
            values:
              - - Name
                - Age
                - City
              - - John
                - 30
                - New York
          - range: Sheet2!A1:B2
            majorDimension: ROWS
            values:
              - - Product
                - Price
              - - Widget
                - 19.99
    BatchUpdateValuesRequestExample:
      summary: Request to batch update values
      value:
        valueInputOption: USER_ENTERED
        data:
          - range: Sheet1!A1:C3
            majorDimension: ROWS
            values:
              - - Name
                - Age
                - City
              - - John
                - 30
                - New York
        includeValuesInResponse: true
        responseValueRenderOption: FORMATTED_VALUE
    BatchUpdateValuesSuccessExample:
      summary: Successful response for batch updating values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        totalUpdatedRows: 3
        totalUpdatedColumns: 3
        totalUpdatedCells: 9
        totalUpdatedSheets: 1
        responses:
          - spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
            updatedRange: Sheet1!A1:C3
            updatedRows: 3
            updatedColumns: 3
            updatedCells: 9
    BatchClearValuesRequestExample:
      summary: Request to batch clear values
      value:
        ranges:
          - Sheet1!A1:D5
          - Sheet2!A1:B10
    BatchClearValuesSuccessExample:
      summary: Successful response for batch clearing values
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRanges:
          - Sheet1!A1:D5
          - Sheet2!A1:B10
    BatchClearValuesByDataFilterRequestExample:
      summary: Request to batch clear values by data filter
      value:
        dataFilters:
          - a1Range: Sheet1!A1:D5
          - gridRange:
              sheetId: 0
              startRowIndex: 0
              endRowIndex: 10
              startColumnIndex: 0
              endColumnIndex: 5
    BatchClearValuesByDataFilterSuccessExample:
      summary: Successful response for batch clearing values by data filter
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        clearedRanges:
          - Sheet1!A1:D5
          - Sheet1!A1:E10
    BatchGetValuesByDataFilterRequestExample:
      summary: Request to batch get values by data filter
      value:
        dataFilters:
          - a1Range: Sheet1!A1:D5
        majorDimension: ROWS
        valueRenderOption: FORMATTED_VALUE
        dateTimeRenderOption: FORMATTED_STRING
    BatchGetValuesByDataFilterSuccessExample:
      summary: Successful response for batch getting values by data filter
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        valueRanges:
          - valueRange:
              range: Sheet1!A1:D5
              majorDimension: ROWS
              values:
                - - Name
                  - Age
                  - City
                  - Country
                - - John
                  - 30
                  - New York
                  - USA
            dataFilters:
              - a1Range: Sheet1!A1:D5
    BatchUpdateValuesByDataFilterRequestExample:
      summary: Request to batch update values by data filter
      value:
        valueInputOption: USER_ENTERED
        data:
          - dataFilter:
              a1Range: Sheet1!A1:B2
            majorDimension: ROWS
            values:
              - - Value1
                - Value2
              - - Value3
                - Value4
        includeValuesInResponse: true
    BatchUpdateValuesByDataFilterSuccessExample:
      summary: Successful response for batch updating values by data filter
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        totalUpdatedRows: 2
        totalUpdatedColumns: 2
        totalUpdatedCells: 4
        totalUpdatedSheets: 1
        responses:
          - updatedRange: Sheet1!A1:B2
            updatedRows: 2
            updatedColumns: 2
            updatedCells: 4
            dataFilter:
              a1Range: Sheet1!A1:B2
    CreateSpreadsheetRequestExample:
      summary: Request to create a new spreadsheet
      value:
        properties:
          title: My New Spreadsheet
          locale: en_US
          timeZone: America/New_York
        sheets:
          - properties:
              title: Sheet1
              index: 0
              sheetType: GRID
              gridProperties:
                rowCount: 1000
                columnCount: 26
    CreateSpreadsheetSuccessExample:
      summary: Successful response for creating a spreadsheet
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        properties:
          title: My New Spreadsheet
          locale: en_US
          timeZone: America/New_York
          autoRecalc: ON_CHANGE
        sheets:
          - properties:
              sheetId: 0
              title: Sheet1
              index: 0
              sheetType: GRID
              gridProperties:
                rowCount: 1000
                columnCount: 26
        spreadsheetUrl: >-
          https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
    GetSpreadsheetSuccessExample:
      summary: Successful response for getting a spreadsheet
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        properties:
          title: Sample Spreadsheet
          locale: en_US
          timeZone: America/New_York
          autoRecalc: ON_CHANGE
        sheets:
          - properties:
              sheetId: 0
              title: Sheet1
              index: 0
              sheetType: GRID
              gridProperties:
                rowCount: 1000
                columnCount: 26
        spreadsheetUrl: >-
          https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
    BatchUpdateSpreadsheetRequestExample:
      summary: Request to batch update a spreadsheet
      value:
        requests:
          - updateSpreadsheetProperties:
              properties:
                title: Updated Spreadsheet Title
              fields: title
        includeSpreadsheetInResponse: false
    BatchUpdateSpreadsheetSuccessExample:
      summary: Successful response for batch updating a spreadsheet
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        replies:
          - {}
    GetSpreadsheetByDataFilterRequestExample:
      summary: Request to get spreadsheet by data filter
      value:
        dataFilters:
          - a1Range: Sheet1!A1:D5
        includeGridData: true
    GetSpreadsheetByDataFilterSuccessExample:
      summary: Successful response for getting spreadsheet by data filter
      value:
        spreadsheetId: 1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms
        properties:
          title: Sample Spreadsheet
          locale: en_US
          timeZone: America/New_York
        sheets:
          - properties:
              sheetId: 0
              title: Sheet1
              index: 0
              sheetType: GRID
              gridProperties:
                rowCount: 1000
                columnCount: 26
        spreadsheetUrl: >-
          https://docs.google.com/spreadsheets/d/1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms/edit
    CopySheetRequestExample:
      summary: Request to copy a sheet to another spreadsheet
      value:
        destinationSpreadsheetId: 2CyiNWt1YSB6oGNeKwCeCajgnVVcut85PWfFWHwprnt
    CopySheetSuccessExample:
      summary: Successful response for copying a sheet
      value:
        sheetId: 123456789
        title: Copy of Sheet1
        index: 1
        sheetType: GRID
        gridProperties:
          rowCount: 1000
          columnCount: 26
    GetDeveloperMetadataSuccessExample:
      summary: Successful response for getting developer metadata
      value:
        metadataId: 12345
        metadataKey: myKey
        metadataValue: myValue
        location:
          locationType: SHEET
          sheetId: 0
        visibility: DOCUMENT
    SearchDeveloperMetadataRequestExample:
      summary: Request to search developer metadata
      value:
        dataFilters:
          - developerMetadataLookup:
              metadataKey: myKey
              visibility: DOCUMENT
    SearchDeveloperMetadataSuccessExample:
      summary: Successful response for searching developer metadata
      value:
        matchedDeveloperMetadata:
          - developerMetadata:
              metadataId: 12345
              metadataKey: myKey
              metadataValue: myValue
              location:
                locationType: SHEET
                sheetId: 0
              visibility: DOCUMENT
            dataFilters:
              - developerMetadataLookup:
                  metadataKey: myKey
                  visibility: DOCUMENT
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication for Google APIs
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets: Read and write access to spreadsheets
            https://www.googleapis.com/auth/spreadsheets.readonly: Read-only access to spreadsheets
            https://www.googleapis.com/auth/drive: Full access to Google Drive files
            https://www.googleapis.com/auth/drive.file: Access to files created or opened by the app
            https://www.googleapis.com/auth/drive.readonly: Read-only access to Google Drive files
