openapi: 3.1.0
info:
  title: google-gmail-api
  description: >-
    The Gmail API is a RESTful API that can be used to access Gmail mailboxes
    and send mail. For most web applications the Gmail API is the best choice
    for authorized access to a user's Gmail data and is suitable for various
    applications.
  version: 1.0.0
servers:
  - url: https://gmail.googleapis.com
    description: Google Gmail API Server
  - url: http://localhost:8080/rest/google-gmail-api/1.0.0
    description: Sandbox
security:
  - oauth2Auth: []
tags:
  - name: Address
    description: Operations related to Address
  - name: Addresses
    description: Operations related to Addresses
  - name: Attachments
    description: Operations related to Attachments
  - name: Auto
    description: Operations related to Auto
  - name: Batch
    description: Operations related to Batch
  - name: Create
    description: Operations related to Create
  - name: Default
    description: Operations related to Default
  - name: Delegates
    description: Operations related to Delegates
  - name: Deletes
    description: Operations related to Deletes
  - name: Disables
    description: Operations related to Disables
  - name: Drafts
    description: Operations related to Drafts
  - name: Enables
    description: Operations related to Enables
  - name: Get
    description: Operations related to Get
  - name: History
    description: Operations related to History
  - name: Import
    description: Operations related to Import
  - name: Info
    description: Operations related to Info
  - name: Insert
    description: Operations related to Insert
  - name: Labels
    description: Operations related to Labels
  - name: Language
    description: Operations related to Language
  - name: Lists
    description: Operations related to Lists
  - name: Messages
    description: Operations related to Messages
  - name: Modify
    description: Operations related to Modify
  - name: Notifications
    description: Operations related to Notifications
  - name: Obliterate
    description: Operations related to Obliterate
  - name: Patch
    description: Operations related to Patch
  - name: Pop
    description: Operations related to Pop
  - name: Profile
    description: Operations related to Profile
  - name: Send
    description: Operations related to Send
  - name: Sets
    description: Operations related to Sets
  - name: Setting
    description: Operations related to Setting
  - name: Settings
    description: Operations related to Settings
  - name: Stop
    description: Operations related to Stop
  - name: Threads
    description: Operations related to Threads
  - name: Trash
    description: Operations related to Trash
  - name: Update
    description: Operations related to Update
  - name: Users
    description: Operations related to Users
  - name: Vacation
    description: Operations related to Vacation
  - name: Verify
    description: Operations related to Verify
  - name: Watch
    description: Operations related to Watch
paths:
  /gmail/v1/users/{userId}/profile:
    get:
      tags:
        - Get
        - Profile
      summary: Get Profile
      description: >-
        The Google Gmail API's Get Profile operation retrieves the current
        user's Gmail profile information by making a GET request to the endpoint
        /gmail/v1/users/{userId}/profile, where {userId} can be either the
        user's email address or the special value "me" to indicate the
        authenticated user. This operation returns basic profile details
        including the user's email address, the total number of messages in
        their mailbox, the total number of threads, and their history ID, which
        is useful for tracking changes to the mailbox over time. The response
        provides essential metadata about the Gmail account without accessing
        the actual content of emails, making it a lightweight way to verify
        account details and obtain summary statistics. This endpoint requires
        appropriate OAuth 2.0 authorization scopes, typically gmail.readonly or
        gmail.metadata, to access the user's profile information securely.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersProfileGetResponse'
              examples:
                GmailUsersProfileGetResponseExample:
                  $ref: '#/components/examples/GmailUsersProfileGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
        WriteDescription: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersProfileGetResponseExample"
  /gmail/v1/users/{userId}/watch:
    post:
      tags:
        - Watch
        - Users
      summary: Watch Users
      description: >-
        The Watch Users operation in the Google Gmail API allows applications to
        set up push notifications for a user's mailbox by establishing a watch
        on their Gmail account. When called via POST to
        /gmail/v1/users/{userId}/watch, this endpoint configures Gmail to send
        notifications to a specified Cloud Pub/Sub topic whenever changes occur
        in the user's mailbox, such as receiving new emails, messages being
        deleted, or labels being modified. The watch remains active for a
        renewable period (default 7 days), and applications must include the
        target Pub/Sub topic details in the request body along with optional
        filters to specify which types of events should trigger notifications.
        This enables real-time synchronization and event-driven architectures
        without the need for constant polling of the mailbox.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersWatchPostResponse'
              examples:
                GmailUsersWatchPostResponseExample:
                  $ref: '#/components/examples/GmailUsersWatchPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
        WriteDescription: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersWatchPostResponseExample"
  /gmail/v1/users/{userId}/stop:
    post:
      tags:
        - Stop
        - Notifications
        - Users
      summary: Stop Notifications for User
      description: Stop receiving push notifications for the given user mailbox.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/drafts/send:
    post:
      tags:
        - Send
        - Drafts
      summary: Send Drafts
      description: >-
        Sends the specified, existing draft to the recipients in the `To`, `Cc`,
        and `Bcc` headers.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userID}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersDraftsSendPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersDraftsSendPostResponse'
              examples:
                UsersDraftsSendPostResponseExample:
                  $ref: '#/components/examples/UsersDraftsSendPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersDraftsSendPostResponseExample"
  /gmail/v1/users/{userId}/drafts/{id}:
    get:
      tags:
        - Get
        - Drafts
      summary: Get Drafts
      description: Gets the specified draft.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersDraftsGetResponse'
              examples:
                GmailUsersDraftsGetResponseExample:
                  $ref: '#/components/examples/GmailUsersDraftsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersDraftsGetResponseExample"
    put:
      tags:
        - Update
        - Drafts
      summary: Update Drafts
      description: Replaces a draft's content.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersDraftsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersDraftsPutResponse'
              examples:
                GmailUsersDraftsPutResponseExample:
                  $ref: '#/components/examples/GmailUsersDraftsPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersDraftsPutResponseExample"
    delete:
      tags:
        - Deletes
        - Drafts
      summary: Delete Drafts
      description: >-
        Immediately and permanently deletes the specified draft. Does not simply
        trash it.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/drafts:
    get:
      tags:
        - Lists
        - Drafts
      summary: List Drafts
      description: Lists the drafts in the user's mailbox.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userID}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersDraftsGetResponse1'
              examples:
                GmailUsersDraftsGetResponse1Example:
                  $ref: '#/components/examples/GmailUsersDraftsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersDraftsGetResponse1Example"
    post:
      tags:
        - Create
        - Drafts
      summary: Create Drafts
      description: Creates a new draft with the `DRAFT` label.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersDraftsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersDraftsPostResponse'
              examples:
                GmailUsersDraftsPostResponseExample:
                  $ref: '#/components/examples/GmailUsersDraftsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersDraftsPostResponseExample"
  /gmail/v1/users/{userId}/history:
    get:
      tags:
        - Lists
        - History
      summary: List History
      description: >-
        Lists the history of all changes to the given mailbox. History results
        are returned in chronological order (increasing `historyId`).
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersHistoryGetResponse'
              examples:
                GmailUsersHistoryGetResponseExample:
                  $ref: '#/components/examples/GmailUsersHistoryGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersHistoryGetResponseExample"
  /gmail/v1/users/{userId}/messages/{id}/trash:
    post:
      tags:
        - Trash
      summary: Trash Messsages
      description: Moves the specified message to the trash.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesTrashPostResponse'
              examples:
                UsersMessagesTrashPostResponseExample:
                  $ref: '#/components/examples/UsersMessagesTrashPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesTrashPostResponseExample"
  /gmail/v1/users/{userId}/messages/{id}/untrash:
    post:
      tags:
        - Messages
      summary: Untrash Messages
      description: Removes the specified message from the trash.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesUntrashPostResponse'
              examples:
                UsersMessagesUntrashPostResponseExample:
                  $ref: >-
                    #/components/examples/UsersMessagesUntrashPostResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesUntrashPostResponseExample"
  /gmail/v1/users/{userId}/messages/{id}/modify:
    post:
      tags:
        - Modify
        - Messages
      summary: Modify Messages
      description: Modifies the labels on the specified message.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{messageId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMessagesModifyPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesModifyPostResponse'
              examples:
                UsersMessagesModifyPostResponseExample:
                  $ref: '#/components/examples/UsersMessagesModifyPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesModifyPostResponseExample"
  /gmail/v1/users/{userId}/messages/batchDelete:
    post:
      tags:
        - Batch
        - Deletes
      summary: Batch Delete
      description: >-
        Deletes many messages by message ID. Provides no guarantees that
        messages were not already deleted or even existed at all.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userID}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMessagesBatchDeletePostRequest'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/messages/import:
    post:
      tags:
        - Import
        - Messages
      summary: Import Messages
      description: >-
        Imports a message into only this user's mailbox, with standard email
        delivery scanning and classification similar to receiving via SMTP. This
        method doesn't perform SPF checks, so it might not work for some spam
        messages, such as those attempting to perform domain spoofing. This
        method does not send a message.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMessagesImportPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesImportPostResponse'
              examples:
                UsersMessagesImportPostResponseExample:
                  $ref: '#/components/examples/UsersMessagesImportPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesImportPostResponseExample"
  /gmail/v1/users/{userId}/messages/send:
    post:
      tags:
        - Send
        - Messages
      summary: Send Messages
      description: >-
        Sends the specified message to the recipients in the `To`, `Cc`, and
        `Bcc` headers. For example usage, see [Sending
        email](https://developers.google.com/gmail/api/guides/sending).
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMessagesSendPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesSendPostResponse'
              examples:
                UsersMessagesSendPostResponseExample:
                  $ref: '#/components/examples/UsersMessagesSendPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesSendPostResponseExample"
  /gmail/v1/users/{userId}/messages/batchModify:
    post:
      tags:
        - Batch
        - Modify
      summary: Batch Modify
      description: Modifies the labels on the specified messages.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMessagesBatchModifyPostRequest'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/messages:
    get:
      tags:
        - Lists
        - Messages
      summary: List Messages
      description: Lists the messages in the user's mailbox.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: maxResults
          in: query
          schema:
            type: string
          example: '{{maxResults}}'
        - name: pageToken
          in: query
          schema:
            type: string
          example: '{{pageToken}}'
        - name: q
          in: query
          schema:
            type: string
          example: '{{q}}'
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersMessagesGetResponse'
              examples:
                GmailUsersMessagesGetResponseExample:
                  $ref: '#/components/examples/GmailUsersMessagesGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersMessagesGetResponseExample"
    post:
      tags:
        - Insert
        - Messages
      summary: Insert Messages
      description: >-
        Directly inserts a message into only this user's mailbox similar to
        `IMAP APPEND`, bypassing most scanning and classification. Does not send
        a message.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersMessagesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersMessagesPostResponse'
              examples:
                GmailUsersMessagesPostResponseExample:
                  $ref: '#/components/examples/GmailUsersMessagesPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersMessagesPostResponseExample"
  /gmail/v1/users/{userId}/messages/{id}:
    get:
      tags:
        - Get
        - Messages
      summary: Get Messages
      description: Gets the specified message.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersMessagesGetResponse1'
              examples:
                GmailUsersMessagesGetResponse1Example:
                  $ref: '#/components/examples/GmailUsersMessagesGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersMessagesGetResponse1Example"
    delete:
      tags:
        - Deletes
        - Messages
      summary: Delete Messages
      description: >-
        Immediately and permanently deletes the specified message. This
        operation cannot be undone. Prefer `messages.trash` instead.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
    get:
      tags:
        - Get
        - Attachments
      summary: Get Attachments
      description: Gets the specified message attachment.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: messageId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMessagesAttachmentsGetResponse'
              examples:
                UsersMessagesAttachmentsGetResponseExample:
                  $ref: >-
                    #/components/examples/UsersMessagesAttachmentsGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMessagesAttachmentsGetResponseExample"
  /gmail/v1/users/{userId}/labels:
    get:
      tags:
        - Lists
        - Labels
      summary: List Labels
      description: Lists all labels in the user's mailbox.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersLabelsGetResponse'
              examples:
                GmailUsersLabelsGetResponseExample:
                  $ref: '#/components/examples/GmailUsersLabelsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersLabelsGetResponseExample"
    post:
      tags:
        - Create
        - Labels
      summary: Create Labels
      description: Creates a new label.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersLabelsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersLabelsPostResponse'
              examples:
                GmailUsersLabelsPostResponseExample:
                  $ref: '#/components/examples/GmailUsersLabelsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersLabelsPostResponseExample"
  /gmail/v1/users/{userId}/labels/{id}:
    get:
      tags:
        - Get
        - Labels
      summary: Get Labels
      description: Gets the specified label.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersLabelsGetResponse1'
              examples:
                GmailUsersLabelsGetResponse1Example:
                  $ref: '#/components/examples/GmailUsersLabelsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersLabelsGetResponse1Example"
    put:
      tags:
        - Update
        - Labels
      summary: Update Labels
      description: Updates the specified label.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersLabelsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersLabelsPutResponse'
              examples:
                GmailUsersLabelsPutResponseExample:
                  $ref: '#/components/examples/GmailUsersLabelsPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersLabelsPutResponseExample"
    patch:
      tags:
        - Patch
        - Labels
      summary: Patch Labels
      description: Patch the specified label.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GmailUsersLabelsPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersLabelsPatchResponse'
              examples:
                GmailUsersLabelsPatchResponseExample:
                  $ref: '#/components/examples/GmailUsersLabelsPatchResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersLabelsPatchResponseExample"
    delete:
      tags:
        - Deletes
        - Labels
      summary: Delete Labels
      description: >-
        Immediately and permanently deletes the specified label and removes it
        from any messages and threads that it is applied to.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/threads/{id}:
    get:
      tags:
        - Get
        - Threads
      summary: Get Threads
      description: Gets the specified thread.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersThreadsGetResponse'
              examples:
                GmailUsersThreadsGetResponseExample:
                  $ref: '#/components/examples/GmailUsersThreadsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersThreadsGetResponseExample"
    delete:
      tags:
        - Deletes
        - Threads
      summary: Delete Threads
      description: >-
        Immediately and permanently deletes the specified thread. Any messages
        that belong to the thread are also deleted. This operation cannot be
        undone. Prefer `threads.trash` instead.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/threads/{id}/modify:
    post:
      tags:
        - Modify
        - Threads
      summary: Modify Threads
      description: >-
        Modifies the labels applied to the thread. This applies to all messages
        in the thread.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersThreadsModifyPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersThreadsModifyPostResponse'
              examples:
                UsersThreadsModifyPostResponseExample:
                  $ref: '#/components/examples/UsersThreadsModifyPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersThreadsModifyPostResponseExample"
  /gmail/v1/users/{userId}/threads/{id}/trash:
    post:
      tags:
        - Trash
        - Threads
      summary: Trash Threads
      description: >-
        Moves the specified thread to the trash. Any messages that belong to the
        thread are also moved to the trash.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersThreadsTrashPostResponse'
              examples:
                UsersThreadsTrashPostResponseExample:
                  $ref: '#/components/examples/UsersThreadsTrashPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersThreadsTrashPostResponseExample"
  /gmail/v1/users/{userId}/threads:
    get:
      tags:
        - Lists
        - Threads
      summary: List Threads
      description: Lists the threads in the user's mailbox.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userID}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GmailUsersThreadsGetResponse1'
              examples:
                GmailUsersThreadsGetResponse1Example:
                  $ref: '#/components/examples/GmailUsersThreadsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "GmailUsersThreadsGetResponse1Example"
  /gmail/v1/users/{userId}/settings/imap:
    get:
      tags:
        - Get
      summary: GET IMAP
      description: Gets IMAP settings.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsImapGetResponse'
              examples:
                UsersSettingsImapGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsImapGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsImapGetResponseExample"
    put:
      tags:
        - Update
      summary: Update IMAP
      description: Updates IMAP settings.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsImapPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsImapPutResponse'
              examples:
                UsersSettingsImapPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsImapPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsImapPutResponseExample"
  /gmail/v1/users/{userId}/settings/pop:
    get:
      tags:
        - Get
        - Pop
        - Settings
      summary: Get POP Settings
      description: Gets POP settings.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: '{{userId}}'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsPopGetResponse'
              examples:
                UsersSettingsPopGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsPopGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsPopGetResponseExample"
    put:
      tags:
        - Update
        - Pop
        - Settings
      summary: Update POP Settings
      description: Updates POP settings.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsPopPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsPopPutResponse'
              examples:
                UsersSettingsPopPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsPopPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsPopPutResponseExample"
  /gmail/v1/users/{userId}/settings/vacation:
    get:
      tags:
        - Get
        - Vacation
        - Settings
      summary: Get Vacation Settings
      description: Gets vacation responder settings.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsVacationGetResponse'
              examples:
                UsersSettingsVacationGetResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsVacationGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsVacationGetResponseExample"
    put:
      tags:
        - Update
        - Vacation
        - Settings
      summary: Update Vacation Settings
      description: Updates vacation responder settings.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsVacationPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsVacationPutResponse'
              examples:
                UsersSettingsVacationPutResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsVacationPutResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsVacationPutResponseExample"
  /gmail/v1/users/{userId}/settings/language:
    get:
      tags:
        - Get
        - Language
        - Settings
      summary: Get Language Settings
      description: Gets language settings.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsLanguageGetResponse'
              examples:
                UsersSettingsLanguageGetResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsLanguageGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsLanguageGetResponseExample"
    put:
      tags:
        - Update
        - Language
        - Settings
      summary: Update Language Settings
      description: >-
        Updates language settings. If successful, the return object contains the
        `displayLanguage` that was saved for the user, which may differ from the
        value passed into the request. This is because the requested
        `displayLanguage` may not be directly supported by Gmail but have a
        close variant that is, and so the variant may be chosen and saved
        instead.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsLanguagePutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsLanguagePutResponse'
              examples:
                UsersSettingsLanguagePutResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsLanguagePutResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsLanguagePutResponseExample"
  /gmail/v1/users/{userId}/settings/autoForwarding:
    get:
      tags:
        - Get
        - Auto
        - Settings
      summary: Get Auto Forwarding Settings
      description: Gets the auto-forwarding setting for the specified account.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsAutoForwardingGetResponse'
              examples:
                UsersSettingsAutoForwardingGetResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsAutoForwardingGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsAutoForwardingGetResponseExample"
    put:
      tags:
        - Update
        - Auto
      summary: Update Auto Forwarding
      description: >-
        Updates the auto-forwarding setting for the specified account. A
        verified forwarding address must be specified when auto-forwarding is
        enabled. This method is only available to service account clients that
        have been delegated domain-wide authority.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsAutoForwardingPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsAutoForwardingPutResponse'
              examples:
                UsersSettingsAutoForwardingPutResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsAutoForwardingPutResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsAutoForwardingPutResponseExample"
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault:
    post:
      tags:
        - Sets
        - Default
      summary: Set default S/MIME config
      description: Sets the default S/MIME config for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}:
    get:
      tags:
        - Get
        - Send
        - Info
      summary: Get Send As SMIME Info
      description: Gets the specified S/MIME config for the specified send-as alias.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoGetResponse'
              examples:
                SettingsSendAsSmimeInfoGetResponseExample:
                  $ref: >-
                    #/components/examples/SettingsSendAsSmimeInfoGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsSendAsSmimeInfoGetResponseExample"
    delete:
      tags:
        - Deletes
        - Send
        - Info
      summary: Delete Send As SMIME INfo
      description: Deletes the specified S/MIME config for the specified send-as alias.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: id
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/smimeInfo:
    get:
      tags:
        - Lists
        - Info
      summary: List SMIME Info
      description: Lists S/MIME configs for the specified send-as alias.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoGetResponse1'
              examples:
                SettingsSendAsSmimeInfoGetResponse1Example:
                  $ref: >-
                    #/components/examples/SettingsSendAsSmimeInfoGetResponse1Example
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsSendAsSmimeInfoGetResponse1Example"
    post:
      tags:
        - Insert
        - Info
      summary: Insert SMIME Info
      description: >-
        Insert (upload) the given S/MIME config for the specified send-as alias.
        Note that pkcs12 format is required for the key.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsSendAsSmimeInfoPostResponse'
              examples:
                SettingsSendAsSmimeInfoPostResponseExample:
                  $ref: >-
                    #/components/examples/SettingsSendAsSmimeInfoPostResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsSendAsSmimeInfoPostResponseExample"
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}/verify:
    post:
      tags:
        - Verify
        - Send
      summary: Verify Send As
      description: >-
        Sends a verification email to the specified send-as alias address. The
        verification status must be `pending`. This method is only available to
        service account clients that have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content: {}
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/settings/sendAs/{sendAsEmail}:
    get:
      tags:
        - Get
        - Send
      summary: Get Send As
      description: >-
        Gets the specified send-as alias. Fails with an HTTP 404 error if the
        specified address is not a member of the collection.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsSendAsGetResponse'
              examples:
                UsersSettingsSendAsGetResponseExample:
                  $ref: '#/components/examples/UsersSettingsSendAsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsSendAsGetResponseExample"
    put:
      tags:
        - Update
        - Send
        - Setting
      summary: Update Send As Setting
      description: >-
        Updates a send-as alias. If a signature is provided, Gmail will sanitize
        the HTML before saving it with the alias. Addresses other than the
        primary address for the account can only be updated by service account
        clients that have been delegated domain-wide authority.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsSendAsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsSendAsPutResponse'
              examples:
                UsersSettingsSendAsPutResponseExample:
                  $ref: '#/components/examples/UsersSettingsSendAsPutResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsSendAsPutResponseExample"
    patch:
      tags:
        - Patch
        - Send
      summary: Patch Send As
      description: Patch the specified send-as alias.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsSendAsPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsSendAsPatchResponse'
              examples:
                UsersSettingsSendAsPatchResponseExample:
                  $ref: >-
                    #/components/examples/UsersSettingsSendAsPatchResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsSendAsPatchResponseExample"
    delete:
      tags:
        - Deletes
        - Send
      summary: Delete Send As
      description: >-
        Deletes the specified send-as alias. Revokes any verification that may
        have been required for using it. This method is only available to
        service account clients that have been delegated domain-wide authority.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: sendAsEmail
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/settings/sendAs:
    get:
      tags:
        - Get
        - Send
      summary: Get Send As
      description: >-
        Lists the send-as aliases for the specified account. The result includes
        the primary send-as address associated with the account as well as any
        custom "from" aliases.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsSendAsGetResponse1'
              examples:
                UsersSettingsSendAsGetResponse1Example:
                  $ref: '#/components/examples/UsersSettingsSendAsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsSendAsGetResponse1Example"
    post:
      tags:
        - Create
        - Send
      summary: Create Send As
      description: >-
        Creates a custom "from" send-as alias. If an SMTP MSA is specified,
        Gmail will attempt to connect to the SMTP service to validate the
        configuration before creating the alias. If ownership verification is
        required for the alias, a message will be sent to the email address and
        the resource's verification status will be set to `pending`; otherwise,
        the resource will be created with verification status set to `accepted`.
        If a signature is provided, Gmail will sanitize the HTML before saving
        it with the alias. This method is only available to service account
        clients that have been delegated domain-wide authority.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersSettingsSendAsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSettingsSendAsPostResponse'
              examples:
                UsersSettingsSendAsPostResponseExample:
                  $ref: '#/components/examples/UsersSettingsSendAsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersSettingsSendAsPostResponseExample"
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:enable:
    post:
      tags:
        - Enables
      summary: Enable CSE Keypairs
      description: >-
        Turns on a client-side encryption key pair that was turned off. The key
        pair becomes active again for any associated client-side encryption
        identities.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: keyPairId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse'
              examples:
                SettingsCseKeypairsPostResponseExample:
                  $ref: '#/components/examples/SettingsCseKeypairsPostResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseKeypairsPostResponseExample"
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:
    get:
      tags:
        - Get
      summary: GET CSE Keypairs
      description: Retrieves an existing client-side encryption key pair.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: keyPairId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsGetResponse'
              examples:
                SettingsCseKeypairsGetResponseExample:
                  $ref: '#/components/examples/SettingsCseKeypairsGetResponseExample'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseKeypairsGetResponseExample"
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:disable:
    post:
      tags:
        - Disables
      summary: Disable CSE Keypairs
      description: >-
        Turns off a client-side encryption key pair. The authenticated user can
        no longer use the key pair to decrypt incoming CSE message texts or sign
        outgoing CSE mail. To regain access, use the EnableCseKeyPair to turn on
        the key pair. After 30 days, you can permanently delete the key pair by
        using the ObliterateCseKeyPair method.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: keyPairId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest1'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse1'
              examples:
                SettingsCseKeypairsPostResponse1Example:
                  $ref: >-
                    #/components/examples/SettingsCseKeypairsPostResponse1Example
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseKeypairsPostResponse1Example"
  /gmail/v1/users/{userId}/settings/cse/keypairs/{keyPairId}:obliterate:
    post:
      tags:
        - Obliterate
      summary: Obliterate CSE Keypairs
      description: >-
        Deletes a client-side encryption key pair permanently and immediately.
        You can only permanently delete key pairs that have been turned off for
        more than 30 days. To turn off a key pair, use the DisableCseKeyPair
        method. Gmail can't restore or decrypt any messages that were encrypted
        by an obliterated key. Authenticated users and Google Workspace
        administrators lose access to reading the encrypted messages.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: keyPairId
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest2'
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /gmail/v1/users/{userId}/settings/cse/keypairs:
    get:
      tags:
        - Lists
      summary: List CSE Keypairs
      description: Lists client-side encryption key pairs for an authenticated user.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsGetResponse1'
              examples:
                SettingsCseKeypairsGetResponse1Example:
                  $ref: '#/components/examples/SettingsCseKeypairsGetResponse1Example'
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseKeypairsGetResponse1Example"
    post:
      tags:
        - Create
      summary: Create CSE Keypairs
      description: >-
        Creates and uploads a client-side encryption S/MIME public key
        certificate chain and private key metadata for the authenticated user.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseKeypairsPostRequest3'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseKeypairsPostResponse2'
              examples:
                SettingsCseKeypairsPostResponse2Example:
                  $ref: >-
                    #/components/examples/SettingsCseKeypairsPostResponse2Example
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseKeypairsPostResponse2Example"
  /gmail/v1/users/{userId}/settings/cse/identities:
    get:
      tags:
        - Lists
      summary: List CSE Identites
      description: Lists the client-side encrypted identities for an authenticated user.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseIdentitiesGetResponse'
              examples:
                SettingsCseIdentitiesGetResponseExample:
                  $ref: >-
                    #/components/examples/SettingsCseIdentitiesGetResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseIdentitiesGetResponseExample"
    post:
      tags:
        - Create
      summary: Create CSE Identites
      description: >-
        Creates and configures a client-side encryption identity that's
        authorized to send mail from the user account. Google publishes the
        S/MIME certificate to a shared domain-wide directory so that people
        within a Google Workspace organization can encrypt and send mail to the
        identity.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseIdentitiesPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseIdentitiesPostResponse'
              examples:
                SettingsCseIdentitiesPostResponseExample:
                  $ref: >-
                    #/components/examples/SettingsCseIdentitiesPostResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseIdentitiesPostResponseExample"
  /gmail/v1/users/{userId}/settings/cse/identities/{emailAddress}:
    patch:
      tags:
        - Patch
      summary: PATCH CSE Identites
      description: >-
        Associates a different key pair with an existing client-side encryption
        identity. The updated key pair must validate against Google's [S/MIME
        certificate profiles](https://support.google.com/a/answer/7300887).
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: emailAddress
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingsCseIdentitiesPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseIdentitiesPatchResponse'
              examples:
                SettingsCseIdentitiesPatchResponseExample:
                  $ref: >-
                    #/components/examples/SettingsCseIdentitiesPatchResponseExample
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseIdentitiesPatchResponseExample"
  /gmail/v1/users/{userId}/settings/cse/identities/{cseEmailAddress}:
    get:
      tags:
        - Get
      summary: GET CSE Idenetites
      description: Retrieves a client-side encryption identity configuration.
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: cseEmailAddress
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsCseIdentitiesGetResponse1'
              examples:
                SettingsCseIdentitiesGetResponse1Example:
                  $ref: >-
                    #/components/examples/SettingsCseIdentitiesGetResponse1Example
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SettingsCseIdentitiesGetResponse1Example"
    delete:
      tags:
        - Deletes
      summary: Delete CSE Idenities
      description: >-
        Deletes a client-side encryption identity. The authenticated user can no
        longer use the identity to send encrypted messages. You cannot restore
        the identity after you delete it. Instead, use the CreateCseIdentity
        method to create another identity with the same configuration.
      parameters:
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
        - name: cseEmailAddress
          in: path
          schema:
            type: string
          required: true
          description: '(Required) '
          example: incididunt labore i
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
      x-api-evangelist-processing:
        ChooseTags: true
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
[...]
