openapi: 3.1.0
info:
  title: google-calendar-api
  description: >-
    The Google Calendar API allows developers to integrate their applications
    with Google Calendar, enabling them to create, modify, and manage events and
    settings programmatically. This API is robust, offering functionalities like
    managing calendar lists, events, access permissions, and user settings.
  version: 1.0.0
servers:
  - url: https://www.googleapis.com/calendar/v3
    description: Google Calendar API Server
  - url: http://localhost:8080/rest/google-calendar-api/1.0.0
    description: Sandbox
tags:
  - name: Calendars
    description: Operations related to Calendars
  - name: Calendar ACL
    description: Operations related to Calendarscalendaridacl
  - name: Calendar Rules
    description: Operations related to Calendarscalendaridaclruleid
  - name: Calendar Events
    description: Operations related to Calendarscalendaridevents
  - name: Colors
    description: Operations related to Default
  - name: User Calendars
    description: Operations related to Usersmecalendarlist
  - name: User Settings
    description: Operations related to Usersmesettings
paths:
  /calendars/{calendarId}/acl/{ruleId}:
    get:
      tags:
        - Calendar ACL Rules
      summary: Get Access Control Rule
      description: Returns an access control rule.
      operationId: googleGetaccesscontrolrule
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclGetResponse'
              examples:
                CalendarsAclGetResponseExample:
                  $ref: '#/components/examples/CalendarsAclGetResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclGetResponseExample"
    put:
      tags:
        - Calendar ACL Rules
      summary: Update Access Control Rule
      description: Updates an access control rule.
      operationId: googleUpdateaccesscontrolrule
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsAclPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclPutResponse'
              examples:
                CalendarsAclPutResponseExample:
                  $ref: '#/components/examples/CalendarsAclPutResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclPutResponseExample"
    patch:
      tags:
        - Calendar ACL Rules
      summary: Patch Access Control Rule
      description: Updates an access control rule. This method supports patch semantics.
      operationId: googlePatchaccesscontrolrule
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsAclPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclPatchResponse'
              examples:
                CalendarsAclPatchResponseExample:
                  $ref: '#/components/examples/CalendarsAclPatchResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclPatchResponseExample"
    delete:
      tags:
        - Calendar ACL Rules
      summary: Delete Access Control Rule
      description: Deletes an access control rule.
      operationId: googleDeleteaccesscontrolrule
      parameters:
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: ruleId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /calendars/{calendarId}/acl:
    get:
      tags:
        - Calendar ACLs
      summary: Return Access Control Rules
      description: Returns the rules in the access control list for the calendar.
      operationId: googleReturnaccesscontrolrules
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: maxResults
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: pageToken
          in: query
          schema:
            type: string
          example: amet in
        - name: showDeleted
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: syncToken
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclGetResponse1'
              examples:
                CalendarsAclGetResponse1Example:
                  $ref: '#/components/examples/CalendarsAclGetResponse1Example'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclGetResponse1Example"
    post:
      tags:
        - Calendar ACLs
      summary: Insert Access Control Rule
      description: Creates an access control rule.
      operationId: googleInsertaccesscontrolrule
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsAclPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclPostResponse'
              examples:
                CalendarsAclPostResponseExample:
                  $ref: '#/components/examples/CalendarsAclPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclPostResponseExample"
  /calendars/{calendarId}/acl/watch:
    post:
      tags:
        - Calendar ACLs
      summary: Watch Access Control Rules
      description: Watch for changes to ACL resources.
      operationId: googleWatchaccesscontrolrules
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: maxResults
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: pageToken
          in: query
          schema:
            type: string
          example: amet in
        - name: showDeleted
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: syncToken
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsAclWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsAclWatchPostResponse'
              examples:
                CalendarsAclWatchPostResponseExample:
                  $ref: '#/components/examples/CalendarsAclWatchPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsAclWatchPostResponseExample"
  /calendars/{calendarId}/events/{eventId}:
    get:
      tags:
        - Calendar Events
      summary: Get Event
      description: >-
        Returns an event based on its Google Calendar ID. To retrieve an event
        using its iCalendar ID, call the events.list method using the iCalUID
        parameter.
      operationId: googleGetevent
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: timeZone
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsGetResponse'
              examples:
                CalendarsEventsGetResponseExample:
                  $ref: '#/components/examples/CalendarsEventsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsGetResponseExample"
    put:
      tags:
        - Calendar Events
      summary: Update Event
      description: Updates an event.
      operationId: googleUpdateevent
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: conferenceDataVersion
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: supportsAttachments
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPutResponse'
              examples:
                CalendarsEventsPutResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPutResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsPutResponseExample"
    patch:
      tags:
        - Calendar Events
      summary: Patch Event
      description: Updates an event. This method supports patch semantics.
      operationId: googlePatchevent
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: conferenceDataVersion
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: supportsAttachments
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPatchResponse'
              examples:
                CalendarsEventsPatchResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPatchResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsPatchResponseExample"
    delete:
      tags:
        - Calendar Events
      summary: Delete Event
      description: Deletes an event.
      operationId: googleDeleteevent
      parameters:
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /calendars/{calendarId}/events/{eventId}/instances:
    get:
      tags:
        - Calendar Events
      summary: Insert Event
      description: Returns instances of the specified recurring event.
      operationId: googleInsertevent
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxResults
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: originalStart
          in: query
          schema:
            type: string
          example: amet in
        - name: pageToken
          in: query
          schema:
            type: string
          example: amet in
        - name: showDeleted
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: timeMax
          in: query
          schema:
            type: string
          example: amet in
        - name: timeMin
          in: query
          schema:
            type: string
          example: amet in
        - name: timeZone
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsInstancesGetResponse'
              examples:
                CalendarsEventsInstancesGetResponseExample:
                  $ref: >-
                    #/components/examples/CalendarsEventsInstancesGetResponseExample
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsInstancesGetResponseExample"
  /calendars/{calendarId}/events/{eventId}/move:
    post:
      tags:
        - Calendar Events
      summary: Move Event
      description: >-
        Moves an event to another calendar, i.e. changes an event's organizer.
        Note that only default events can be moved; outOfOffice, focusTime and
        workingLocation events cannot be moved.
      operationId: googleMoveevent
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: destination
          in: query
          schema:
            type: string
          description: '(Required) '
          example: amet in
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - name: eventId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsMovePostResponse'
              examples:
                CalendarsEventsMovePostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsMovePostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsMovePostResponseExample"
  /calendars/{calendarId}/events:
    get:
      tags:
        - Calendar Events
      summary: Return Events From Calendar
      description: Returns events on the specified calendar.
      operationId: googleReturneventsfromcalendar
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: eventTypes
          in: query
          schema:
            type: string
          example: amet in
        - name: iCalUID
          in: query
          schema:
            type: string
          example: amet in
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxResults
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: orderBy
          in: query
          schema:
            type: string
          example: amet in
        - name: pageToken
          in: query
          schema:
            type: string
          example: amet in
        - name: privateExtendedProperty
          in: query
          schema:
            type: string
          example: amet in
        - name: q
          in: query
          schema:
            type: string
          example: amet in
        - name: sharedExtendedProperty
          in: query
          schema:
            type: string
          example: amet in
        - name: showDeleted
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: showHiddenInvitations
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: singleEvents
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: syncToken
          in: query
          schema:
            type: string
          example: amet in
        - name: timeMax
          in: query
          schema:
            type: string
          example: amet in
        - name: timeMin
          in: query
          schema:
            type: string
          example: amet in
        - name: timeZone
          in: query
          schema:
            type: string
          example: amet in
        - name: updatedMin
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsGetResponse1'
              examples:
                CalendarsEventsGetResponse1Example:
                  $ref: '#/components/examples/CalendarsEventsGetResponse1Example'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsGetResponse1Example"
    post:
      tags:
        - Calendar Events
      summary: Create An Event
      description: Creates an event.
      operationId: googleCreateanevent
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: conferenceDataVersion
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: supportsAttachments
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsPostResponse'
              examples:
                CalendarsEventsPostResponseExample:
                  $ref: '#/components/examples/CalendarsEventsPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsPostResponseExample"
  /calendars/{calendarId}/events/import:
    post:
      tags:
        - Calendar Events
      summary: Import Event
      description: >-
        Imports an event. This operation is used to add a private copy of an
        existing event to a calendar.
      operationId: googleImportevent
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: conferenceDataVersion
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: supportsAttachments
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsImportPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsImportPostResponse'
              examples:
                CalendarsEventsImportPostResponseExample:
                  $ref: >-
                    #/components/examples/CalendarsEventsImportPostResponseExample
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsImportPostResponseExample"
  /calendars/{calendarId}/events/quickAdd:
    post:
      tags:
        - Calendar Events
      summary: Quick Add Event
      description: Creates an event based on a simple text string.
      operationId: googleQuickaddevent
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: text
          in: query
          schema:
            type: string
          description: '(Required) '
          example: amet in
        - name: sendNotifications
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: sendUpdates
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsQuickAddPostResponse'
              examples:
                CalendarsEventsQuickAddPostResponseExample:
                  $ref: >-
                    #/components/examples/CalendarsEventsQuickAddPostResponseExample
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsQuickAddPostResponseExample"
  /calendars/{calendarId}/events/watch:
    post:
      tags:
        - Calendar Events
      summary: Watch Events
      description: Watch for changes to Events resources.
      operationId: googleWatchevents
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alwaysIncludeEmail
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: eventTypes
          in: query
          schema:
            type: string
          example: amet in
        - name: iCalUID
          in: query
          schema:
            type: string
          example: amet in
        - name: maxAttendees
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: maxResults
          in: query
          schema:
            type: integer
          example: '54806309'
        - name: orderBy
          in: query
          schema:
            type: string
          example: amet in
        - name: pageToken
          in: query
          schema:
            type: string
          example: amet in
        - name: privateExtendedProperty
          in: query
          schema:
            type: string
          example: amet in
        - name: q
          in: query
          schema:
            type: string
          example: amet in
        - name: sharedExtendedProperty
          in: query
          schema:
            type: string
          example: amet in
        - name: showDeleted
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: showHiddenInvitations
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: singleEvents
          in: query
          schema:
            type: boolean
          example: 'true'
        - name: syncToken
          in: query
          schema:
            type: string
          example: amet in
        - name: timeMax
          in: query
          schema:
            type: string
          example: amet in
        - name: timeMin
          in: query
          schema:
            type: string
          example: amet in
        - name: timeZone
          in: query
          schema:
            type: string
          example: amet in
        - name: updatedMin
          in: query
          schema:
            type: string
          example: amet in
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsEventsWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsEventsWatchPostResponse'
              examples:
                CalendarsEventsWatchPostResponseExample:
                  $ref: >-
                    #/components/examples/CalendarsEventsWatchPostResponseExample
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsEventsWatchPostResponseExample"
  /calendars/{calendarId}:
    get:
      tags:
        - Calendars
      summary: Get Calendar
      description: Returns metadata for a calendar.
      operationId: googleGetcalendar
      security:
        - oauth2Auth: []
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsGetResponse'
              examples:
                CalendarsGetResponseExample:
                  $ref: '#/components/examples/CalendarsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsGetResponseExample"
    put:
      tags:
        - Calendars
      summary: Update Calendar
      description: Updates metadata for a calendar.
      operationId: googleUpdatecalendar
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsPutResponse'
              examples:
                CalendarsPutResponseExample:
                  $ref: '#/components/examples/CalendarsPutResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsPutResponseExample"
    patch:
      tags:
        - Calendars
      summary: Patch Calendar
      description: Updates metadata for a calendar. This method supports patch semantics.
      operationId: googlePatchcalendar
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsPatchResponse'
              examples:
                CalendarsPatchResponseExample:
                  $ref: '#/components/examples/CalendarsPatchResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsPatchResponseExample"
    delete:
      tags:
        - Calendars
      summary: Delete Calendar
      description: >-
        Deletes a secondary calendar. Use calendars.clear for clearing all
        events on primary calendars.
      operationId: googleDeletecalendar
      parameters:
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /calendars/{calendarId}/clear:
    post:
      tags:
        - Calendars
      summary: Clear Calendar
      description: >-
        Clears a primary calendar. This operation deletes all events associated
        with the primary calendar of an account.
      operationId: googleClearcalendar
      parameters:
        - name: alt
          in: query
          schema:
            type: string
          description: Data format for the response.
          example: json
        - name: fields
          in: query
          schema:
            type: string
          description: Selector specifying which fields to include in a partial response.
          example: amet in
        - name: key
          in: query
          schema:
            type: string
          description: >-
            API key. Your API key identifies your project and provides you with
            API access, quota, and reports. Required unless you provide an OAuth
            2.0 token.
          example: amet in
        - name: oauth_token
          in: query
          schema:
            type: string
          description: OAuth 2.0 token for the current user.
          example: amet in
        - name: prettyPrint
          in: query
          schema:
            type: boolean
          description: Returns response with indentations and line breaks.
          example: 'true'
        - name: quotaUser
          in: query
          schema:
            type: string
          description: >-
            An opaque string that represents a user for quota purposes. Must not
            exceed 40 characters.
          example: amet in
        - name: userIp
          in: query
          schema:
            type: string
          description: Deprecated. Please use quotaUser instead.
          example: amet in
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content: {}
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /calendars:
    post:
      tags:
        - Calendars
      summary: Calendar
      description: Creates a secondary calendar.
      operationId: googleCalendar
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalendarsPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarsPostResponse'
              examples:
                CalendarsPostResponseExample:
                  $ref: '#/components/examples/CalendarsPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "CalendarsPostResponseExample"
  /users/me/calendarList/{calendarId}:
    get:
      tags:
        - User Calendars
      summary: Get Calendar List
      description: Returns a calendar from the user's calendar list.
      operationId: googleGetcalendarlist
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeCalendarListGetResponse'
              examples:
                UsersMeCalendarListGetResponseExample:
                  $ref: '#/components/examples/UsersMeCalendarListGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeCalendarListGetResponseExample"
    put:
      tags:
        - User Calendars
      summary: Update Calendar List
      description: Updates an existing calendar on the user's calendar list.
      operationId: googleUpdatecalendarlist
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMeCalendarListPutRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeCalendarListPutResponse'
              examples:
                UsersMeCalendarListPutResponseExample:
                  $ref: '#/components/examples/UsersMeCalendarListPutResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeCalendarListPutResponseExample"
    patch:
      tags:
        - User Calendars
      summary: Patch Calendar List
      description: >-
        Updates an existing calendar on the user's calendar list. This method
        supports patch semantics.
      operationId: googlePatchcalendarlist
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMeCalendarListPatchRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeCalendarListPatchResponse'
              examples:
                UsersMeCalendarListPatchResponseExample:
                  $ref: >-
                    #/components/examples/UsersMeCalendarListPatchResponseExample
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeCalendarListPatchResponseExample"
    delete:
      tags:
        - User Calendars
      summary: Remove Calendar On List
      description: Removes a calendar from the user's calendar list.
      operationId: googleRemovecalendaronlist
      parameters:
        - name: calendarId
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /users/me/calendarList:
    post:
      tags:
        - User Calendars
      summary: Insert Calendar On List
      description: Inserts an existing calendar into the user's calendar list.
      operationId: googleInsertcalendaronlist
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsersMeCalendarListPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeCalendarListPostResponse'
              examples:
                UsersMeCalendarListPostResponseExample:
                  $ref: '#/components/examples/UsersMeCalendarListPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeCalendarListPostResponseExample"
  /users/{userId}/calendarList:
    get:
      tags:
        - User Calendars
      summary: List Calendars
      description: Returns the calendars on the user's calendar list.
      operationId: googleListcalendars
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: userId
          in: path
          schema:
            type: string
          required: true
          description: (Required)
          example: '{{userId}}'
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersCalendarListGetResponse'
              examples:
                UsersCalendarListGetResponseExample:
                  $ref: '#/components/examples/UsersCalendarListGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersCalendarListGetResponseExample"
  /users/me/calendarList/watch:
    post:
      tags:
        - User Calendars
      summary: Watch Calendar List
      description: Watch for changes to CalendarList resources.
      operationId: googleWatchcalendarlist
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeCalendarListWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeCalendarListWatchPostResponse'
              examples:
                MeCalendarListWatchPostResponseExample:
                  $ref: '#/components/examples/MeCalendarListWatchPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "MeCalendarListWatchPostResponseExample"
  /users/me/settings:
    get:
      tags:
        - User Settings
      summary: List Calendar Settings
      description: Returns all user settings for the authenticated user.
      operationId: googleListcalendarsettings
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeSettingsGetResponse'
              examples:
                UsersMeSettingsGetResponseExample:
                  $ref: '#/components/examples/UsersMeSettingsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeSettingsGetResponseExample"
  /users/me/settings/{setting}:
    get:
      tags:
        - User Settings
      summary: Get Calendar Settings
      description: Returns a single user setting.
      operationId: googleGetcalendarsettings
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: setting
          in: path
          schema:
            type: string
          required: true
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersMeSettingsGetResponse1'
              examples:
                UsersMeSettingsGetResponse1Example:
                  $ref: '#/components/examples/UsersMeSettingsGetResponse1Example'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "UsersMeSettingsGetResponse1Example"
  /users/me/settings/watch:
    post:
      tags:
        - User Settings
      summary: Watch Calendar Settings
      description: Watch for changes to Settings resources.
      operationId: googleWatchcalendarsettings
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeSettingsWatchPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeSettingsWatchPostResponse'
              examples:
                MeSettingsWatchPostResponseExample:
                  $ref: '#/components/examples/MeSettingsWatchPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "MeSettingsWatchPostResponseExample"
  /channels/stop:
    post:
      tags:
        - Channels
      summary: Stop Calendar Channel
      description: Stop watching resources through this channel
      operationId: googleStopcalendarchannel
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelsStopPostRequest'
      responses:
        '204':
          description: No Content
          headers:
            Content-Type:
              schema:
                type: string
                example: text/plain
          content:
            text/plain:
              schema:
                type: string
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "SuccessExample"
  /colors:
    get:
      tags:
        - Colors
      summary: Get Calendar Colors
      description: Returns the color definitions for calendars and events.
      operationId: googleGetcalendarcolors
      parameters:
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ColorsGetResponse'
              examples:
                ColorsGetResponseExample:
                  $ref: '#/components/examples/ColorsGetResponseExample'
      x-api-evangelist-certified: '2025-07-20'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "ColorsGetResponseExample"
  /freeBusy:
    post:
      tags:
        - Free Busy
      summary: Query Free Busy
      description: Returns free/busy information for a set of calendars.
      operationId: googleQueryfreebusy
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - in: header
          name: Authorization
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeBusyPostRequest'
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeBusyPostResponse'
              examples:
                FreeBusyPostResponseExample:
                  $ref: '#/components/examples/FreeBusyPostResponseExample'
      x-microcks-operation:
        dispatcher: SCRIPT
        dispatcherRules: |
          return "FreeBusyPostResponseExample"
components:
  schemas:
    CalendarsAclGetResponse:
      description: CalendarsAclGetResponse schema
      type: object
      properties:
        etag:
          type: string
        id:
          type: string
        kind:
          type: string
        role:
          type: string
        scope:
          $ref: '#/components/schemas/CalendarsAclGetResponseScope'
    CalendarsAclGetResponse1:
      description: CalendarsAclGetResponse1 schema
      type: object
      properties:
        etag:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              etag:
                type: string
              id:
                type: string
              kind:
                type: string
              role:
                type: string
              scope:
                type: object
                properties:
                  type:
                    type: string
                  value:
                    type: string
        kind:
          type: string
        nextPageToken:
          type: string
        nextSyncToken:
          type: string
    CalendarsAclGetResponseScope:
      description: CalendarsAclGetResponseScope schema
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    CalendarsAclPatchRequest:
      description: CalendarsAclPatchRequest schema
      type: object
      example:
        etag: velit eu voluptate
        id: ex dolore in sint
        kind: calendar#aclRule
        role: et
        scope:
          type: sit eiusmod culpa do
          value: quis esse
    CalendarsAclPatchResponse:
      description: CalendarsAclPatchResponse schema
      type: object
      properties:
        etag:
          type: string
        id:
          type: string
        kind:
          type: string
        role:
          type: string
        scope:
          $ref: '#/components/schemas/CalendarsAclPatchResponseScope'
    CalendarsAclPatchResponseScope:
      description: CalendarsAclPatchResponseScope schema
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    CalendarsAclPostRequest:
      description: CalendarsAclPostRequest schema
      type: object
      example:
        etag: velit eu voluptate
        id: ex dolore in sint
        kind: calendar#aclRule
        role: et
        scope:
          type: sit eiusmod culpa do
          value: quis esse
    CalendarsAclPostResponse:
      description: CalendarsAclPostResponse schema
      type: object
      properties:
        etag:
          type: string
        id:
          type: string
        kind:
          type: string
        role:
          type: string
        scope:
          $ref: '#/components/schemas/CalendarsAclPostResponseScope'
    CalendarsAclPostResponseScope:
      description: CalendarsAclPostResponseScope schema
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    CalendarsAclPutRequest:
      description: CalendarsAclPutRequest schema
      type: object
      example:
        etag: velit eu voluptate
        id: ex dolore in sint
        kind: calendar#aclRule
        role: et
        scope:
          type: sit eiusmod culpa do
          value: quis esse
    CalendarsAclPutResponse:
      description: CalendarsAclPutResponse schema
      type: object
      properties:
        etag:
          type: string
        id:
          type: string
        kind:
          type: string
        role:
          type: string
        scope:
          $ref: '#/components/schemas/CalendarsAclPutResponseScope'
    CalendarsAclPutResponseScope:
      description: CalendarsAclPutResponseScope schema
      type: object
      properties:
        type:
          type: string
        value:
          type: string
    CalendarsAclWatchPostRequest:
      description: CalendarsAclWatchPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
        expiration: velit ad aliq
        id: velit eiusmod
        kind: api#channel
        params:
          reprehenderit5c: non
          sint_b: cupidatat do
        payload: false
        resourceId: aute
        resourceUri: fugiat consequat
        token: ullamco officia in
        type: ex eiusmod adipisicing mollit
    CalendarsAclWatchPostResponse:
      description: CalendarsAclWatchPostResponse schema
      type: object
      properties:
        address:
          type: string
        expiration:
          type: string
        id:
          type: string
        kind:
          type: string
        params:
          $ref: '#/components/schemas/CalendarsAclWatchPostResponseParams'
        payload:
          type: boolean
        resourceId:
          type: string
        resourceUri:
          type: string
        token:
          type: string
        type:
          type: string
    CalendarsAclWatchPostResponseParams:
      description: CalendarsAclWatchPostResponseParams schema
      type: object
      properties:
        reprehenderit5c:
          type: string
        sint_b:
          type: string
    CalendarsEventsGetResponse:
      description: CalendarsEventsGetResponse schema
      type: object
    CalendarsEventsGetResponse1:
      description: CalendarsEventsGetResponse1 schema
      type: object
    CalendarsEventsImportPostRequest:
      description: CalendarsEventsImportPostRequest schema
      type: object
      example: null
    CalendarsEventsImportPostResponse:
      description: CalendarsEventsImportPostResponse schema
      type: object
    CalendarsEventsInstancesGetResponse:
      description: CalendarsEventsInstancesGetResponse schema
      type: object
    CalendarsEventsMovePostResponse:
      description: CalendarsEventsMovePostResponse schema
      type: object
    CalendarsEventsPatchRequest:
      description: CalendarsEventsPatchRequest schema
      type: object
      example: null
    CalendarsEventsPatchResponse:
      description: CalendarsEventsPatchResponse schema
      type: object
    CalendarsEventsPostRequest:
      description: CalendarsEventsPostRequest schema
      type: object
      example: null
    CalendarsEventsPostResponse:
      description: CalendarsEventsPostResponse schema
      type: object
    CalendarsEventsPutRequest:
      description: CalendarsEventsPutRequest schema
      type: object
      example: null
    CalendarsEventsPutResponse:
      description: CalendarsEventsPutResponse schema
      type: object
    CalendarsEventsQuickAddPostResponse:
      description: CalendarsEventsQuickAddPostResponse schema
      type: object
    CalendarsEventsWatchPostRequest:
      description: CalendarsEventsWatchPostRequest schema
      type: object
      example:
        address: incididunt sed consequat
[...]
