openapi: 3.1.0
info:
  title: linkedin-recruiter-system-connect-api
  description: >-
    The LinkedIn Recruiter System Connect (RSC) API enables partners to
    integrate their Applicant Tracking Systems (ATS) with LinkedIn Recruiter.
    This API supports:

    - Configuring customer middleware integrations - Syncing data from ATS to
    LinkedIn (jobs, candidates, applications) - Retrieving data from LinkedIn
    (exported candidates, InMail history) - Defining permissions via Access
    Control Lists (ACLs) - Managing synced data lifecycle

    For comprehensive documentation, visit the [RSC
    Documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/).
  version: 1.0.0
  contact:
    name: LinkedIn Talent Solutions
    url: https://docs.microsoft.com/en-us/linkedin/talent/
servers:
  - url: https://api.linkedin.com
    description: LinkedIn Production API Server
  - url: https://www.linkedin.com
    description: LinkedIn OAuth Server
  - url: http://localhost:8080/rest/linkedin-recruiter-system-connect-api/1.0.0
    description: Sandbox
tags:
  - name: Authentication
    description: OAuth 2.0 token management for customer applications
  - name: Integration Configuration
    description: Configure and manage customer ATS integrations
  - name: Job Synchronization
    description: Sync job postings from ATS to LinkedIn
  - name: Candidate Synchronization
    description: Sync candidate data from ATS to LinkedIn
  - name: Application Synchronization
    description: Sync job applications and related data
  - name: Data Retrieval
    description: Retrieve exported candidates and recruiter interactions
  - name: Access Control
    description: Manage entity ACLs and assignees
  - name: Data Deletion
    description: Delete synced data from LinkedIn
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 Bearer Token for API access
    OAuth2Auth:
      type: oauth2
      description: OAuth 2.0 authentication with 3-legged flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            r_liteprofile: Read basic profile data
  schemas:
    AccessTokenRequest:
      type: object
      description: Request body for obtaining access token
      required:
        - grant_type
        - client_id
        - client_secret
      properties:
        grant_type:
          type: string
          enum:
            - client_credentials
          example: client_credentials
        client_id:
          type: string
          description: OAuth 2.0 client ID
          example: 78abc123def456
        client_secret:
          type: string
          description: OAuth 2.0 client secret
          example: secretXYZ789
    AccessTokenResponse:
      type: object
      description: Response containing access token
      properties:
        access_token:
          type: string
          description: OAuth 2.0 access token
          example: AQV8vPRN5zF9BxJ...
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 5184000
        token_type:
          type: string
          description: Token type
          example: Bearer
    AtsIntegrationUpdateRequest:
      type: object
      description: Request for updating ATS integrations
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/IntegrationPatch'
    IntegrationPatch:
      type: object
      properties:
        patch:
          type: object
          properties:
            $set:
              type: object
              properties:
                integrationName:
                  type: string
                  example: Customer Name LinkedIn Recruiter CSA_API Integration
    IntegrationConfigurationRequest:
      type: object
      description: Request for syncing integration configurations
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ConfigurationValue'
    ConfigurationValue:
      type: object
      properties:
        configurationValue:
          type: object
          properties:
            string:
              type: string
              enum:
                - ALL_PRODUCT_USERS
                - ACL_BASED
              example: ALL_PRODUCT_USERS
    CandidateRequest:
      type: object
      description: Request for syncing candidate data
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/CandidateData'
    CandidateData:
      type: object
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        middleInitial:
          type: string
          example: M
        prefix:
          type: string
          example: Mr
        suffix:
          type: string
          example: Jr
        emailAddresses:
          type: array
          items:
            type: string
            format: email
          example:
            - john.doe@example.com
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        currentCompanyName:
          type: string
          example: Tech Corp
        currentJobTitle:
          type: string
          example: Senior Software Engineer
        externalProfileUrl:
          type: string
          format: uri
          example: https://example.com/profile/johndoe
        atsCreatedAt:
          type: integer
          format: int64
          example: 1702693664000
        atsLastModifiedAt:
          type: integer
          format: int64
          example: 1702693664000
    PhoneNumber:
      type: object
      properties:
        number:
          type: string
          example: 555-555-5555
        extension:
          type: string
          example: '1234'
    Address:
      type: object
      properties:
        line1:
          type: string
          example: 123 Main Street
        city:
          type: string
          example: San Francisco
        geographicArea:
          type: string
          example: CA
        geographicAreaType:
          type: string
          enum:
            - STATE
            - PROVINCE
          example: STATE
        postalCode:
          type: string
          example: '94102'
        country:
          type: string
          example: US
    ApplicationRequest:
      type: object
      description: Request for syncing job applications
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ApplicationData'
    ApplicationData:
      type: object
      properties:
        atsCandidateId:
          type: string
          example: CAND-001
        atsJobPostingId:
          type: string
          example: JOB-2024-001
        atsJobPostingName:
          type: string
          example: Senior Software Engineer
        candidateEmail:
          type: string
          format: email
          example: johndoe@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        source:
          type: string
          example: Referral
        dispositionReason:
          type: string
          example: ''
        atsCreatedAt:
          type: integer
          format: int64
          example: 1702693664000
        atsLastModifiedAt:
          type: integer
          format: int64
          example: 1702693664000
    NoteRequest:
      type: object
      description: Request for syncing notes
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/NoteData'
    NoteData:
      type: object
      properties:
        note:
          type: string
          example: Great candidate, recommend for next round.
        author:
          $ref: '#/components/schemas/PersonName'
        atsCreatedAt:
          type: integer
          format: int64
          example: 1702693664000
    PersonName:
      type: object
      properties:
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Smith
    InterviewFeedbackRequest:
      type: object
      description: Request for syncing interview feedback
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/InterviewFeedbackData'
    InterviewFeedbackData:
      type: object
      properties:
        feedback:
          type: string
          example: Strong technical skills demonstrated.
        evaluations:
          type: array
          items:
            $ref: '#/components/schemas/Evaluation'
        interviewer:
          $ref: '#/components/schemas/PersonName'
        atsCreatedAt:
          type: integer
          format: int64
          example: 1702693664000
    Evaluation:
      type: object
      properties:
        attribute:
          type: string
          example: Technical Skills
        result:
          type: string
          example: 4/5
    StageRequest:
      type: object
      description: Request for syncing application stages
      properties:
        entities:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/StageData'
    StageData:
      type: object
      properties:
        stage:
          type: string
          example: Phone Interview
        atsCreatedAt:
          type: integer
          format: int64
          example: 1702693664000
    ResumeUploadRequest:
      type: object
      description: Request for creating resume upload URL
      properties:
        contentType:
          type: string
          example: application/pdf
        fileName:
          type: string
          example: resume.pdf
        blobTtl:
          type: object
          properties:
            duration:
              type: integer
              example: 72
            unit:
              type: string
              enum:
                - HOUR
                - DAY
              example: HOUR
        hiringContext:
          type: string
          example: urn:li:contract:12345
        usageParameters:
          type: object
          properties:
            recruiterSystemConnectResumeParameters:
              type: object
    ResumeUploadResponse:
      type: object
      description: Response containing signed upload URL
      properties:
        uploadUrl:
          type: string
          format: uri
          example: https://www.linkedin.com/dms-uploads/...
        resumeUrn:
          type: string
          example: urn:li:ambryBlob:/AAYUAgCvAAkAAQ...
    EntityAclRequest:
      type: object
      description: Request for upserting entity ACLs
      properties:
        entities:
          type: object
    ExportedCandidateResponse:
      type: object
      description: Response containing exported candidate data
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/ExportedCandidate'
    ExportedCandidate:
      type: object
      properties:
        personUrn:
          type: string
          example: urn:li:person:ABC123
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        headline:
          type: string
          example: Senior Software Engineer at Tech Corp
        profilePictureUrl:
          type: string
          format: uri
          example: https://media.licdn.com/...
    SeatholdersResponse:
      type: object
      description: Response containing recruiter seatholders
      properties:
        elements:
          type: array
          items:
            $ref: '#/components/schemas/Seatholder'
        paging:
          $ref: '#/components/schemas/Paging'
    Seatholder:
      type: object
      properties:
        seatUrn:
          type: string
          example: urn:li:seat:12345
        firstName:
          type: string
          example: Jane
        lastName:
          type: string
          example: Recruiter
        emailAddress:
          type: string
          format: email
          example: jane.recruiter@company.com
        active:
          type: boolean
          example: true
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 100
        total:
          type: integer
          example: 250
    SuccessResponse:
      type: object
      properties:
        status:
          type: string
          example: SUCCESS
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        serviceErrorCode:
          type: integer
          example: 100
  examples:
    AccessTokenResponseExample:
      summary: Successful access token response
      value:
        access_token: AQV8vPRN5zF9BxJ...
        expires_in: 5184000
        token_type: Bearer
    CandidateRequestExample:
      summary: Example candidate sync request
      value:
        entities:
          atsCandidateId=CAND-001&dataProvider=ATS&integrationContext=urn:li:organization:12345:
            firstName: John
            lastName: Doe
            emailAddresses:
              - john.doe@example.com
            currentCompanyName: Tech Corp
            currentJobTitle: Senior Software Engineer
            atsCreatedAt: 1702693664000
            atsLastModifiedAt: 1702693664000
    ApplicationRequestExample:
      summary: Example application sync request
      value:
        entities:
          atsJobApplicationId=APP-001&dataProvider=ATS&integrationContext=urn:li:organization:12345:
            atsCandidateId: CAND-001
            atsJobPostingId: JOB-2024-001
            atsJobPostingName: Senior Software Engineer
            firstName: John
            lastName: Doe
            source: Referral
            atsCreatedAt: 1702693664000
    NoteRequestExample:
      summary: Example note sync request
      value:
        entities:
          NOTE-001:
            note: Great candidate, recommend for next round.
            author:
              firstName: Jane
              lastName: Smith
            atsCreatedAt: 1702693664000
    ExportedCandidateResponseExample:
      summary: Example exported candidate response
      value:
        elements:
          - personUrn: urn:li:person:ABC123
            firstName: John
            lastName: Doe
            headline: Senior Software Engineer at Tech Corp
    SeatholdersResponseExample:
      summary: Example seatholders response
      value:
        elements:
          - seatUrn: urn:li:seat:12345
            firstName: Jane
            lastName: Recruiter
            emailAddress: jane.recruiter@company.com
            active: true
        paging:
          start: 0
          count: 100
          total: 1
    SuccessResponseExample:
      summary: Successful operation response
      value:
        status: SUCCESS
    ErrorResponseExample:
      summary: Error response example
      value:
        status: 400
        message: Invalid request parameters
        serviceErrorCode: 100
  parameters:
    RestliMethodHeader:
      name: x-restli-method
      in: header
      required: true
      description: Rest.li method type
      schema:
        type: string
        enum:
          - batch_update
          - batch_partial_update
          - batch_create
      example: batch_update
    ContentTypeHeader:
      name: Content-Type
      in: header
      required: true
      description: Content type of request body
      schema:
        type: string
      example: application/json
    RestliProtocolVersionHeader:
      name: X-RestLi-Protocol-Version
      in: header
      required: false
      description: Rest.li protocol version
      schema:
        type: string
      example: 2.0.0
    OrganizationIdPath:
      name: org_id
      in: path
      required: true
      description: Organization identifier
      schema:
        type: string
      example: '12345678'
    ContractIdPath:
      name: contract_id
      in: path
      required: true
      description: Contract identifier
      schema:
        type: string
      example: '12345'
    CandidateIdPath:
      name: candidate_id
      in: path
      required: true
      description: Candidate identifier
      schema:
        type: string
      example: CAND-001
    ApplicationIdPath:
      name: application_id
      in: path
      required: true
      description: Application identifier
      schema:
        type: string
      example: APP-001
    QueryTypeParameter:
      name: q
      in: query
      required: true
      description: Query type
      schema:
        type: string
      example: request
    RequestIdParameter:
      name: requestId
      in: query
      required: true
      description: Request ID from push notification
      schema:
        type: string
      example: req-12345-abcde
    IdsParameter:
      name: ids
      in: query
      required: false
      description: Entity identifiers
      schema:
        type: string
      example: NOTE-001
security:
  - BearerAuth: []
paths:
  /oauth/v2/accessToken:
    post:
      operationId: getAccessToken
      tags:
        - Authentication
      summary: Get Customer Application Access Token
      description: >-
        Obtains an OAuth 2.0 access token using client credentials grant for
        customer application authentication.
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      security: []
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
      responses:
        '200':
          description: Successfully obtained access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/AccessTokenResponseExample'
        '401':
          description: Invalid client credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/atsIntegrations:
    post:
      operationId: updateAtsIntegration
      tags:
        - Integration Configuration
      summary: Update Customer ATS Integration
      description: >-
        Updates customer ATS integration settings including CSA_API,
        ONE_CLICK_EXPORT, IN_ATS_INDICATOR, and PROFILE_PLUGIN integrations.

        For more information, refer to the [RSC Customer Configuration
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#sample-request).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/RestliMethodHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:contract:12345
        - name: ids[0].integrationType
          in: query
          required: true
          schema:
            type: string
            enum:
              - CSA_API
              - ONE_CLICK_EXPORT
              - IN_ATS_INDICATOR
              - PROFILE_PLUGIN
          example: CSA_API
        - name: ids[0].tenantType
          in: query
          required: true
          schema:
            type: string
          example: RECRUITER
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtsIntegrationUpdateRequest'
      responses:
        '200':
          description: Successfully updated integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getIntegrationNotification
      tags:
        - Integration Configuration
      summary: Get Integration Status Change Notification
      description: >-
        Retrieves details about integration status changes when a customer
        enables or modifies an integration.

        For more information, refer to the [Verify Customer Integrations
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-customer-configuration#5-verify-customer-integrations-enablement).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/QueryTypeParameter'
        - $ref: '#/components/parameters/RequestIdParameter'
      responses:
        '200':
          description: Successfully retrieved notification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Notification not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/atsCandidates:
    put:
      operationId: syncCandidates
      tags:
        - Candidate Synchronization
      summary: Sync Candidates To LinkedIn
      description: >-
        Creates or updates candidate records in LinkedIn from the ATS system.

        For more information, refer to the [Sync Candidates
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidates).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/RestliMethodHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: ids[0].atsCandidateId
          in: query
          required: true
          schema:
            type: string
          example: CAND-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidateRequest'
            examples:
              SyncCandidate:
                $ref: '#/components/examples/CandidateRequestExample'
      responses:
        '200':
          description: Successfully synced candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getCandidateMatches
      tags:
        - Candidate Synchronization
      summary: Retrieve Candidate Matches
      description: >-
        Retrieves candidate details including algorithmic and user-supplied
        matches with LinkedIn members.

        For more information, refer to the [Retrieve Candidate Matches
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-candidates#retrieve-candidate-matches).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: ids[0].atsCandidateId
          in: query
          required: true
          schema:
            type: string
          example: CAND-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
      responses:
        '200':
          description: Successfully retrieved candidate matches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CandidateData'
        '404':
          description: Candidate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteCandidates
      tags:
        - Data Deletion
      summary: Delete Synced Candidates
      description: >-
        Deletes previously synced candidate records.

        For more information, refer to the [Delete Candidates
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-candidates).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: ids[0].atsCandidateId
          in: query
          required: true
          schema:
            type: string
          example: CAND-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
      responses:
        '200':
          description: Successfully deleted candidates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Candidate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/atsApplications:
    put:
      operationId: syncApplications
      tags:
        - Application Synchronization
      summary: Sync Job Applications
      description: >-
        Creates or updates job application records in LinkedIn.

        For more information, refer to the [Sync Applications
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-applications).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/RestliMethodHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: ids[0].atsJobApplicationId
          in: query
          required: true
          schema:
            type: string
          example: APP-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationRequest'
            examples:
              SyncApplication:
                $ref: '#/components/examples/ApplicationRequestExample'
      responses:
        '200':
          description: Successfully synced applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteApplications
      tags:
        - Data Deletion
      summary: Delete Synced Applications
      description: >-
        Deletes previously synced job application records.

        For more information, refer to the [Delete Applications
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/rsc-data-deletion#delete-applications).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: ids[0].atsJobApplicationId
          in: query
          required: true
          schema:
            type: string
          example: APP-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
      responses:
        '200':
          description: Successfully deleted applications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: Application not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/hireMediaUrl:
    post:
      operationId: createResumeUploadUrl
      tags:
        - Application Synchronization
      summary: Create Resume Upload URL
      description: >-
        Creates a signed URL for uploading resume files to LinkedIn.

        For more information, refer to the [Resume Upload
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-applications#resume-upload).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/ContentTypeHeader'
        - $ref: '#/components/parameters/RestliProtocolVersionHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeUploadRequest'
      responses:
        '200':
          description: Successfully created upload URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResumeUploadResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/exportedCandidates:
    get:
      operationId: getExportedCandidates
      tags:
        - Data Retrieval
      summary: Get Exported Candidate Profile
      description: >-
        Retrieves limited profile information of candidates exported via
        One-Click Export.

        For more information, refer to the [Retrieve Exported Candidates
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/retrieve-exported-candidates#retrieving-exported-candidate-information).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/QueryTypeParameter'
        - $ref: '#/components/parameters/RequestIdParameter'
      responses:
        '200':
          description: Successfully retrieved exported candidate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportedCandidateResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/ExportedCandidateResponseExample'
        '404':
          description: Export request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/seats:
    get:
      operationId: getRecruiterSeatholders
      tags:
        - Data Retrieval
      summary: Retrieve Recruiter Seatholders
      description: >-
        Retrieves details of contract seat holders including name, email, and
        unique ID.

        For more information, refer to the [Recruiter Seatholders
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/recruiter-system-connect/recruiter-prospect-interactions/recruiter-seatholders).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: seatsByAttributes
        - name: active
          in: query
          required: false
          schema:
            type: boolean
          example: true
        - name: contracts
          in: query
          required: true
          schema:
            type: string
          example: urn:li:contract:12345
        - name: start
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 100
      responses:
        '200':
          description: Successfully retrieved seatholders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeatholdersResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SeatholdersResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/atsEntityAcls:
    put:
      operationId: upsertEntityAcl
      tags:
        - Access Control
      summary: Upsert Entity ACL
      description: >-
        Creates or updates entity ACLs that control visibility of synced
        entities within LinkedIn products.

        For more information, refer to the [Sync ACLs
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#sync-entity-acls).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/RestliMethodHeader'
        - $ref: '#/components/parameters/ContentTypeHeader'
        - name: ids[0].atsEntityAclId
          in: query
          required: true
          schema:
            type: string
          example: ACL-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
        - name: ids[0].atsEntityType
          in: query
          required: true
          schema:
            type: string
            enum:
              - JOB_POSTING
              - CANDIDATE
          example: JOB_POSTING
        - name: ids[0].atsEntityId
          in: query
          required: true
          schema:
            type: string
          example: JOB-2024-001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityAclRequest'
      responses:
        '200':
          description: Successfully upserted entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
              examples:
                SuccessResponse:
                  $ref: '#/components/examples/SuccessResponseExample'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getEntityAcl
      tags:
        - Access Control
      summary: Retrieve Entity ACL
      description: >-
        Retrieves details of previously synced entity ACLs.

        For more information, refer to the [Retrieve Entity ACLs
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#retrieve-entity-acls).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: criteria
        - name: atsEntityId
          in: query
          required: true
          schema:
            type: string
          example: JOB-2024-001
        - name: atsEntityType
          in: query
          required: true
          schema:
            type: string
          example: JOB_POSTING
        - name: dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
        - name: start
          in: query
          required: false
          schema:
            type: integer
          example: 0
        - name: count
          in: query
          required: false
          schema:
            type: integer
          example: 100
      responses:
        '200':
          description: Successfully retrieved entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: ACL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteEntityAcl
      tags:
        - Access Control
      summary: Delete Entity ACL
      description: >-
        Deletes previously synced entity ACLs.

        For more information, refer to the [Delete Entity ACLs
        documentation](https://docs.microsoft.com/en-us/linkedin/talent/middleware-platform/sync-acls#delete-entity-acls).
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - name: ids[0].atsEntityAclId
          in: query
          required: true
          schema:
            type: string
          example: ACL-001
        - name: ids[0].dataProvider
          in: query
          required: true
          schema:
            type: string
          example: ATS
        - name: ids[0].integrationContext
          in: query
          required: true
          schema:
            type: string
          example: urn:li:organization:12345
        - name: ids[0].atsEntityId
          in: query
          required: true
          schema:
            type: string
          example: JOB-2024-001
        - name: ids[0].atsEntityType
          in: query
          required: true
          schema:
            type: string
          example: JOB_POSTING
      responses:
        '200':
          description: Successfully deleted entity ACL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          description: ACL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
