openapi: 3.1.0
info:
  title: linkedin-marketing-campaign-management-api
  description: >-
    Campaign Manager is LinkedIn's online tool for creating and managing ad
    accounts and campaigns. This API provides capabilities for account
    management, campaign group management, campaign management, creative
    management, ad targeting, and forecasting.

    You must apply for access to the Marketing Developer Platform to use these
    APIs.
  version: 1.0.0
  contact:
    name: LinkedIn Marketing API Support
    url: >-
      https://developer.linkedin.com/product-catalog/marketing/campaign-management
servers:
  - url: https://api.linkedin.com/rest
    description: LinkedIn REST API Server
  - url: >-
      http://localhost:8080/rest/linkedin-marketing-campaign-management-api/1.0.0
    description: Sandbox
components:
  securitySchemes:
    OAuth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://www.linkedin.com/oauth/v2/authorization
          tokenUrl: https://www.linkedin.com/oauth/v2/accessToken
          scopes:
            rw_ads: Read and write advertising data
            r_ads: Read advertising data
  schemas:
    AdAccountUser:
      type: object
      properties:
        account:
          type: string
          description: URN of the sponsored account
          example: urn:li:sponsoredAccount:123456
        user:
          type: string
          description: URN of the person
          example: urn:li:person:ABC123def
        role:
          type: string
          enum:
            - ACCOUNT_BILLING_ADMIN
            - ACCOUNT_MANAGER
            - CAMPAIGN_MANAGER
            - CREATIVE_MANAGER
            - VIEWER
          description: Role of the user in the account
          example: VIEWER
      required:
        - account
        - user
        - role
    AdAccountUserCreateRequest:
      type: object
      properties:
        account:
          type: string
          description: URN of the sponsored account
          example: urn:li:sponsoredAccount:123456
        user:
          type: string
          description: URN of the person
          example: urn:li:person:ABC123def
        role:
          type: string
          enum:
            - ACCOUNT_BILLING_ADMIN
            - ACCOUNT_MANAGER
            - CAMPAIGN_MANAGER
            - CREATIVE_MANAGER
            - VIEWER
          description: Role to assign
          example: VIEWER
      required:
        - account
        - user
        - role
    AdAccountUserUpdateRequest:
      type: object
      properties:
        patch:
          type: object
          properties:
            $set:
              $ref: '#/components/schemas/AdAccountUser'
    AdAccount:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier
          example: 123456
        name:
          type: string
          description: Display name
          example: XYZ Company
        currency:
          type: string
          description: Account currency
          example: USD
        type:
          type: string
          enum:
            - BUSINESS
            - ENTERPRISE
          description: Account type
          example: BUSINESS
        status:
          type: string
          enum:
            - ACTIVE
            - CANCELLED
            - DRAFT
            - PENDING_DELETION
            - REMOVED
          description: Account status
          example: ACTIVE
        reference:
          type: string
          description: Organization URN
          example: urn:li:organization:12345678
        test:
          type: boolean
          description: Whether this is a test account
          example: true
        notifiedOnCampaignOptimization:
          type: boolean
          example: true
        notifiedOnCreativeApproval:
          type: boolean
          example: true
        notifiedOnCreativeRejection:
          type: boolean
          example: true
        notifiedOnEndOfCampaign:
          type: boolean
          example: true
    AdAccountCreateRequest:
      type: object
      properties:
        currency:
          type: string
          example: USD
        name:
          type: string
          example: XYZ Company
        notifiedOnCampaignOptimization:
          type: boolean
          example: true
        notifiedOnCreativeApproval:
          type: boolean
          example: true
        notifiedOnCreativeRejection:
          type: boolean
          example: true
        notifiedOnEndOfCampaign:
          type: boolean
          example: true
        reference:
          type: string
          example: urn:li:organization:12345678
        type:
          type: string
          enum:
            - BUSINESS
            - ENTERPRISE
          example: BUSINESS
        test:
          type: boolean
          example: true
      required:
        - currency
        - name
        - reference
        - type
    CampaignGroup:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier
          example: 111222333
        name:
          type: string
          description: Display name
          example: Q1 2024 Campaign Group
        account:
          type: string
          description: Parent account URN
          example: urn:li:sponsoredAccount:123456
        status:
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - CANCELLED
            - DRAFT
            - PAUSED
            - PENDING_DELETION
            - REMOVED
          description: Campaign group status
          example: ACTIVE
        totalBudget:
          $ref: '#/components/schemas/Budget'
        runSchedule:
          $ref: '#/components/schemas/RunSchedule'
    Budget:
      type: object
      properties:
        amount:
          type: string
          description: Budget amount
          example: '1000'
        currencyCode:
          type: string
          description: Currency code
          example: USD
    RunSchedule:
      type: object
      properties:
        start:
          type: integer
          format: int64
          description: Start timestamp in milliseconds
          example: 1647927789001
        end:
          type: integer
          format: int64
          description: End timestamp in milliseconds
          example: 1648186989000
    Campaign:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier
          example: 444555666
        name:
          type: string
          description: Campaign name
          example: Spring Promotion Campaign
        account:
          type: string
          description: Parent account URN
          example: urn:li:sponsoredAccount:123456
        campaignGroup:
          type: string
          description: Parent campaign group URN
          example: urn:li:sponsoredCampaignGroup:111222333
        status:
          type: string
          enum:
            - ACTIVE
            - ARCHIVED
            - CANCELLED
            - DRAFT
            - PAUSED
            - PENDING_DELETION
            - REMOVED
          description: Campaign status
          example: ACTIVE
        type:
          type: string
          enum:
            - SPONSORED_UPDATES
            - SPONSORED_INMAILS
            - TEXT_AD
          description: Campaign type
          example: SPONSORED_UPDATES
        objectiveType:
          type: string
          enum:
            - BRAND_AWARENESS
            - ENGAGEMENT
            - JOB_APPLICANTS
            - LEAD_GENERATION
            - VIDEO_VIEWS
            - WEBSITE_CONVERSIONS
            - WEBSITE_VISITS
          description: Campaign objective
          example: WEBSITE_VISITS
        runSchedule:
          $ref: '#/components/schemas/RunSchedule'
        dailyBudget:
          $ref: '#/components/schemas/Budget'
        totalBudget:
          $ref: '#/components/schemas/Budget'
    CampaignUpdateRequest:
      type: object
      properties:
        patch:
          type: object
          properties:
            $set:
              type: object
              properties:
                status:
                  type: string
                  example: ARCHIVED
                runSchedule:
                  $ref: '#/components/schemas/RunSchedule'
    OrganizationAcl:
      type: object
      properties:
        organization:
          type: string
          description: Organization URN
          example: urn:li:organization:12345678
        role:
          type: string
          enum:
            - ADMINISTRATOR
            - DIRECT_SPONSORED_CONTENT_POSTER
            - RECRUITING_POSTER
            - LEAD_GEN_FORMS_MANAGER
          description: Role in the organization
          example: ADMINISTRATOR
        state:
          type: string
          enum:
            - APPROVED
            - REVOKED
            - REQUESTED
          description: State of the role assignment
          example: APPROVED
    Creative:
      type: object
      properties:
        id:
          type: string
          description: Creative URN
          example: urn:li:sponsoredCreative:777888999
        campaign:
          type: string
          description: Parent campaign URN
          example: urn:li:sponsoredCampaign:444555666
        reference:
          type: string
          description: Reference URN (e.g., UGC post)
          example: urn:li:ugcPost:123456789
        status:
          type: string
          enum:
            - ACTIVE
            - PAUSED
            - DRAFT
            - ARCHIVED
            - CANCELLED
            - PENDING_DELETION
            - REMOVED
          description: Creative status
          example: ACTIVE
        type:
          type: string
          enum:
            - SPONSORED_STATUS_UPDATE
            - SPONSORED_VIDEO
            - CAROUSEL
            - TEXT_AD
            - MESSAGE_AD
          description: Creative type
          example: SPONSORED_VIDEO
    CreativeCreateRequest:
      type: object
      properties:
        campaign:
          type: string
          example: urn:li:sponsoredCampaign:444555666
        reference:
          type: string
          example: urn:li:ugcPost:123456789
        status:
          type: string
          example: ACTIVE
        type:
          type: string
          example: SPONSORED_VIDEO
        variables:
          type: object
          properties:
            data:
              type: object
      required:
        - campaign
        - reference
        - status
        - type
    AudienceCount:
      type: object
      properties:
        total:
          type: integer
          description: Total audience count
          example: 1500000
        activeCount:
          type: integer
          description: Active member count
          example: 1200000
    Paging:
      type: object
      properties:
        start:
          type: integer
          example: 0
        count:
          type: integer
          example: 10
        total:
          type: integer
          example: 100
        links:
          type: array
          items:
            type: string
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          example: 400
        message:
          type: string
          example: Invalid request parameters
        code:
          type: string
          example: INVALID_PARAMS
  examples:
    AdAccountUserCreateExample:
      summary: Create ad account user
      value:
        account: urn:li:sponsoredAccount:123456
        role: VIEWER
        user: urn:li:person:ABC123def
    AdAccountCreateExample:
      summary: Create test ad account
      value:
        currency: USD
        name: XYZ Company
        notifiedOnCampaignOptimization: true
        notifiedOnCreativeApproval: true
        notifiedOnCreativeRejection: true
        notifiedOnEndOfCampaign: true
        reference: urn:li:organization:12345678
        type: BUSINESS
        test: true
    CampaignGroupUpdateExample:
      summary: Update campaign group budget
      value:
        patch:
          $set:
            totalBudget:
              amount: '3000'
              currencyCode: USD
    CampaignArchiveExample:
      summary: Archive a campaign
      value:
        patch:
          $set:
            status: ARCHIVED
security:
  - OAuth2Auth:
      - rw_ads
tags:
  - name: User Access
    description: APIs to manage ad account user access and roles
  - name: Account Management
    description: APIs to create and manage ad accounts
  - name: Campaign Group Management
    description: APIs to create and manage campaign groups
  - name: Campaign Management
    description: APIs to create and manage campaigns
  - name: Creative Management
    description: APIs to create and manage ad creatives
  - name: Audience Counts
    description: APIs to retrieve audience counts based on targeting criteria
paths:
  /adAccountUsers/(account:urn:li:sponsoredAccount:{SponsoredAccountId},user:urn:li:person:{PersonId}):
    put:
      tags:
        - User Access
      summary: Create Ad Account User
      description: Grant a member access to an ad account with a specified role.
      operationId: createAdAccountUser
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: PersonId
          in: path
          required: true
          schema:
            type: string
          example: ABC123def
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdAccountUserCreateRequest'
            examples:
              CreateUser:
                $ref: '#/components/examples/AdAccountUserCreateExample'
      responses:
        '201':
          description: Ad account user created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountUser'
              examples:
                SuccessResponse:
                  value:
                    account: urn:li:sponsoredAccount:123456
                    role: VIEWER
                    user: urn:li:person:ABC123def
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - User Access
      summary: Fetch Ad Account User
      description: Retrieve an ad account user by account and user identifiers.
      operationId: getAdAccountUser
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: PersonId
          in: path
          required: true
          schema:
            type: string
          example: ABC123def
      responses:
        '200':
          description: Ad account user retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountUser'
              examples:
                SuccessResponse:
                  value:
                    account: urn:li:sponsoredAccount:123456
                    role: VIEWER
                    user: urn:li:person:ABC123def
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - User Access
      summary: Update Ad Account User
      description: Update an ad account user's role.
      operationId: updateAdAccountUser
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: PersonId
          in: path
          required: true
          schema:
            type: string
          example: ABC123def
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdAccountUserUpdateRequest'
      responses:
        '200':
          description: Ad account user updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccountUser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - User Access
      summary: Delete Ad Account User
      description: Remove a member from ad account access.
      operationId: deleteAdAccountUser
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: PersonId
          in: path
          required: true
          schema:
            type: string
          example: ABC123def
      responses:
        '204':
          description: Ad account user deleted successfully
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccountUsers:
    get:
      tags:
        - User Access
      summary: Fetch Authenticated User Ad Accounts
      description: Retrieve all ad accounts the authenticated user has access to.
      operationId: getAuthenticatedUserAdAccounts
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - authenticatedUser
          example: authenticatedUser
      responses:
        '200':
          description: Successfully retrieved user's ad accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdAccountUser'
                  paging:
                    $ref: '#/components/schemas/Paging'
              examples:
                SuccessResponse:
                  value:
                    elements:
                      - account: urn:li:sponsoredAccount:123456
                        role: ACCOUNT_MANAGER
                        user: urn:li:person:ABC123def
                      - account: urn:li:sponsoredAccount:789012
                        role: VIEWER
                        user: urn:li:person:ABC123def
                    paging:
                      start: 0
                      count: 10
                      total: 2
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /organizationAcls:
    get:
      tags:
        - User Access
      summary: Fetch Authenticated User Organization Roles
      description: Retrieve organization roles for the authenticated user.
      operationId: getOrganizationAcls
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - roleAssignee
          example: roleAssignee
      responses:
        '200':
          description: Successfully retrieved organization roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationAcl'
                  paging:
                    $ref: '#/components/schemas/Paging'
              examples:
                SuccessResponse:
                  value:
                    elements:
                      - organization: urn:li:organization:12345678
                        role: ADMINISTRATOR
                        state: APPROVED
                    paging:
                      start: 0
                      count: 10
                      total: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts:
    post:
      tags:
        - Account Management
      summary: Create Test Ad Account
      description: Create a new ad account. Set test flag to true for test accounts.
      operationId: createAdAccount
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdAccountCreateRequest'
            examples:
              CreateTestAccount:
                $ref: '#/components/examples/AdAccountCreateExample'
      responses:
        '201':
          description: Ad account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccount'
              examples:
                SuccessResponse:
                  value:
                    id: 123456
                    name: XYZ Company
                    currency: USD
                    type: BUSINESS
                    status: ACTIVE
                    reference: urn:li:organization:12345678
                    test: true
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - Account Management
      summary: Search Ad Accounts By Type
      description: Search for ad accounts by ID, name, reference, type, or status.
      operationId: searchAdAccounts
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - search
          example: search
        - name: search
          in: query
          required: false
          schema:
            type: string
          description: Search criteria
          example: (type:(values:List(BUSINESS)))
      responses:
        '200':
          description: Successfully retrieved ad accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdAccount'
                  paging:
                    $ref: '#/components/schemas/Paging'
              examples:
                SuccessResponse:
                  value:
                    elements:
                      - id: 123456
                        name: XYZ Company
                        currency: USD
                        type: BUSINESS
                        status: ACTIVE
                        reference: urn:li:organization:12345678
                        test: false
                    paging:
                      start: 0
                      count: 10
                      total: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts/{SponsoredAccountId}:
    get:
      tags:
        - Account Management
      summary: Fetch Ad Account By Id
      description: Retrieve an ad account by its ID.
      operationId: getAdAccountById
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
      responses:
        '200':
          description: Successfully retrieved ad account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccount'
              examples:
                SuccessResponse:
                  value:
                    id: 123456
                    name: XYZ Company
                    currency: USD
                    type: BUSINESS
                    status: ACTIVE
                    reference: urn:li:organization:12345678
                    test: false
        '404':
          description: Account not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Account Management
      summary: Update Ad Account Name
      description: Update an ad account using partial update.
      operationId: updateAdAccount
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-Restli-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: SponsoredAccountId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                patch:
                  type: object
                  properties:
                    $set:
                      type: object
                      properties:
                        name:
                          type: string
            examples:
              UpdateName:
                value:
                  patch:
                    $set:
                      name: Updated Ad Account name
      responses:
        '200':
          description: Ad account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts/{AdAccountsId}/adCampaignGroups:
    get:
      tags:
        - Campaign Group Management
      summary: Search Campaign Groups
      description: Search for campaign groups by ID, account, name, and status.
      operationId: searchCampaignGroups
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - search
          example: search
        - name: search
          in: query
          required: false
          schema:
            type: string
          example: (status:(values:List(ACTIVE,DRAFT)))
        - name: sort
          in: query
          required: false
          schema:
            type: string
          example: (field:ID,order:DESCENDING)
      responses:
        '200':
          description: Successfully retrieved campaign groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignGroup'
                  paging:
                    $ref: '#/components/schemas/Paging'
              examples:
                SuccessResponse:
                  value:
                    elements:
                      - id: 111222333
                        name: Q1 2024 Campaign Group
                        account: urn:li:sponsoredAccount:123456
                        status: ACTIVE
                        totalBudget:
                          amount: '1000'
                          currencyCode: USD
                    paging:
                      start: 0
                      count: 10
                      total: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Campaign Group Management
      summary: Delete Multiple Campaign Groups
      description: >-
        Delete multiple campaign groups. Only DRAFT campaign groups can be
        deleted.
      operationId: deleteCampaignGroups
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: ids
          in: query
          required: true
          schema:
            type: string
          example: List(111222333,111222334)
      responses:
        '204':
          description: Campaign groups deleted successfully
        '400':
          description: Bad request - campaign groups not in DRAFT status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts/{AdAccountsId}/adCampaignGroups/{CampaignGroupId}:
    get:
      tags:
        - Campaign Group Management
      summary: Fetch Campaign Group By Id
      description: Retrieve a campaign group by its ID.
      operationId: getCampaignGroupById
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: CampaignGroupId
          in: path
          required: true
          schema:
            type: string
          example: '111222333'
      responses:
        '200':
          description: Successfully retrieved campaign group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGroup'
              examples:
                SuccessResponse:
                  value:
                    id: 111222333
                    name: Q1 2024 Campaign Group
                    account: urn:li:sponsoredAccount:123456
                    status: ACTIVE
                    totalBudget:
                      amount: '1000'
                      currencyCode: USD
        '404':
          description: Campaign group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Campaign Group Management
      summary: Update Campaign Group
      description: Update a campaign group using partial update.
      operationId: updateCampaignGroup
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: CampaignGroupId
          in: path
          required: true
          schema:
            type: string
          example: '111222333'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              UpdateBudget:
                $ref: '#/components/examples/CampaignGroupUpdateExample'
      responses:
        '200':
          description: Campaign group updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignGroup'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
        - Campaign Group Management
      summary: Delete Campaign Group
      description: Delete a campaign group. Only DRAFT campaign groups can be deleted.
      operationId: deleteCampaignGroup
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: CampaignGroupId
          in: path
          required: true
          schema:
            type: string
          example: '111222333'
      responses:
        '204':
          description: Campaign group deleted successfully
        '400':
          description: Bad request - campaign group not in DRAFT status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts/{AdAccountsId}/adCampaigns:
    get:
      tags:
        - Campaign Management
      summary: Search Campaigns
      description: Search for campaigns by various criteria.
      operationId: searchCampaigns
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - search
          example: search
        - name: search.campaignGroup.values[0]
          in: query
          required: false
          schema:
            type: string
          example: urn:li:sponsoredCampaignGroup:111222333
      responses:
        '200':
          description: Successfully retrieved campaigns
          content:
            application/json:
              schema:
                type: object
                properties:
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'
                  paging:
                    $ref: '#/components/schemas/Paging'
              examples:
                SuccessResponse:
                  value:
                    elements:
                      - id: 444555666
                        name: Spring Promotion Campaign
                        account: urn:li:sponsoredAccount:123456
                        campaignGroup: urn:li:sponsoredCampaignGroup:111222333
                        status: ACTIVE
                        type: SPONSORED_UPDATES
                        objectiveType: WEBSITE_VISITS
                    paging:
                      start: 0
                      count: 10
                      total: 1
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /adAccounts/{AdAccountsId}/adCampaigns/{CampaignId}:
    get:
      tags:
        - Campaign Management
      summary: Fetch Campaign By Id
      description: Retrieve a campaign by its ID.
      operationId: getCampaignById
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: X-RestLi-Protocol-Version
          in: header
          required: true
          schema:
            type: string
          example: 2.0.0
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: CampaignId
          in: path
          required: true
          schema:
            type: string
          example: '444555666'
      responses:
        '200':
          description: Successfully retrieved campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
              examples:
                SuccessResponse:
                  value:
                    id: 444555666
                    name: Spring Promotion Campaign
                    account: urn:li:sponsoredAccount:123456
                    campaignGroup: urn:li:sponsoredCampaignGroup:111222333
                    status: ACTIVE
                    type: SPONSORED_UPDATES
                    objectiveType: WEBSITE_VISITS
        '404':
          description: Campaign not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Campaign Management
      summary: Archive Campaign
      description: Update a campaign status to archived.
      operationId: archiveCampaign
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: AdAccountsId
          in: path
          required: true
          schema:
            type: string
          example: '123456'
        - name: CampaignId
          in: path
          required: true
          schema:
            type: string
          example: '444555666'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignUpdateRequest'
            examples:
              ArchiveCampaign:
                $ref: '#/components/examples/CampaignArchiveExample'
      responses:
        '200':
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creatives:
    post:
      tags:
        - Creative Management
      summary: Create Creative
      description: Create a new ad creative.
      operationId: createCreative
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateRequest'
            examples:
              CreateCreative:
                value:
                  campaign: urn:li:sponsoredCampaign:444555666
                  reference: urn:li:ugcPost:123456789
                  status: ACTIVE
                  type: SPONSORED_VIDEO
                  variables:
                    data:
                      com.linkedin.ads.SponsoredVideoCreativeVariables: {}
      responses:
        '201':
          description: Creative created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative'
              examples:
                SuccessResponse:
                  value:
                    id: urn:li:sponsoredCreative:777888999
                    campaign: urn:li:sponsoredCampaign:444555666
                    reference: urn:li:ugcPost:123456789
                    status: ACTIVE
                    type: SPONSORED_VIDEO
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /audienceCounts:
    get:
      tags:
        - Audience Counts
      summary: Get Audience Count By Targeting Criteria
      description: >-
        Get the number of member accounts that fit your targeting criteria.
        Minimum audience size of 300 is required to run a campaign.
      operationId: getAudienceCount
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: ''
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          example: Bearer YOUR_ACCESS_TOKEN
        - name: LinkedIn-Version
          in: header
          required: true
          schema:
            type: string
          example: '202401'
        - name: q
          in: query
          required: true
          schema:
            type: string
            enum:
              - targetingCriteriaV2
          example: targetingCriteriaV2
        - name: targetingCriteria
          in: query
          required: true
          schema:
            type: string
          description: URL-encoded targeting criteria
          example: >-
            (include:(and:List((or:({encoded facet_URN_1}:List({encoded
            facet_URN_1_value_1}))))))
      responses:
        '200':
          description: Successfully retrieved audience count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceCount'
              examples:
                SuccessResponse:
                  value:
                    total: 1500000
                    activeCount: 1200000
        '400':
          description: Bad request - invalid targeting criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
