openapi: 3.1.0
info:
  title: community-management
  description: >-
    **You must apply for access to the Marketing Developer Platform in order to
    use these APIs. See the** [**Developer
    Portal**](https://developer.linkedin.com/product-catalog/marketing/page-management)
    **on how to apply.**


    This collection aims to focus on different Community Management use cases,
    for example, social action notifications, and should be used with the
    **community-management-env-versioning** environment.


    \--All requests for the Community Management API collection are in the
    Restli 2.0 format--


    AuthorizationOAuth 2.0
  version: 1.0.0
servers:
  - url: https://api.linkedin.com
    description: LinkedIn Marketing API Production Server
  - url: http://localhost:8080/rest/community-management/1.0.0
    description: Sandbox
components:
  securitySchemes:
    oauth2Auth:
      type: http
      scheme: oauth2
  schemas:
    CreateAShareWithRequest:
      type: object
      example:
        owner: urn:li:organization:{{organization_id}}
        text:
          annotations:
            - entity: urn:li:organization:1337
              length: 8
              start: 6
          text: Hello LinkedIn world!
        subject: Test Share Subject
        distribution:
          linkedInDistributionTarget: {}
        content:
          contentEntities:
            - entityLocation: https://www.example.com
              thumbnails:
                - resolvedUrl: https://www.example.com/image.jpg
          title: Test Share with Content title
    CreateASubscriptionRequestRequest:
      type: object
      example:
        webhook: https://www.example.com/callback
    FindAdministeredOrganizationBrandsResponse200:
      type: object
      properties:
        paging:
          type: object
          properties:
            start:
              type: integer
            count:
              type: integer
            links:
              type: array
              items: {}
            total:
              type: integer
        elements:
          type: array
          items:
            type: object
            properties:
              name:
                type: object
                properties:
                  localized:
                    type: object
                    properties:
                      en_US:
                        type: string
                  preferredLocale:
                    type: object
                    properties:
                      country:
                        type: string
                      language:
                        type: string
              primaryOrganizationType:
                type: string
              vanityName:
                type: string
              locations:
                type: array
                items: {}
              localizedName:
                type: string
              id:
                type: integer
    LookupByOrganizationPrimaryResponse200:
      type: object
      properties:
        primaryOrganizationType:
          type: string
    FindNonadministeredOrganizationResponse200:
      type: object
      properties:
        results:
          type: object
          properties:
            '3803':
              type: object
              properties:
                name:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                primaryOrganizationType:
                  type: string
                vanityName:
                  type: string
                locations:
                  type: array
                  items:
                    type: object
                    properties:
                      staffCountRange:
                        type: string
                      locationType:
                        type: string
                      address:
                        type: object
                        properties:
                          country:
                            type: string
                localizedName:
                  type: string
                id:
                  type: integer
            '79988552':
              type: object
              properties:
                name:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                primaryOrganizationType:
                  type: string
                vanityName:
                  type: string
                locations:
                  type: array
                  items: {}
                localizedName:
                  type: string
                id:
                  type: integer
        statuses:
          type: object
          properties:
            '3803':
              type: integer
            '79988552':
              type: integer
        errors:
          type: object
          properties: {}
    RetrieveOrganizationFollowerCountResponse200:
      type: object
      properties:
        firstDegreeSize:
          type: integer
    BatchGetOnAdministeredResponse200:
      type: object
      properties:
        results:
          type: object
          properties:
            '89758488':
              type: object
              properties:
                vanityName:
                  type: string
                localizedName:
                  type: string
                website:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                groups:
                  type: array
                  items: {}
                versionTag:
                  type: string
                defaultLocale:
                  type: object
                  properties:
                    country:
                      type: string
                    language:
                      type: string
                alternativeNames:
                  type: array
                  items: {}
                specialties:
                  type: array
                  items: {}
                parentRelationship:
                  type: object
                  properties:
                    relationshipStatus:
                      type: string
                    parent:
                      type: string
                localizedSpecialties:
                  type: array
                  items: {}
                industries:
                  type: array
                  items:
                    type: string
                name:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                primaryOrganizationType:
                  type: string
                id:
                  type: integer
                autoCreated:
                  type: boolean
                localizedWebsite:
                  type: string
        statuses:
          type: object
          properties:
            '35625943':
              type: integer
            '89758488':
              type: integer
        errors:
          type: object
          properties:
            '35625943':
              type: object
              properties:
                message:
                  type: string
                status:
                  type: integer
    RetrieveAnAdministeredOrganizationResponse200:
      type: object
      properties:
        vanityName:
          type: string
        localizedName:
          type: string
        website:
          type: object
          properties:
            localized:
              type: object
              properties:
                en_US:
                  type: string
            preferredLocale:
              type: object
              properties:
                country:
                  type: string
                language:
                  type: string
        groups:
          type: array
          items: {}
        versionTag:
          type: string
        defaultLocale:
          type: object
          properties:
            country:
              type: string
            language:
              type: string
        alternativeNames:
          type: array
          items: {}
        specialties:
          type: array
          items: {}
        parentRelationship:
          type: object
          properties:
            relationshipStatus:
              type: string
            parent:
              type: string
        localizedSpecialties:
          type: array
          items: {}
        industries:
          type: array
          items:
            type: string
        name:
          type: object
          properties:
            localized:
              type: object
              properties:
                en_US:
                  type: string
            preferredLocale:
              type: object
              properties:
                country:
                  type: string
                language:
                  type: string
        primaryOrganizationType:
          type: string
        id:
          type: integer
        autoCreated:
          type: boolean
        localizedWebsite:
          type: string
    BatchGetOnNonadministeredResponse200:
      type: object
      properties:
        results:
          type: object
          properties:
            '35625943':
              type: object
              properties:
                name:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                primaryOrganizationType:
                  type: string
                vanityName:
                  type: string
                localizedName:
                  type: string
                id:
                  type: integer
            '89758488':
              type: object
              properties:
                name:
                  type: object
                  properties:
                    localized:
                      type: object
                      properties:
                        en_US:
                          type: string
                    preferredLocale:
                      type: object
                      properties:
                        country:
                          type: string
                        language:
                          type: string
                primaryOrganizationType:
                  type: string
                vanityName:
                  type: string
                localizedName:
                  type: string
                id:
                  type: integer
                localizedWebsite:
                  type: string
        statuses:
          type: object
          properties:
            '35625943':
              type: integer
            '89758488':
              type: integer
        errors:
          type: object
          properties: {}
  examples:
    FindAdministeredOrganizationBrandsResponse200Example:
      summary: Example 200 response for FindAdministeredOrganizationBrands
      value:
        paging:
          start: 0
          count: 10
          links: []
          total: 2
        elements:
          - name:
              localized:
                en_US: Internal_EI_Demo
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: BRAND
            vanityName: internal-ei-demo
            locations: []
            localizedName: Internal_EI_Demo
            id: 89758488
          - name:
              localized:
                en_US: Internal_EI_TestCompany
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: BRAND
            vanityName: internal-ei-testcompany
            locations: []
            localizedName: Internal_EI_TestCompany
            id: 89757515
    LookupByOrganizationPrimaryResponse200Example:
      summary: Example 200 response for LookupByOrganizationPrimary
      value:
        primaryOrganizationType: NONE
    FindNonadministeredOrganizationResponse200Example:
      summary: Example 200 response for FindNonadministeredOrganization
      value:
        results:
          '3803':
            name:
              localized:
                en_US: New Century
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: NONE
            vanityName: new-century
            locations:
              - staffCountRange: SIZE_1
                locationType: HEADQUARTERS
                address:
                  country: US
              - staffCountRange: SIZE_1
                locationType: OTHER
                address: {}
            localizedName: New Century
            id: 3803
          '79988552':
            name:
              localized:
                en_US: FirstDemoCompany
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: NONE
            vanityName: firstdemocompany
            locations: []
            localizedName: FirstDemoCompany
            id: 79988552
        statuses:
          '3803': 200
          '79988552': 200
        errors: {}
    RetrieveOrganizationFollowerCountResponse200Example:
      summary: Example 200 response for RetrieveOrganizationFollowerCount
      value:
        firstDegreeSize: 0
    BatchGetOnAdministeredResponse200Example:
      summary: Example 200 response for BatchGetOnAdministered
      value:
        results:
          '89758488':
            vanityName: internal-ei-demo
            localizedName: Internal_EI_Demo
            website:
              localized:
                en_US: https://internal-ei-test-company.com
              preferredLocale:
                country: US
                language: en
            groups: []
            versionTag: '3061199585'
            defaultLocale:
              country: US
              language: en
            alternativeNames: []
            specialties: []
            parentRelationship:
              relationshipStatus: ACTIVE
              parent: urn:li:organization:79988552
            localizedSpecialties: []
            industries:
              - urn:li:industry:84
            name:
              localized:
                en_US: Internal_EI_Demo
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: BRAND
            id: 89758488
            autoCreated: false
            localizedWebsite: https://internal-ei-test-company.com
        statuses:
          '35625943': 403
          '89758488': 200
        errors:
          '35625943':
            message: >-
              Viewer don't have permission to the ADMIN_ONLY VisibilityReduction
              for urn:li:organization:35625943
            status: 403
    RetrieveAnAdministeredOrganizationResponse200Example:
      summary: Example 200 response for RetrieveAnAdministeredOrganization
      value:
        vanityName: internal-ei-demo
        localizedName: Internal_EI_Demo
        website:
          localized:
            en_US: https://internal-ei-test-company.com
          preferredLocale:
            country: US
            language: en
        groups: []
        versionTag: '3061199585'
        defaultLocale:
          country: US
          language: en
        alternativeNames: []
        specialties: []
        parentRelationship:
          relationshipStatus: ACTIVE
          parent: urn:li:organization:79988552
        localizedSpecialties: []
        industries:
          - urn:li:industry:84
        name:
          localized:
            en_US: Internal_EI_Demo
          preferredLocale:
            country: US
            language: en
        primaryOrganizationType: BRAND
        id: 89758488
        $URN: urn:li:organizationBrand:89758488
        autoCreated: false
        localizedWebsite: https://internal-ei-test-company.com
    BatchGetOnNonadministeredResponse200Example:
      summary: Example 200 response for BatchGetOnNonadministered
      value:
        results:
          '35625943':
            name:
              localized:
                en_US: Company LGF Showcase
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: BRAND
            vanityName: company-lgf-showcase
            localizedName: Company LGF Showcase
            id: 35625943
          '89758488':
            name:
              localized:
                en_US: Internal_EI_Demo
              preferredLocale:
                country: US
                language: en
            primaryOrganizationType: BRAND
            vanityName: internal-ei-demo
            localizedName: Internal_EI_Demo
            id: 89758488
            localizedWebsite: https://internal-ei-test-company.com
        statuses:
          '35625943': 200
          '89758488': 200
        errors: {}
security:
  - oauth2Auth: []
tags:
  - name: Use Cases
  - name: Use Cases > Organization Access Controls
  - name: Use Cases > Organization Followers
  - name: Use Cases > Organization Lookup
    description: >-
      This API's helps to get and lookup the Organization, Organization's brand
      details.


      For more details, please visit the documentation
      [here](https://learn.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/organization-lookup-api?view=li-lms-2022-11&tabs=http).
  - name: Use Cases > Organization Lookup > Organization Brands
  - name: Use Cases > Organization Lookup > Organizations
  - name: Use Cases > Social Actions Notifications
    description: >-
      The Organization Social Actions Notifications API enables your app to
      notify members about activity on their LinkedIn Company Pages. Use this
      API to build real-time streams for activity on LinkedIn Company Pages.
  - name: >-
      Use Cases > Social Actions Notifications > Organization Social Actions
      Notifications - Pull Workflow
    description: >-
      Notifications for the authenticated member’s organizations can be queried
      using a criteria finder. Notifications are retained and available to pull
      for 60 days.
  - name: >-
      Use Cases > Social Actions Notifications > Organization Social Actions
      Notifications - Push Workflow
    description: >-
      Registered webhook URLs will receive notifications from LinkedIn for
      subscribed events.
  - name: Use Cases > Statistics APIs
    description: This API gets the statistics for Organization, Page and for Share.
  - name: Use Cases > Statistics APIs > Organization Follower Statistics
    description: "This API describes usage of Organization Follower Statistics. Fore more details, check\_[here](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/follower-statistics?tabs=http&view=li-lms-unversioned)."
  - name: Use Cases > Statistics APIs > Organization Page Statistics
    description: "This API describes usage of Organization Page Statistics. Fore more details, check\_[here](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/page-statistics?tabs=http&view=li-lms-unversioned)."
  - name: Use Cases > Statistics APIs > Organization Share Statistics
    description: "This API describes usage of Organization Share Statistics. Fore more details, check\_[here](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/organizations/share-statistics?tabs=http)."
paths:
  /shares:
    post:
      tags:
        - >-
          Use Cases > Social Actions Notifications > Organization Social Actions
          Notifications - Pull Workflow
      summary: 2. Create a share with a Company Mention
      description: "Mention a company name by using the annotations.\_[Learn more](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/share-api?tabs=http#share-text-and-mentions)\_by viewing our public documentation.\n\nThis example uses the LinkedIn organization."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAShareWithRequest'
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: postCreateAShareWith
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /eventSubscriptions/(developerApplication:urn:li:developerApplication:{application_id},user:urn:li:person:{person_id},entity:urn:li:organization:{organization_id},eventType:ORGANIZATION_SOCIAL_ACTION_NOTIFICATIONS):
    put:
      tags:
        - >-
          Use Cases > Social Actions Notifications > Organization Social Actions
          Notifications - Push Workflow
      summary: 3. Create a subscription request
      description: "[Create a subscription](https://docs.microsoft.com/linkedin/marketing/integrations/community-management/organizations/organization-social-action-notifications?tabs=http#creating-and-updating-subscriptions)\_record to include the webhook URL where your app will receive notifications. The subscription request will only succeed if the subscribing member is an administrator of the organization being subscribed to."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateASubscriptionRequestRequest'
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: Linkedin-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: application_id
          in: path
          schema:
            type: string
          required: true
        - name: person_id
          in: path
          schema:
            type: string
          required: true
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: putCreateASubscriptionRequest
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
    get:
      tags:
        - >-
          Use Cases > Social Actions Notifications > Organization Social Actions
          Notifications - Push Workflow
      summary: 5. Retrieve Subscription by Key
      description: "Retrieve all the subscriptions details such as webhook url and expiration for the logged in user.\_[Learn more](https://docs.microsoft.com/linkedin/marketing/integrations/community-management/organizations/organization-social-action-notifications?tabs=http#retrieve-subscriptions-for-an-authenticated-member)\_by viewing our online documentation."
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: application_id
          in: path
          schema:
            type: string
          required: true
        - name: person_id
          in: path
          schema:
            type: string
          required: true
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getRetrieveSubscriptionByKey
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /eventSubscriptions:
    get:
      tags:
        - >-
          Use Cases > Social Actions Notifications > Organization Social Actions
          Notifications - Pull Workflow
      summary: 3. Retrieve Notifications for the authenticated member's organization
      description: "[Learn more](https://docs.microsoft.com/linkedin/marketing/integrations/community-management/organizations/organization-social-action-notifications?tabs=http#pull-organizational-notifications)\_by viewing our public documentation."
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: Linkedin-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: q
          in: query
          schema:
            type: string
          example: subscriberAndEventType
        - name: eventType
          in: query
          schema:
            type: string
          example: ORGANIZATION_SOCIAL_ACTION_NOTIFICATIONS
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getRetrieveNotificationsForThe
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /eventSubscriptions/(developerApplication:{application_id},user:{person_id},entity:{organization_id},eventType:ORGANIZATION_SOCIAL_ACTION_NOTIFICATIONS):
    delete:
      tags:
        - >-
          Use Cases > Social Actions Notifications > Organization Social Actions
          Notifications - Push Workflow
      summary: 6. Remove a Subscription
      description: "[Remove a subscription](https://docs.microsoft.com/linkedin/marketing/integrations/community-management/organizations/organization-social-action-notifications?tabs=http#remove-a-subscription)\_for a your developer application and Organization."
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: application_id
          in: path
          schema:
            type: string
          required: true
        - name: person_id
          in: path
          schema:
            type: string
          required: true
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: deleteRemoveASubscription
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationalEntityFollowerStatistics:
    get:
      tags:
        - Use Cases > Statistics APIs > Organization Follower Statistics
      summary: Time-Bound follower statistics
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: organizationalEntity
        - name: organizationalEntity
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A2414183
        - name: timeIntervals.timeGranularityType
          in: query
          schema:
            type: string
          example: DAY
        - name: timeIntervals.timeRange.start
          in: query
          schema:
            type: integer
          example: '1634018799000'
        - name: timeIntervals.timeRange.end
          in: query
          schema:
            type: integer
          example: '1634623599000'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getTimeboundFollowerStatistics
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationPageStatistics:
    get:
      tags:
        - Use Cases > Statistics APIs > Organization Page Statistics
      summary: Lifetime Page Statistics
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: q
          in: query
          schema:
            type: string
          example: organization
        - name: organization
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A2414183
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getLifetimePageStatistics
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationalEntityShareStatistics:
    get:
      tags:
        - Use Cases > Statistics APIs > Organization Share Statistics
      summary: Time Bound Share Statistics
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: '{{insert_token}}'
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: q
          in: query
          schema:
            type: string
          example: organizationalEntity
        - name: organizationalEntity
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A2414183
        - name: timeIntervals.timeGranularityType
          in: query
          schema:
            type: string
          example: DAY
        - name: timeIntervals.timeRange.start
          in: query
          schema:
            type: integer
          example: '1634018799000'
        - name: timeIntervals.timeRange.end
          in: query
          schema:
            type: integer
          example: '1634623599000'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getTimeBoundShareStatistics
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /peopleTypeahead:
    get:
      tags:
        - Use Cases > Organization Followers
      summary: Search By Keyword
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: organizationFollowers
        - name: keywords
          in: query
          schema:
            type: string
          example: chris
        - name: organization
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A{{organization_id}}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getSearchByKeyword
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /vanityUrl:
    get:
      tags:
        - Use Cases > Organization Followers
      summary: Search By Vanity URL
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: q
          in: query
          schema:
            type: string
          example: vanityUrlAsOrganization
        - name: vanityUrl
          in: query
          schema:
            type: string
          example: https%3A//www.linkedin.com/in/vanityName/
        - name: organization
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A{{organization_id}}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getSearchByVanityUrl
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizations:
    get:
      tags:
        - Use Cases > Organization Lookup > Organization Brands
      summary: Find Administered Organization Brands by Parent Org
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: q
          in: query
          schema:
            type: string
          example: parentOrganization
        - name: parent
          in: query
          schema:
            type: string
          example: urn:li:organization:{{organization_id}}
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:25:11 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 1.0.0
            Content-Length:
              schema:
                type: integer
                example: '554'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZZHGIBuhMvA/BMwKtQ==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693911:t=1671775286:v=2:sig=AQHFo_iP3NTosWNgRAmvCALCbNy0sSET"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693911:t=1671775286:v=2:sig=AQHFo_iP3NTosWNgRAmvCALCbNy0sSET"
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/FindAdministeredOrganizationBrandsResponse200
              examples:
                default:
                  $ref: >-
                    #/components/examples/FindAdministeredOrganizationBrandsResponse200Example
      operationId: getFindAdministeredOrganizationBrands
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizations/{organization_id}:
    get:
      tags:
        - Use Cases > Organization Lookup > Organizations
      summary: Lookup by Organization Primary Type
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: projection
          in: query
          schema:
            type: string
          example: (primaryOrganizationType)
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:20:52 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Content-Length:
              schema:
                type: integer
                example: '34'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZYJXnc/8Zp667Zwp2w==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693652:t=1671775286:v=2:sig=AQHsRg1CU_Z5pEdUEduKGxHDb8kz7ihJ"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693652:t=1671775286:v=2:sig=AQHsRg1CU_Z5pEdUEduKGxHDb8kz7ihJ"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupByOrganizationPrimaryResponse200'
              examples:
                default:
                  $ref: >-
                    #/components/examples/LookupByOrganizationPrimaryResponse200Example
      operationId: getLookupByOrganizationPrimary
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationsLookup:
    get:
      tags:
        - Use Cases > Organization Lookup > Organizations
      summary: Find Non-Administered Organization
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: List({{organization_id}},{{organization_id1}})
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:21:19 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Content-Length:
              schema:
                type: integer
                example: '677'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZYPro52d92kEmROl/w==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693679:t=1671775286:v=2:sig=AQE-fhpSOZouoPwPC-a8jtqO3DIDX2_x"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693679:t=1671775286:v=2:sig=AQE-fhpSOZouoPwPC-a8jtqO3DIDX2_x"
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/FindNonadministeredOrganizationResponse200
              examples:
                default:
                  $ref: >-
                    #/components/examples/FindNonadministeredOrganizationResponse200Example
      operationId: getFindNonadministeredOrganization
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /networkSizes/urn:li:organization:{organization_id}:
    get:
      tags:
        - Use Cases > Organization Lookup > Organizations
      summary: Retrieve Organization Follower Count
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: edgeType
          in: query
          schema:
            type: string
          example: CompanyFollowedByMember
        - name: organization_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            x-restli-protocol-version:
              schema:
                type: string
                example: 1.0.0
            x-source:
              schema:
                type: string
                example: RULE
            Content-Length:
              schema:
                type: integer
                example: '21'
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:21:30 GMT
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZYSU7YcaYlLpJpOzOw==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693690:t=1671775286:v=2:sig=AQEj5sBudl4cE2faxgSGmXR8LuaJ3zBE"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693690:t=1671775286:v=2:sig=AQEj5sBudl4cE2faxgSGmXR8LuaJ3zBE"
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RetrieveOrganizationFollowerCountResponse200
              examples:
                default:
                  $ref: >-
                    #/components/examples/RetrieveOrganizationFollowerCountResponse200Example
      operationId: getRetrieveOrganizationFollowerCount
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationBrands:
    get:
      tags:
        - Use Cases > Organization Lookup > Organization Brands
      summary: Batch GET on Administered Organization Brands
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: List({{organizationBrand_id}},{{organizationBrand_id1}})
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:23:55 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Content-Length:
              schema:
                type: integer
                example: '917'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZY06+GcGRTyaDTTN+g==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693835:t=1671775286:v=2:sig=AQFCBSUN6_0zsTtMP91RSb64EL4GnqtY"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693835:t=1671775286:v=2:sig=AQFCBSUN6_0zsTtMP91RSb64EL4GnqtY"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetOnAdministeredResponse200'
              examples:
                default:
                  $ref: >-
                    #/components/examples/BatchGetOnAdministeredResponse200Example
      operationId: getBatchGetOnAdministered
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationBrands/{organizationBrand_id}:
    get:
      tags:
        - Use Cases > Organization Lookup > Organization Brands
      summary: Retrieve an Administered Organization Brand
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: organizationBrand_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:23:45 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 1.0.0
            Content-Length:
              schema:
                type: integer
                example: '743'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZYypmttHzdbszOY7xA==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693825:t=1671775286:v=2:sig=AQGoeeGwjTLn5Unyu-Q6VKPlP6HXDx0P"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693825:t=1671775286:v=2:sig=AQGoeeGwjTLn5Unyu-Q6VKPlP6HXDx0P"
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/RetrieveAnAdministeredOrganizationResponse200
              examples:
                default:
                  $ref: >-
                    #/components/examples/RetrieveAnAdministeredOrganizationResponse200Example
      operationId: getRetrieveAnAdministeredOrganization
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationBrandsLookup:
    get:
      tags:
        - Use Cases > Organization Lookup > Organization Brands
      summary: Batch GET on Non-Administered Organization Brands
      parameters:
        - name: LinkedIn-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: ids
          in: query
          schema:
            type: string
          example: List({{organizationBrand_id}},{{organizationBrand_id1}})
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Thu, 22 Dec 2022 07:24:08 GMT
            Server:
              schema:
                type: string
                example: Play
            X-RestLi-Protocol-Version:
              schema:
                type: string
                example: 2.0.0
            Content-Length:
              schema:
                type: integer
                example: '596'
            X-Li-Fabric:
              schema:
                type: string
                example: prod-lor1
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Li-Source-Fabric:
              schema:
                type: string
                example: prod-lva1
            X-Li-Pop:
              schema:
                type: string
                example: prod-lva1-x
            X-LI-Proto:
              schema:
                type: string
                example: http/1.1
            X-LI-UUID:
              schema:
                type: string
                example: AAXwZY4BjcseAexl6rVsFQ==
            Set-Cookie:
              schema:
                type: string
                example: >-
                  lidc="b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693848:t=1671775286:v=2:sig=AQFAdBFZKRnFsc0gzQXACtwVuGqOLl06"
            X-LI-Route-Key:
              schema:
                type: string
                example: >-
                  "b=OB39:s=O:r=O:a=O:p=O:g=3210:u=43:x=1:i=1671693848:t=1671775286:v=2:sig=AQFAdBFZKRnFsc0gzQXACtwVuGqOLl06"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetOnNonadministeredResponse200'
              examples:
                default:
                  $ref: >-
                    #/components/examples/BatchGetOnNonadministeredResponse200Example
      operationId: getBatchGetOnNonadministered
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
  /organizationAcls:
    get:
      tags:
        - Use Cases > Organization Access Controls
      summary: Find Organization Access Control
      parameters:
        - name: X-Restli-Protocol-Version
          in: header
          schema:
            type: string
          example: 2.0.0
        - name: Linkedin-Version
          in: header
          schema:
            type: string
          example: '{{insert_version}}'
        - name: q
          in: query
          schema:
            type: string
          example: organization
        - name: organization
          in: query
          schema:
            type: string
          example: urn%3Ali%3Aorganization%3A{{organization_id}}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: getFindOrganizationAccessControl
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: '{}'
        delay: 0
