openapi: 3.1.0
info:
  title: slack-admin-api
  version: 1.0.0
  description: >-
    The Slack Admin API is a set of privileged endpoints primarily under admin.*
    with related SCIM and Audit Logs APIs that lets Enterprise Grid owners and
    admins automate organization-wide management and governance. It covers user
    lifecycle (provision, suspend, assign roles), workspace and channel
    administration across workspaces (create, move, archive channels; manage
    membership and settings), app governance (approve/deny or allowlist/ban apps
    and install them to workspaces), invite request handling, and
    security/compliance controls such as information barriers, session and
    authentication policies, and org-level analytics exports.
  contact:
    name: Slack API Support
    url: https://api.slack.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://slack.com/api
    description: Slack API Production Server
  - url: http://localhost:8080/rest/slack-admin-api/1.0.0
    description: Sandbox
tags:
  - name: Apps
    description: Operations for managing app approvals, restrictions, and requests
  - name: Conversations
    description: Operations for managing channels and conversations
  - name: Emoji
    description: Operations for managing custom emoji
  - name: Invite Requests
    description: Operations for managing workspace invite requests
  - name: Teams
    description: Operations for managing teams and workspaces
  - name: Use Groups
    description: Operations for managing IDP groups and user groups
  - name: Users
    description: Operations for managing users and user sessions
paths:
  /admin.apps.approve:
    post:
      operationId: adminAppsApprove
      summary: Approve App for Installation
      description: Approve an app for installation on a workspace.
      tags:
        - Applications
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppsApproveRequest'
            examples:
              ApproveByAppId:
                $ref: '#/components/examples/AdminAppsApproveByAppIdRequest'
              ApproveByRequestId:
                $ref: '#/components/examples/AdminAppsApproveByRequestIdRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminAppsApproveRequest'
      responses:
        '200':
          description: Successful app approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.apps:write
  /admin.apps.approved.list:
    get:
      operationId: adminAppsApprovedList
      summary: List Approved Apps
      description: List approved apps for an org or workspace.
      tags:
        - Applications
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/TeamIdQuery'
        - $ref: '#/components/parameters/EnterpriseIdQuery'
      responses:
        '200':
          description: Successful response with list of approved apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppsApprovedListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminAppsApprovedListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.apps:read
  /admin.apps.requests.list:
    get:
      operationId: adminAppsRequestsList
      summary: List App Requests
      description: List app requests for a team/workspace.
      tags:
        - Applications
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/TeamIdQuery'
      responses:
        '200':
          description: Successful response with list of app requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppsRequestsListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminAppsRequestsListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                MissingScope:
                  $ref: '#/components/examples/MissingScopeErrorExample'
      security:
        - SlackAuth:
            - admin.apps:read
  /admin.apps.restrict:
    post:
      operationId: adminAppsRestrict
      summary: Restrict App Installation
      description: Restrict an app for installation on a workspace.
      tags:
        - Applications
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminAppsRestrictRequest'
            examples:
              RestrictByAppId:
                $ref: '#/components/examples/AdminAppsRestrictByAppIdRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminAppsRestrictRequest'
      responses:
        '200':
          description: Successful app restriction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.apps:write
  /admin.apps.restricted.list:
    get:
      operationId: adminAppsRestrictedList
      summary: List Restricted Apps
      description: List restricted apps for an org or workspace.
      tags:
        - Applications
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/TeamIdQuery'
        - $ref: '#/components/parameters/EnterpriseIdQuery'
      responses:
        '200':
          description: Successful response with list of restricted apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAppsRestrictedListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminAppsRestrictedListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.apps:read
  /admin.conversations.archive:
    post:
      operationId: adminConversationsArchive
      summary: Archive Channel
      description: Archive a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsArchiveRequest'
            examples:
              ArchiveChannel:
                $ref: '#/components/examples/AdminConversationsArchiveRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsArchiveRequest'
      responses:
        '200':
          description: Successful channel archive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsArchiveErrorResponse'
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.convertToPrivate:
    post:
      operationId: adminConversationsConvertToPrivate
      summary: Convert Channel to Private
      description: Convert a public channel to a private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsConvertToPrivateRequest'
            examples:
              ConvertChannel:
                $ref: >-
                  #/components/examples/AdminConversationsConvertToPrivateRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsConvertToPrivateRequest'
      responses:
        '200':
          description: Successful channel conversion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsConvertToPrivateErrorResponse
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.create:
    post:
      operationId: adminConversationsCreate
      summary: Create Channel
      description: Create a public or private channel-based conversation.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsCreateRequest'
            examples:
              CreatePublicChannel:
                $ref: >-
                  #/components/examples/AdminConversationsCreatePublicRequestExample
              CreatePrivateChannel:
                $ref: >-
                  #/components/examples/AdminConversationsCreatePrivateRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsCreateRequest'
      responses:
        '200':
          description: Successful channel creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsCreateResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminConversationsCreateSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsCreateErrorResponse'
              examples:
                NameTaken:
                  $ref: '#/components/examples/NameTakenErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.delete:
    post:
      operationId: adminConversationsDelete
      summary: Delete Channel
      description: Delete a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsDeleteRequest'
            examples:
              DeleteChannel:
                $ref: '#/components/examples/AdminConversationsDeleteRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsDeleteRequest'
      responses:
        '200':
          description: Successful channel deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsDeleteErrorResponse'
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.disconnectShared:
    post:
      operationId: adminConversationsDisconnectShared
      summary: Disconnect Shared Channel
      description: Disconnect a connected channel from one or more workspaces.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsDisconnectSharedRequest'
            examples:
              DisconnectChannel:
                $ref: >-
                  #/components/examples/AdminConversationsDisconnectSharedRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsDisconnectSharedRequest'
      responses:
        '200':
          description: Successful disconnect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsDisconnectSharedErrorResponse
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      operationId: adminConversationsEkmListOriginalConnectedChannelInfo
      summary: List Original Connected Channel Info for EKM
      description: >-
        List all disconnected channels and their original channel IDs for key
        revocation with EKM.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - name: channel_ids
          in: query
          description: A comma-separated list of channels to filter to.
          schema:
            type: string
        - name: team_ids
          in: query
          description: A comma-separated list of workspaces to filter channels by.
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Successful response with channel info
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsEkmListOriginalConnectedChannelInfoResponse
              examples:
                Success:
                  $ref: >-
                    #/components/examples/AdminConversationsEkmListSuccessExample
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:read
  /admin.conversations.getConversationPrefs:
    get:
      operationId: adminConversationsGetConversationPrefs
      summary: Get Conversation Preferences
      description: Get conversation preferences for a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: channel_id
          in: query
          description: The channel to get preferences for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with conversation preferences
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsGetConversationPrefsResponse
              examples:
                Success:
                  $ref: >-
                    #/components/examples/AdminConversationsGetConversationPrefsSuccessExample
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsGetConversationPrefsErrorResponse
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:read
  /admin.conversations.getTeams:
    get:
      operationId: adminConversationsGetTeams
      summary: Get Connected Workspaces
      description: Get all workspaces a channel is connected to within the Enterprise org.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: channel_id
          in: query
          description: The channel to get connected workspaces for.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with team IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsGetTeamsResponse'
              examples:
                Success:
                  $ref: >-
                    #/components/examples/AdminConversationsGetTeamsSuccessExample
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsGetTeamsErrorResponse'
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:read
  /admin.conversations.invite:
    post:
      operationId: adminConversationsInvite
      summary: Invite Users to Channel
      description: Invite a user to a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsInviteRequest'
            examples:
              InviteUsers:
                $ref: '#/components/examples/AdminConversationsInviteRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsInviteRequest'
      responses:
        '200':
          description: Successful invite
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsInviteErrorResponse'
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.rename:
    post:
      operationId: adminConversationsRename
      summary: Rename Channel
      description: Rename a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsRenameRequest'
            examples:
              RenameChannel:
                $ref: '#/components/examples/AdminConversationsRenameRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsRenameRequest'
      responses:
        '200':
          description: Successful rename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsRenameErrorResponse'
              examples:
                NameTaken:
                  $ref: '#/components/examples/NameTakenErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.restrictAccess.addGroup:
    post:
      operationId: adminConversationsRestrictAccessAddGroup
      summary: Add IDP Group to Channel Allowlist
      description: Add an allowlist of IDP groups for accessing a channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminConversationsRestrictAccessAddGroupRequest
            examples:
              AddGroup:
                $ref: >-
                  #/components/examples/AdminConversationsRestrictAccessAddGroupRequestExample
      responses:
        '200':
          description: Successful group addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.restrictAccess.listGroups:
    get:
      operationId: adminConversationsRestrictAccessListGroups
      summary: List IDP Groups for Channel
      description: List all IDP Groups linked to a channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - name: channel_id
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TeamIdQuery'
      responses:
        '200':
          description: Successful response with group IDs
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsRestrictAccessListGroupsResponse
              examples:
                Success:
                  $ref: >-
                    #/components/examples/AdminConversationsRestrictAccessListGroupsSuccessExample
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:read
  /admin.conversations.restrictAccess.removeGroup:
    post:
      operationId: adminConversationsRestrictAccessRemoveGroup
      summary: Remove IDP Group from Channel
      description: Remove a linked IDP group from a private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: >-
          https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminConversationsRestrictAccessRemoveGroupRequest
            examples:
              RemoveGroup:
                $ref: >-
                  #/components/examples/AdminConversationsRestrictAccessRemoveGroupRequestExample
      responses:
        '200':
          description: Successful group removal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.search:
    get:
      operationId: adminConversationsSearch
      summary: Search Channels
      description: Search for public or private channels in an Enterprise organization.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: team_ids
          in: query
          description: Comma separated string of team IDs.
          schema:
            type: string
        - name: query
          in: query
          description: Name of the channel to query by.
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of items to return (1-20).
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
        - $ref: '#/components/parameters/CursorParam'
        - name: search_channel_types
          in: query
          description: The type of channel to include or exclude.
          schema:
            type: string
        - name: sort
          in: query
          description: Sort order (relevant, name, member_count, created).
          schema:
            type: string
            enum:
              - relevant
              - name
              - member_count
              - created
        - name: sort_dir
          in: query
          description: Sort direction (asc or desc).
          schema:
            type: string
            enum:
              - asc
              - desc
      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsSearchResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminConversationsSearchSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsSearchErrorResponse'
              examples:
                NotAnEnterprise:
                  $ref: '#/components/examples/NotAnEnterpriseErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:read
  /admin.conversations.setConversationPrefs:
    post:
      operationId: adminConversationsSetConversationPrefs
      summary: Set Conversation Preferences
      description: Set the posting permissions for a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setConversationPrefs
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/AdminConversationsSetConversationPrefsRequest
            examples:
              SetPrefs:
                $ref: >-
                  #/components/examples/AdminConversationsSetConversationPrefsRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: >-
                #/components/schemas/AdminConversationsSetConversationPrefsRequest
      responses:
        '200':
          description: Successful preference update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/AdminConversationsSetConversationPrefsErrorResponse
              examples:
                ChannelNotFound:
                  $ref: '#/components/examples/ChannelNotFoundErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.setTeams:
    post:
      operationId: adminConversationsSetTeams
      summary: Set Channel Workspaces
      description: Set the workspaces that connect to a channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsSetTeamsRequest'
            examples:
              SetTeams:
                $ref: '#/components/examples/AdminConversationsSetTeamsRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsSetTeamsRequest'
      responses:
        '200':
          description: Successful team assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.conversations.unarchive:
    post:
      operationId: adminConversationsUnarchive
      summary: Unarchive Channel
      description: Unarchive a public or private channel.
      tags:
        - Conversations
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.unarchive
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConversationsUnarchiveRequest'
            examples:
              UnarchiveChannel:
                $ref: >-
                  #/components/examples/AdminConversationsUnarchiveRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminConversationsUnarchiveRequest'
      responses:
        '200':
          description: Successful unarchive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminConversationsUnarchiveErrorResponse'
              examples:
                ChannelNotArchived:
                  $ref: '#/components/examples/ChannelNotArchivedErrorExample'
      security:
        - SlackAuth:
            - admin.conversations:write
  /admin.emoji.add:
    post:
      operationId: adminEmojiAdd
      summary: Add Emoji
      description: Add an emoji.
      tags:
        - Emoji
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminEmojiAddRequest'
            examples:
              AddEmoji:
                $ref: '#/components/examples/AdminEmojiAddRequestExample'
      responses:
        '200':
          description: Successful emoji addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.emoji.addAlias:
    post:
      operationId: adminEmojiAddAlias
      summary: Add Emoji Alias
      description: Add an emoji alias.
      tags:
        - Emoji
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminEmojiAddAliasRequest'
            examples:
              AddAlias:
                $ref: '#/components/examples/AdminEmojiAddAliasRequestExample'
      responses:
        '200':
          description: Successful alias addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.emoji.list:
    get:
      operationId: adminEmojiList
      summary: List Emoji
      description: List emoji for an Enterprise Grid organization.
      tags:
        - Emoji
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful emoji list response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminEmojiListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminEmojiListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:read
  /admin.emoji.remove:
    post:
      operationId: adminEmojiRemove
      summary: Remove Emoji
      description: Remove an emoji across an Enterprise Grid organization.
      tags:
        - Emoji
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminEmojiRemoveRequest'
            examples:
              RemoveEmoji:
                $ref: '#/components/examples/AdminEmojiRemoveRequestExample'
      responses:
        '200':
          description: Successful emoji removal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.emoji.rename:
    post:
      operationId: adminEmojiRename
      summary: Rename Emoji
      description: Rename an emoji.
      tags:
        - Emoji
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminEmojiRenameRequest'
            examples:
              RenameEmoji:
                $ref: '#/components/examples/AdminEmojiRenameRequestExample'
      responses:
        '200':
          description: Successful emoji rename
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.Invite Requests.approve:
    post:
      operationId: adminInvite RequestsApprove
      summary: Approve Invite Request
      description: Approve a workspace invite request.
      tags:
        - Invite Requests
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Invite Requests.approve
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInvite RequestsApproveRequest'
            examples:
              ApproveRequest:
                $ref: '#/components/examples/AdminInviteRequestsApproveRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminInvite RequestsApproveRequest'
      responses:
        '200':
          description: Successful approval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.invites:write
  /admin.Invite Requests.approved.list:
    get:
      operationId: adminInvite RequestsApprovedList
      summary: List Approved Invite Requests
      description: List all approved workspace invite requests.
      tags:
        - Invite Requests
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Invite Requests.approved.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - $ref: '#/components/parameters/TeamIdQuery'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.invites:read
  /admin.Invite Requests.denied.list:
    get:
      operationId: adminInvite RequestsDeniedList
      summary: List Denied Invite Requests
      description: List all denied workspace invite requests.
      tags:
        - Invite Requests
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Invite Requests.denied.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - $ref: '#/components/parameters/TeamIdQuery'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.invites:read
  /admin.Invite Requests.deny:
    post:
      operationId: adminInvite RequestsDeny
      summary: Deny Invite Request
      description: Deny a workspace invite request.
      tags:
        - Invite Requests
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Invite Requests.deny
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminInvite RequestsDenyRequest'
            examples:
              DenyRequest:
                $ref: '#/components/examples/AdminInviteRequestsDenyRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminInvite RequestsDenyRequest'
      responses:
        '200':
          description: Successful denial
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.invites:write
  /admin.Invite Requests.list:
    get:
      operationId: adminInvite RequestsList
      summary: List Pending Invite Requests
      description: List all pending workspace invite requests.
      tags:
        - Invite Requests
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Invite Requests.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - $ref: '#/components/parameters/TeamIdQuery'
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.invites:read
  /admin.teams.admins.list:
    get:
      operationId: adminTeamsAdminsList
      summary: List Workspace Admins
      description: List all of the admins on a given workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - name: team_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with admin IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTeamsAdminsListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminTeamsAdminsListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:read
  /admin.teams.create:
    post:
      operationId: adminTeamsCreate
      summary: Create Enterprise Team
      description: Create an Enterprise team.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTeamsCreateRequest'
            examples:
              CreateTeam:
                $ref: '#/components/examples/AdminTeamsCreateRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsCreateRequest'
      responses:
        '200':
          description: Successful team creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTeamsCreateResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminTeamsCreateSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.teams.list:
    get:
      operationId: adminTeamsList
      summary: List Enterprise Teams
      description: List all teams on an Enterprise organization.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: limit
          in: query
          description: Maximum number of items to return (1-100).
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Successful response with teams list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTeamsListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminTeamsListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:read
  /admin.teams.owners.list:
    get:
      operationId: adminTeamsOwnersList
      summary: List Workspace Owners
      description: List all of the owners on a given workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenQuery'
        - name: team_id
          in: query
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Successful response with owner IDs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTeamsOwnersListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminTeamsOwnersListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:read
  /admin.teams.settings.info:
    get:
      operationId: adminTeamsSettingsInfo
      summary: Get Workspace Settings
      description: Fetch information about settings in a workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: team_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response with team settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminTeamsSettingsInfoResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminTeamsSettingsInfoSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:read
  /admin.teams.settings.setDefaultChannels:
    post:
      operationId: adminTeamsSettingsSetDefaultChannels
      summary: Set Default Channels
      description: Set the default channels of a workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetDefaultChannelsRequest'
            examples:
              SetDefaultChannels:
                $ref: >-
                  #/components/examples/AdminTeamsSettingsSetDefaultChannelsRequestExample
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.teams.settings.setDescription:
    post:
      operationId: adminTeamsSettingsSetDescription
      summary: Set Workspace Description
      description: Set the description of a given workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetDescriptionRequest'
            examples:
              SetDescription:
                $ref: >-
                  #/components/examples/AdminTeamsSettingsSetDescriptionRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetDescriptionRequest'
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.teams.settings.setDiscoverability:
    post:
      operationId: adminTeamsSettingsSetDiscoverability
      summary: Set Workspace Discoverability
      description: Set the discoverability of a given workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetDiscoverabilityRequest'
            examples:
              SetDiscoverability:
                $ref: >-
                  #/components/examples/AdminTeamsSettingsSetDiscoverabilityRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetDiscoverabilityRequest'
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.teams.settings.setIcon:
    post:
      operationId: adminTeamsSettingsSetIcon
      summary: Set Workspace Icon
      description: Sets the icon of a workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetIconRequest'
            examples:
              SetIcon:
                $ref: '#/components/examples/AdminTeamsSettingsSetIconRequestExample'
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.teams.settings.setName:
    post:
      operationId: adminTeamsSettingsSetName
      summary: Set Workspace Name
      description: Set the name of a given workspace.
      tags:
        - Teams
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetNameRequest'
            examples:
              SetName:
                $ref: '#/components/examples/AdminTeamsSettingsSetNameRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminTeamsSettingsSetNameRequest'
      responses:
        '200':
          description: Successful update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.Use Groups.addChannels:
    post:
      operationId: adminUse GroupsAddChannels
      summary: Add Default Channels to IDP Group
      description: Add one or more default channels to an IDP group.
      tags:
        - Use Groups
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Use Groups.addChannels
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsAddChannelsRequest'
            examples:
              AddChannels:
                $ref: '#/components/examples/AdminUse GroupsAddChannelsRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsAddChannelsRequest'
      responses:
        '200':
          description: Successful channel addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                NotAnAdmin:
                  $ref: '#/components/examples/NotAnAdminErrorExample'
      security:
        - SlackAuth:
            - admin.Use Groups:write
  /admin.Use Groups.addTeams:
    post:
      operationId: adminUse GroupsAddTeams
      summary: Add Workspaces to IDP Group
      description: >-
        Associate one or more default workspaces with an organization-wide IDP
        group.
      tags:
        - Use Groups
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Use Groups.addTeams
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsAddTeamsRequest'
            examples:
              AddTeams:
                $ref: '#/components/examples/AdminUse GroupsAddTeamsRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsAddTeamsRequest'
      responses:
        '200':
          description: Successful team addition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.teams:write
  /admin.Use Groups.listChannels:
    get:
      operationId: adminUse GroupsListChannels
      summary: List IDP Group Channels
      description: List the channels linked to an org-level IDP group.
      tags:
        - Use Groups
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Use Groups.listChannels
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: usergroup_id
          in: query
          description: ID of the IDP group to list default channels for.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TeamIdQuery'
        - name: include_num_members
          in: query
          description: Flag to include or exclude the count of members per channel.
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response with channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUse GroupsListChannelsResponse'
              examples:
                Success:
                  $ref: >-
                    #/components/examples/AdminUse
                    GroupsListChannelsSuccessExample
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                NotAnAdmin:
                  $ref: '#/components/examples/NotAnAdminErrorExample'
      security:
        - SlackAuth:
            - admin.Use Groups:read
  /admin.Use Groups.removeChannels:
    post:
      operationId: adminUse GroupsRemoveChannels
      summary: Remove Channels from IDP Group
      description: Remove one or more default channels from an org-level IDP group.
      tags:
        - Use Groups
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.Use Groups.removeChannels
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsRemoveChannelsRequest'
            examples:
              RemoveChannels:
                $ref: >-
                  #/components/examples/AdminUse
                  GroupsRemoveChannelsRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUse GroupsRemoveChannelsRequest'
      responses:
        '200':
          description: Successful channel removal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                NotAnAdmin:
                  $ref: '#/components/examples/NotAnAdminErrorExample'
      security:
        - SlackAuth:
            - admin.Use Groups:write
  /admin.users.assign:
    post:
      operationId: adminUsersAssign
      summary: Assign User to Workspace
      description: Add an Enterprise user to a workspace.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.assign
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersAssignRequest'
            examples:
              AssignUser:
                $ref: '#/components/examples/AdminUsersAssignRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersAssignRequest'
      responses:
        '200':
          description: Successful user assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.invite:
    post:
      operationId: adminUsersInvite
      summary: Invite User to Workspace
      description: Invite a user to a workspace.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.invite
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersInviteRequest'
            examples:
              InviteUser:
                $ref: '#/components/examples/AdminUsersInviteRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersInviteRequest'
      responses:
        '200':
          description: Successful user invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.list:
    get:
      operationId: adminUsersList
      summary: List Workspace Users
      description: List users on a workspace.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.list
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
        - name: team_id
          in: query
          description: The ID (T1234) of the workspace.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/CursorParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Successful response with users list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUsersListResponse'
              examples:
                Success:
                  $ref: '#/components/examples/AdminUsersListSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:read
  /admin.users.remove:
    post:
      operationId: adminUsersRemove
      summary: Remove User from Workspace
      description: Remove a user from a workspace.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.remove
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersRemoveRequest'
            examples:
              RemoveUser:
                $ref: '#/components/examples/AdminUsersRemoveRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersRemoveRequest'
      responses:
        '200':
          description: Successful user removal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.session.invalidate:
    post:
      operationId: adminUsersSessionInvalidate
      summary: Invalidate User Session
      description: Invalidate a single session for a user by session_id.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.session.invalidate
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSessionInvalidateRequest'
            examples:
              InvalidateSession:
                $ref: >-
                  #/components/examples/AdminUsersSessionInvalidateRequestExample
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSessionInvalidateRequest'
      responses:
        '200':
          description: Successful session invalidation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.session.reset:
    post:
      operationId: adminUsersSessionReset
      summary: Reset User Sessions
      description: Wipes all valid sessions on all devices for a given user.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.session.reset
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSessionResetRequest'
            examples:
              ResetSession:
                $ref: '#/components/examples/AdminUsersSessionResetRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSessionResetRequest'
      responses:
        '200':
          description: Successful session reset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.setAdmin:
    post:
      operationId: adminUsersSetAdmin
      summary: Set User as Admin
      description: Set an existing guest, regular user, or owner to be an admin user.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setAdmin
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSetAdminRequest'
            examples:
              SetAdmin:
                $ref: '#/components/examples/AdminUsersSetAdminRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSetAdminRequest'
      responses:
        '200':
          description: Successful admin assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.setExpiration:
    post:
      operationId: adminUsersSetExpiration
      summary: Set Guest User Expiration
      description: Set an expiration for a guest user.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setExpiration
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSetExpirationRequest'
            examples:
              SetExpiration:
                $ref: '#/components/examples/AdminUsersSetExpirationRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSetExpirationRequest'
      responses:
        '200':
          description: Successful expiration setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.setOwner:
    post:
      operationId: adminUsersSetOwner
      summary: Set User as Owner
      description: >-
        Set an existing guest, regular user, or admin user to be a workspace
        owner.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setOwner
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSetOwnerRequest'
            examples:
              SetOwner:
                $ref: '#/components/examples/AdminUsersSetOwnerRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSetOwnerRequest'
      responses:
        '200':
          description: Successful owner assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
                Success:
                  $ref: '#/components/examples/DefaultSuccessExample'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultErrorResponse'
              examples:
                InvalidAuth:
                  $ref: '#/components/examples/InvalidAuthErrorExample'
      security:
        - SlackAuth:
            - admin.users:write
  /admin.users.setRegular:
    post:
      operationId: adminUsersSetRegular
      summary: Set User as Regular
      description: Set an existing guest user, admin user, or owner to be a regular user.
      tags:
        - Users
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setRegular
      x-microcks-operation:
        dispatcher: FALLBACK
        dispatcherRules: |
          {
            "dispatcher": "FALLBACK",
            "dispatcherRules": ""
          }
        delay: 100
      parameters:
        - $ref: '#/components/parameters/TokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUsersSetRegularRequest'
            examples:
              SetRegular:
                $ref: '#/components/examples/AdminUsersSetRegularRequestExample'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AdminUsersSetRegularRequest'
      responses:
        '200':
          description: Successful regular user assignment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultSuccessResponse'
              examples:
[...]
